﻿.MasterPageTable
{
    width: 100%;
   
}
.MasterPageTableWhite
{
    width: 100%;
    background-color: #FFFFFF;
}
.LightColor
{
    background-color: #E4DFD4;
}
.MediumColor
{
    background-color: #D1C9B8;
}
.DarkColor
{
    background-color: #B1A491;
}
.MasterPageTable_TopTD
{
    text-align: left;
    vertical-align: top;
    width: 100%;
   
}
.invisiblebutton
{
    display: none;
    width: 0px;
    height: 0px;
    line-height: 0;
}
.donotwrap
{
    white-space: nowrap;
    vertical-align: bottom;
    margin-left: 8px;
    margin-top: 12px;
}
.SettingsLink
{
    text-decoration: none;
    cursor: pointer;
    color: Blue;
    margin-left: 8px;
    margin-right: 6px;
}
.LogoutLink
{
    text-decoration: none;
    cursor: pointer;
    color: Blue;
    margin-left: 8px;
    margin-right: 2px;
}
.shoppingcart
{
    white-space: nowrap;
    margin-left: 2px;
    font-size: 11px;
    margin-right: 6px;
    color: Blue;
    text-decoration: none;
}
.dontwrap
{
    white-space: nowrap;
    margin-right: 4px;
    margin-left: 2px;
    font-size: 11px;
}
.dontwrapleft
{
    white-space: nowrap;
    margin-right: 6px;
    margin-left: 2px;
    font-size: 11px;
}
.dontwrapleft1
{
    white-space: nowrap;
    margin-right: 1px;
    margin-left: 2px;
    font-size: 11px;
    text-align: right;
}
.changeAcctLink
{
    white-space: nowrap;
    margin-right: 6px;
    margin-left: 2px;
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    color: Blue;
}
.leftmargin
{
    margin-left: 18px;
    margin-right: 12px;
}




/*Label drop down box Styles Starts*/
.DropDownLabelStyle95
{
    height: 21px;
    width: 235px;
}
.Labelbox
{
    border: none;
    width: 230px;
    height: 21px;
    text-align: right;
}
.Labelbox .image
{
    background-image: url('../../Images/dnarrow.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 12px;
    width: 12px;
    float: right;
    padding-top: 0px;
}
.HellowWorldPopup
{
    min-width: 200px;
    min-height: 120px;
    background: white;
    border: 5px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-top-color: #ababab;
    border-right-color: #ababab;
    border-bottom-color: #ababab;
    border-left-color: #ababab;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}
.PopupHeader
{
    background: #fff;
    padding: 3px 5px;
    font: bold 18px/41px Tahoma, Geneva, sans-serif;
    color: #000 !important;
    z-index: 1000000;
}
.pnlPopUp
{
    z-index: 100001;
    position: absolute;
}
/*Label drop down box Styles Ends*/

.RoundedCornerTextBox
{
    height: 18px;
    width: 400px;
    padding-left: 5px;
    padding-top: 2px;
    /*
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
*/
}


/*Search text box Styles Starts*/
.searchTextbox
{
    border: solid 0px Gray;    
    border-style:inset;    
    width: 435px;
    height: 22px;
    text-align: left;
    background-color: White;
        /*
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
*/
}

.searchTextbox .image
{
    background-image: url('../../Images/Search_White.png');
    background-repeat: no-repeat;
    background-position: left;    
    height: 18px;
    width: 18px;
    float: right;
    padding-top: 2px;
    padding-right: 3px;
}
/*New Search box Styles Ends*/

.DarkestColor
{    
    background-color:#B1A491;  
    height:3px;  
}

.CartRightBoarder
{
    border-right:1px solid #B1A491;
}

.CartRightNoBoarder
{
    border-right:0px solid #B1A491;
}

.MenuLink
{
    text-decoration: none;
    cursor: pointer;
    color: Blue;  
    
    white-space: nowrap;
    margin-right: 4px;
    margin-left: 2px;
    font-size: 11px;
}
