﻿.MasterPageTable
{
    width: 100%;
    background-color: #E4DFD4;
}
.MasterPageTableWhite
{
    width: 100%;
    background-color: #FFFFFF;
}
.LightColor
{
    background-color: #E4DFD4;
}
.MediumColor
{
    background-color: #D1C9B8;
}
.DarkColor
{
    background-color: #B1A491;
}
.MasterPageTable_TopTD
{
	text-align: left;
	vertical-align: top;
	width: 100%;
	background-color: #E4DFD4;
}
.invisiblebutton
{
    display: none;
    width: 0px;
    height: 0px;
    line-height: 0;
}
.donotwrap
{
    white-space: nowrap;
    vertical-align: bottom;
    margin-left: 8px;
    margin-top: 12px;
}
.SettingsLink
{
    text-decoration: none;
    cursor: pointer;
    color: Blue;
    margin-left: 8px;
    margin-right: 6px;
}
.LogoutLink
{
    text-decoration: none;
    cursor: pointer;
    color: Blue;
    margin-left: 8px;
    margin-right: 2px;
}
.shoppingcart
{
    white-space: nowrap;
    margin-left: 2px;
    font-size: 11px;
    margin-right: 6px;
    color: Blue;
    text-decoration: none;
}
.dontwrap
{
    white-space: nowrap;
    margin-right: 4px;
    margin-left: 2px;
    font-size: 11px;
}
.dontwrapleft
{
    white-space: nowrap;
    margin-right: 6px;
    margin-left: 2px;
    font-size: 11px;
}
.changeAcctLink
{
    white-space: nowrap;
    margin-right: 6px;
    margin-left: 2px;
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    color: Blue;
}
.leftmargin
{
    margin-left: 18px;
    margin-right: 12px;
}