<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ClientSideCalendar.ascx.cs" Inherits="UserControls_ClientSideCalendar" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<cc1:calendarextender id="CalendarExtender1" runat="server"
        targetcontrolid="TextBox1" Animated="False"> </cc1:calendarextender>
<div class="CalendarDIV">        
    <asp:TextBox ID="TextBox1" runat="server" Width="100px"></asp:TextBox>
</div>    
