<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LoginAccepted.ascx.cs" Inherits="UserControls_LoginAccepted" %>
<table width="100%">
    <tr>
        <td>
        </td>
        <td align="center">
            <asp:Label ID="Label1" runat="server" CssClass="FieldLabel" Text="Login Accepted..."></asp:Label></td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>
