<%@ Page Language="C#" MasterPageFile="~/MasterPages/PlainMaster.master" AutoEventWireup="true"
    CodeFile="ChangePassword.aspx.cs" Inherits="ChangePassword"  %>

<%@ Register Src="UserControls/PasswordMaint.ascx" TagName="PasswordMaint" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMaster1" runat="Server">
    
    <div id="body-container">
        <div class="mid-container">
            <div class="container-sec">
            <div class="custom-grid abc" >
                <uc1:PasswordMaint ID="PasswordMaint1" runat="server" />
          
            </div>
            </div>
            </div>
        </div>
</asp:Content>
