﻿<%@ Page Language="C#" MaintainScrollPositionOnPostback="true" MasterPageFile="~/MasterPages/SecureMaster.master"
    AutoEventWireup="true" CodeFile="CQPdfViewer.aspx.cs" Inherits="CQPdfViewer" %>

<%@ Register Src="UserControls/CQPdfViewer.ascx" TagName="CQPdfViewer" TagPrefix="uc1" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="cphMaster1">
    <uc1:CQPdfViewer ID="CQPdfViewer1" runat="server" />
</asp:Content>
