﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/PlainMaster.master" AutoEventWireup="true"
    ValidateRequest="false" CodeFile="ImageView.aspx.cs" Inherits="ImageView" %>

<%@ Register Src="UserControls/ImageView.ascx" TagName="ImageView" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMaster1" runat="Server">
    <uc1:ImageView runat="server" />
</asp:Content>
