<%@ Page Language="C#" MasterPageFile="~/MasterPages/SecureMaster.master" AutoEventWireup="true"
    CodeFile="LogOn.aspx.cs" Inherits="LogOn" Title="Please Logon" %>
<%@ Register Src="UserControls/LogOn.ascx" TagName="LogOn" TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphMaster1" runat="Server">
   <script type="text/javascript">

       function onpopupfocus() {

          
           var textforgot = document.getElementById('ctl00_cphMaster1_LogOn1_txtForgotUserName');
           if (textforgot != null) {
              
               textforgot.focus();
           }
       }
    </script>
    <div>
    <uc2:LogOn ID="LogOn1" runat="server" />
        </div>
</asp:Content>
