<%@ Page Language="C#" MasterPageFile="~/MasterPages/SecureMaster.master" AutoEventWireup="true" CodeFile="LogViewer.aspx.cs" Inherits="LogViewer" Title="Log Event Viewer" %>

<%@ Register Src="UserControls/LogView.ascx" TagName="LogView" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMaster1" runat="Server">
    &nbsp;<uc2:LogView ID="LogView1" runat="server" />
</asp:Content>
