<%@ Page Language="C#" MasterPageFile="~/MasterPages/SecureMaster.master" AutoEventWireup="true" CodeFile="PasswordRecovery.aspx.cs" Inherits="PasswordRecovery" Title="Password Recovery" %>

<%@ Register Src="UserControls/RecoverPassword.ascx" TagName="RecoverPassword" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMaster1" Runat="Server">
<table width="100%">

<tr>
<td align="center" width="100%" style="height: 119px">  
    <uc1:RecoverPassword ID="RecoverPassword1" runat="server" OnLoad="RecoverPassword1_Load" />
</td>
</tr>
</table>

</asp:Content>

