﻿<%@ Page Language="C#" MaintainScrollPositionOnPostback="true" MasterPageFile="~/MasterPages/SecureMaster.master"
    AutoEventWireup="true" CodeFile="PdfViewer.aspx.cs" Inherits="PdfViewer" %>

<%@ Register Src="UserControls/PdfViewer.ascx" TagName="PdfViewer" TagPrefix="uc1" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="cphMaster1">
    <uc1:PdfViewer ID="PdfViewer1" runat="server" />
</asp:Content>
