﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WOPhrase.aspx.cs" Inherits="WOPhrase" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>

<body>
    <form id="form1" runat="server">
    <div>
        <asp:textbox runat="server" ID="tbxWOPhrase" Height="450px" 
            TextMode="MultiLine" Width="100%" Font-Names="Helvatica,Verdana,Tahoma,Arial" Font-Size="8pt"></asp:textbox>
    </div>
    </form>
</body>
</html>
