﻿.igc_Office2007SilverControl
{
	border:solid 1px #A9B1B8;
	background-color:#ffffff;
	padding:10px;
	margin:0px;
	font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
}

.igc_Office2007SilverControlActive
{
	
}

.igc_Office2007SilverCaptchaInput
{
    border:1px solid #A9B1B8;
    display:block;
    padding:5px 0;
    
    margin-bottom:10px;
    /*IE6 and IE7 specific hack*/
    *margin-bottom:0;
    
}

.igc_Office2007SilverRefreshAndAudioButtonsArea
{
    margin-left:10px;
	border-width:0;
	text-decoration:none;
    display:block;
}

    .igc_Office2007SilverRefreshAndAudioButtonsArea img
    {
	    border-width:0px;
	    text-decoration:none;
	    margin-bottom:3px;
    }

.igc_Office2007SilverSubmitButton {
    background:#FFE395 url(./images/igc_submitButtonBg.png) repeat-x left top;
    border:1px solid #A9B1B8;
    clear:left;
    display:block;
    height:30px;
    width:177px;
    cursor:pointer;
    color:#7C7C7C;
    margin-top:10px;
    font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    padding:0px;
}

.igc_Office2007SilverErrorLabel
{
    background-color:#FF6666;
    color:white;
    padding:3px;
}

.igc_Office2007SilverCaptchaImageLabel
{
	border:1px solid #A9B1B8;
}

.igc_Office2007SilverCaptchaInputLabel{
}

.igc_Office2007SilverCaptchaInfoTextLabel
{
    display:block;
    margin:10px 0 5px 0;
}

.igc_Office2007SilverCaptchaImage
{
    display:block;
    margin-bottom:10px;
}

.igc_Office2007SilverCaptchaImageArea
{
    display:block;
    float:left;
    padding:0;
    margin:0;
}
    .igc_Office2007SilverCaptchaImageArea label 
    {
        display:block
    }
	    
.igc_Office2007SilverRefreshAndAudioButtonsArea 
{
    float:left;
}
    .igc_Office2007SilverRefreshAndAudioButtonsArea a 
    {
        display:block
    }
    .igc_Office2007SilverRefreshAndAudioButtonsArea a,
    .igc_Office2007SilverRefreshAndAudioButtonsArea img 
    {
        cursor:pointer
    }