.igdc_Office2007SilverEditWithButtons
{
	background-color:White;
	font-weight:bold;
	font-family: Verdana;
	border:solid 1px #808080;
}


.igdc_Office2007SilverCalendar
{
	background-color: #FFFFFF;
}


.igdc_Office2007SilverEditInContainer
{
	background-color:White;
	border-style:none;
	border-width:0px;
	padding-left:3px;
	float: left;
	width: 100%;
	height: 100%;
	outline:0;
}


.igdc_Office2007SilverButton
{
	background-color:White;
	font-size:1px;
	border:solid 0px Red;
}


.igdc_Office2007SilverButtonHover
{
	background-color:White;
	border:solid 0px Blue;
}


