.igdv_Office2007SilverControl
{
	border: 1px solid #616A76;
}


.igdv_Office2007SilverCaptionHeader
{
	background-color:#F0F1F2;
	border-bottom: 1px solid #616A76;
	font-weight:bold;
	font-size:8pt;
	padding: 5px;
	color: #000000;
	text-align:center;
}


.igdv_Office2007SilverDayHeader
{
	background-color: #CBCED4;
	background-repeat:repeat-x;
	background-image: url(images/day_header1.gif);
	font-size: 8pt;
	border-width: 0;
	border-bottom:solid 1px #9199a4;
	padding:3px;
	color: #000000;
	text-align:center;
	vertical-align:middle;
	overflow: hidden;
}


.igdv_Office2007SilverNonWorkingTimeSlot
{
	background-color:#E8EAEC;
	border-bottom:solid 1px #C7CBD1;
	height: 20px;
}


.igdv_Office2007SilverWorkingTimeSlot
{
	background-color: #ffffff;
	border-bottom:solid 1px #C7CBD1;
	height: 20px;
}


.igdv_Office2007SilverAllDayEventArea
{
	border-bottom: 1px solid #616A76;
}


.igdv_Office2007SilverAllDayEvent
{
	background-color:#FFECBB;
	font-size:8pt;
	background-repeat: repeat-x;
	background-image: url(images/igws_alldayeventbg.gif);
	padding: 5px;
	border: 1px solid #FFD151;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
}


.igdv_Office2007SilverAppointment
{
	background-color: #FFECBB;
	background-repeat: repeat-x;
	background-image: url(images/igws_alldayeventbg.gif);
	font-size:8pt;
	border:solid 1px #FFD151;
	overflow: hidden;
}

.igdv_Office2007SilverFadedAppointment
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.igdv_Office2007SilverActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_Office2007SilverActivityEdgeLeft
{
	font-size: 2px;
	width: 6px;
	cursor: move;
}


.igdv_Office2007SilverTodayHeader
{
	background-color: #fada82;
	font-size:8pt;
	background-repeat: repeat-x;
	background-image: url(images/igws_todayheaderbg.gif);
	border:solid 1px #EE9311;
	font-weight: bold;
	height: 20px;
	color: #000000;
	text-align:center;
	vertical-align:middle;
}


.igdv_Office2007SilverTimeSlotLabel
{
	background-color:#F0F1F2;
	font-size:16pt;
	border-right:solid 1px #616A76;
	border-bottom:solid 1px #616A76;
	width: 60px;
	text-align:center;
	vertical-align: middle;
	color: #6F7074;
}


.igdv_Office2007SilverTimeSlotLabelMinutes
{
	font-size:8pt;
}


.igdv_Office2007SilverAllDayEventSelected
{
	background-color: #fada82;
	background-repeat: repeat-x;
	background-image: url(images/igws_dayheaderbg.gif);
}


.igdv_Office2007SilverAllDayEventAreaSelected
{
	background-color: #DBDEE1;
}


.igdv_Office2007SilverActivityHover
{
	z-index: 10000;
}


.igdv_Office2007SilverActivityEdgeBusy
{
	background-color:#E8EAEC;
}


.igdv_Office2007SilverActivityEdgeTentative
{
	background-color:#E8EAEC;
}


.igdv_Office2007SilverActivityEdgeOutofOffice
{
	background-color:#E8EAEC;
}


.igdv_Office2007SilverActivityEdgeFree
{
	background-color:#E8EAEC;
}


.igdv_Office2007SilverNavigationButton
{
	background-color: Transparent;
	border-width: 0px;
	vertical-align: middle;
	cursor: pointer;
}


.igdv_Office2007SilverSelectedAppointment
{
	z-index: 9999;
}

.igdv_Office2007SilverResourceButton
{
	background: #DDE2E8;
	background-image: url(images/caption_bg.jpg);
	background-repeat: repeat-x;
	padding: 4px;
	font-size: 8pt;
	color: #000000;
	border-width: 0;
	border-right: solid 1px #616A76;
	border-bottom: solid 1px #616A76;
}

.igdv_Office2007SilverResourceButton:focus, .igdv_Office2007SilverResourceButtonActive
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igdv_Office2007SilverResourceButton:hover
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igdv_Office2007SilverMultiDayEventArrowLeft
{
      background-image: url(images/igws_arrowLeft.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}

.igdv_Office2007SilverMultiDayEventArrowRight
{
      background-image: url(images/igws_arrowRight.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}