﻿.ighg_Office2007SilverExpandButton
{
	cursor: pointer;
	cursor: hand;
	padding-left: 5px;
}

TBODY>TR>TD.ighg_Office2007SilverExpandableArea
{
	padding: 0px 0px 0px 25px;
}

.ighg_Office2007SilverExpansionColumn
{
	width: 25px;
	padding: 0 !important;
}

.ighg_Office2007SilverExpansionColumnHeader
{
	border-right: 1px solid #909192;
	border-bottom: 1px solid #909192;
	width: 25px;
}

.ighg_Office2007SilverExpansionColumnFooter
{
	width: 25px;
}


/* START -- GroupBy CSS Classes */
.ighg_Office2007SilverGroupIndentHeaderCell
{
	border-right: 1px solid #909192;
	border-bottom: 1px solid #909192;
}

TBODY>TR.ighg_Office2007SilverGroupedRow>TD
{
	background:#E5E5EB;
	border-bottom: 2px solid #A5A4BD;
}


TBODY>TR>TD.ighg_Office2007SilverGroupIndentCell
{
	border-right: 1px solid #D0D7E5;
}

.ighg_Office2007SilverGroupArea
{
	background-color: #F3F4F3;
	border-bottom: 1px solid #909192;
	padding: 10px;
}

.ighg_Office2007SilverGroupedColumn
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnBg.png) repeat-x;
	height: 16px;
	padding: 3px 5px 0px 10px;
}
.ighg_Office2007SilverGroupedColumnRightEdgeEnd
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeEndBg.gif) no-repeat;		
	width: 10px;
	height: 16px;
	padding-top: 3px;
}
.ighg_Office2007SilverGroupedColumnRightEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeBg.png) no-repeat;
	width: 10px;
	height: 16px;
	padding-top: 3px;
}

.ighg_Office2007SilverGroupedColumnLeftEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnLeftEdgeBg.GIF) no-repeat;
	width: 9px;
	height: 16px;
	padding-top: 3px;
}

.ighg_Office2007SilverGroupedBand
{
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-left: 1px solid #909192;
	height: 16px;
	padding: 3px 0px 0px 10px;
}
.ighg_Office2007SilverGroupedBandRightEdge
{		
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-right: 1px solid #909192;
	width: 10px;
	height: 16px;
	padding: 3px 0px 0px 0px;
}

.ighg_Office2007SilverColumnGroupingTopDragIndicator
{
	background-image:url(images/ighg_TopDragIndicator.gif);
	background-repeat: no-repeat;
	width:5px; 
	height:3px;
	z-index: 100;
}

.ighg_Office2007SilverColumnGroupingMiddleDragIndicator
{
      background-image:url(images/ighg_MiddleDragIndicator.gif);
      background-repeat: repeat-y;
      background-position: center;
      width:3px; 
}

.ighg_Office2007SilverColumnGroupingBottomDragIndicator
{
      background-image:url(images/ighg_BottomDragIndicator.gif);
      background-repeat: no-repeat;
      width:5px; 
      height:3px;
      position: absolute;
      z-index: 100;   
}
/* END -- GroupBy CSS Classes */
@media print{.ighg_Office2007SilverControl, .ighg_Office2007SilverControl div{width:auto !important; height:auto !important; overflow: visible !important;}}