.igmc_Office2007SilverControl
{
	background-color: #FFFFFF;
	border:1px solid #4C535C;
	width: 225px;
	height: 200px;
	padding: 0px;
	margin: 0px;
	font-family: Segoe UI, Verdana, Arial, Georgia, Sans-Serif;
}

.igmc_Office2007SilverDOW
{
	background-color: #F0F1F2;
	font-size:xx-small;
	border-width:0px;
	border-bottom:solid 1px #C5C7D1;
	padding: 0px ;
	text-align:center;
	font-weight: bold;
}

.igmc_Office2007SilverNextPrev
{
	margin: 0px;
	padding: 0px;
	font-size:xx-small;
	color: #FFFFFF;
	padding: 0px 3px;
}

.igmc_Office2007SilverHoverNextPrev
{
	cursor: pointer;
	color: #FF9933;
}

.igmc_Office2007SilverPressedNextPrev
{
}

.igmc_Office2007SilverFooter
{
	background-color: #d3d7e1;
	background-image: url(images/igmc_footerbg.gif);
	background-repeat:repeat-x;
	border-top: 1px solid #C5C7D1;
	font-size:xx-small;
	text-align:center;
	color: #000000;
}

.igmc_Office2007SilverHoverFooter
{
	background-color: #F1F0F4;
	background-image: url(images/igmc_footerbghover.gif);
	background-repeat:repeat-x;
	cursor: pointer;
}

.igmc_Office2007SilverPressedFooter
{
	background-color: #c5c7d1;
	background-image: url(images/igmc_footerbgpressed.gif);
	background-repeat:repeat-x;
}

.igmc_Office2007SilverHeader
{
	background-color: #d4d7e1;
	background-repeat:repeat-x;
	background-position:top;
	background-image: url(images/igmc_headerbg.png);
	font-size:10px;
	border-bottom: 1px solid #C5C7D1;
}

.igmc_Office2007SilverMonthYear
{
	font-size:10px;
	font-weight:bold;
	padding:0px 2px;
	color: #000000;
}

.igmc_Office2007SilverPressedMonthYear
{
	color: #FFD151;
}

.igmc_Office2007SilverHoverMonthYear
{
	cursor: pointer;
	color: #FFD151;
	
}

.igmc_Office2007SilverDay
{
	background-color:#FFFFFF;
	font-size:xx-small;
	text-align:center;
	border: 1px solid #FFFFFF;
}

.igmc_Office2007SilverWeekNumber
{
	border: 1px solid #fff2ce;
	background-color: #fff2ce;
	background-repeat:repeat-y;
	background-position:top left;
	background-image: url(images/igmc_weekbg.gif);
	font-weight: bold;
}

.igmc_Office2007SilverWeekendDay
{
	background-color:#FAFAFA;
	border: 1px solid #FAFAFA;
}

.igmc_Office2007SilverOtherMonthDay
{
	color:#AAAAAA;
	background-image: none;
}

.igmc_Office2007SilverTodayDay
{
	background-color: #9391B0;
	COLOR: White;
}

.igmc_Office2007SilverSelectedDay
{
	background-color: #FFD151;
	background-repeat: repeat-x;
	font-weight:bold;
}

.igmc_Office2007SilverFocusDay
{
	background-color: #fee07a;
	background-image: url(images/igmc_dayfocus.gif);
	background-repeat: repeat-x;
	border-color: #FFD151;
}

.igmc_Office2007SilverHoverDay
{
	background-color: #ff9933;
	background-image: url(images/igmc_dayselected.gif);
	background-repeat: repeat-x;
	font-weight: bold;
}



.igmc_Office2007SilverDisabledDay
{
	color:#EEE;
}

/* CSS classes for Month and Year selection Popup in header */
.igmc_Office2007SilverList
{
	background:#FFFFFF;
	border:1px solid #666666;
}

.igmc_Office2007SilverItem
{
	font-size:8pt;
	background:#F7F7F7;
	text-align: center;
}

.igmc_Office2007SilverSelectedItem
{
	background-color: #fee07a;
	background-image: url(images/igmc_dayfocus.gif);
	background-repeat: repeat-x;
	font-weight: bold;
}

.igmc_Office2007SilverHoverItem
{
	background-color: #fee07a;
	cursor: pointer;
}
