.igsli_Office2007SilverControl
{
	overflow:hidden;
	border: none;
	background: transparent;
}
.igsli_Office2007SilverTicksHolderT
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-bottom:0px solid blue;
	margin-bottom:2px;
}
.igsli_Office2007SilverTicksHolderB
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-top:0px solid blue;
	margin-top:2px;
}
.igsli_Office2007SilverTickMinorT
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #ACAFB7;
	margin-top:2px;
	height:3px;
}
.igsli_Office2007SilverTickMajorT
{
	position:absolute;
	font-size:1px;
	border-left:2px solid #ACAFB7;
	height:5px;
}
.igsli_Office2007SilverTickLastT
{
	width:1px;
	margin-left:-1px;
}
.igsli_Office2007SilverTickMinorB
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #ACAFB7;
	height:3px;
}
.igsli_Office2007SilverTickMajorB
{
	position:absolute;
	font-size:1px;
	border-left:2px solid #ACAFB7;
	height:5px;
}
.igsli_Office2007SilverTickLastB
{
	width:1px;
	margin-left:-1px;
}
.igsli_Office2007SilverMarginH
{
	width:10px;
	font-size:1px;
	height:100%;
}
.igsli_Office2007SilverLabelsHolderH
{
	position:relative;
	width:100%;
	font-family:verdana;
	font-size:10px;
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_Office2007SilverLabelEdgeH
{
	overflow:hidden;
	text-align:center;
	width:26px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
	color: #23262A;
}
.igsli_Office2007SilverLabelT
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px; 
	width:46px;
	height:14px; 
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
	color: #23262A;
}
.igsli_Office2007SilverLabelB
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px;
	width:46px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
	color: #23262A;
}
.igsli_Office2007SilverTrackH
{
	position:relative;
	text-align:left;
	margin-left:-1px;
	border:0px solid #CCCCCC;
	background:#252525;
	width:100%;
	font-size:1px;
	height:1px;
}
.igsli_Office2007SilverTrackValueH
{
	position:absolute;
	background:#900000;
	height:1px;
}
.igsli_Office2007SilverTrackValue2H
{
	position:absolute;
	background:#FD8C1F;
	height:1px;
}
.igsli_Office2007SilverButton
{
	margin:2px;
	cursor:pointer;
}
.igsli_Office2007SilverThumbsHolderH
{
	position:relative;
	z-index:1;
	font-size:1px;
	width:100%;
}
.igsli_Office2007SilverThumbH
{
	position:absolute;
	margin-left:-4px;
	margin-top:-7px;
	cursor: hand;
	z-index:2;
}
.igsli_Office2007SilverValueLabel
{
	white-space:nowrap;
	overflow:hidden;
	font-family:verdana;
	font-size:10px;
	text-align:center;
	width:46px;
	color: #808080;
}
.igsli_Office2007SilverValueLabelFloatT
{
	position:absolute;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	overflow:visible;
	width: auto;
	min-width: 28px;
	margin-left:-23px;
	margin-top:-28px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}
.igsli_Office2007SilverValueLabelFloatB
{
	position:absolute;
	overflow:visible;
	width: auto;
	min-width: 28px;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	margin-left:-23px;
	margin-top:10px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}

.igsli_Office2007SilverTicksHolderL
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-right:0px solid blue;
	text-align:left;
	margin-right:2px;
}
.igsli_Office2007SilverTicksHolderR
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-left:0px solid blue;
	text-align:left;
	margin-left:2px;
}
.igsli_Office2007SilverTickMinorL
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #ACAFB7;
	margin-left:2px;
	width:3px;
}
.igsli_Office2007SilverTickMajorL
{
	position:absolute;
	font-size:1px;
	border-top:2px solid #ACAFB7;
	width:5px;
}
.igsli_Office2007SilverTickLastL
{
	height:1px;
	margin-top:-1px;
}
.igsli_Office2007SilverTickMinorR
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #ACAFB7;
	width:3px;
}
.igsli_Office2007SilverTickMajorR
{
	position:absolute;
	font-size:1px;
	border-top:2px solid #ACAFB7;
	width:5px;
}
.igsli_Office2007SilverTickLastR
{
	height:1px;
	margin-top:-1px;
}
.igsli_Office2007SilverMarginV
{
	height:10px;
	font-size:1px;
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_Office2007SilverLabelEdgeV
{
	overflow:hidden;
	white-space:nowrap;
	width:auto;
	height:14px;
	font-family:verdana;
	font-size:10px;
	text-align:center;
	color: #23262A;
}
.igsli_Office2007SilverLabelL
{
	position:absolute;
	overflow:hidden;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	margin-left: -25px;
	font-family:verdana;
	font-size:10px;
	text-align:right;
	color: #23262A;
}
.igsli_Office2007SilverLabelR
{
	position:absolute;
	overflow:visible;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	margin-left: 5px;
	font-family:verdana;
	font-size:10px;
	color: #23262A;
}
.igsli_Office2007SilverLabelsHolderV
{
	position:relative;
	text-align:left;
	height:100%;
	font-family:verdana;
	font-size:10px;
	width:20px;
}
.igsli_Office2007SilverTrackV
{
	position:relative;
	text-align:left;
	border:0px solid #252525;
	background:#252525;
	height:100%;
	font-size:1px;
	width:1px;
}
.igsli_Office2007SilverTrackValueV
{
	position:absolute;
	background:#900000;
	width:100%;
}
.igsli_Office2007SilverTrackValue2V
{
	position:absolute;
	background:#FD8C1F;
	width:100%;
	margin-top:-1px;
}
.igsli_Office2007SilverThumbsHolderV
{
	position:relative;
	z-index:1;
	font-size:1px;
	height:100%;
}
.igsli_Office2007SilverThumbV
{
	position:absolute;
	margin-left:-7px;
	margin-top:-4px;
	z-index:2;
}
.igsli_Office2007SilverValueLabelFloatL
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:right;
	margin-top:-7px;	
	margin-left:-46px;
	width:auto;
	min-width: 28px;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}
.igsli_Office2007SilverValueLabelFloatR
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:left;
	margin-left:8px;
	margin-top:-7px;
	min-width: 28px;
	width: auto;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}
.igsli_Office2007SilverValueLabelFloatHover
{
	filter:alpha(opacity:100);
	opacity:1;
}
/* applied to control when it has focus and when rounded corners are disabled */
.igsli_Office2007SilverFocus
{
}
/* applied to control when mouse moved over it and when rounded corners are disabled */
.igsli_Office2007SilverHover
{
}
/* applied to control when it is disabled and when rounded corners are disabled */
.igsli_Office2007SilverDisabled
{
	background:#C0C0C0;
}
/* applied to track bar when control focus and when rounded corners of track are disabled */
.igsli_Office2007SilverTrackFocus
{
}
/* applied to track bar when mouse is moved over control and when rounded corners of track are disabled */
.igsli_Office2007SilverTrackHover
{
}
/* applied to track bar when control is disabled and when rounded corners of track are disabled */
.igsli_Office2007SilverTrackDisabled
{
	background:#A0A0A0;
}
/* applied to left edge of horizontal track bar */
.igsli_Office2007SilverTrackEdgeL
{
	position:absolute;
	width:6px;
	height:100%;
	top:0px;
	left:-5px;
	background:url(none);
}
/* applied to right edge of horizontal track bar */
.igsli_Office2007SilverTrackEdgeR
{
	position:absolute;
	width:7px;
	height:100%;
	top:0px;
	left:100%; 
	background:url(none) top right;
}
/* applied to top edge of vertical track bar */
.igsli_Office2007SilverTrackEdgeT
{
	position:absolute;
	width:100%;
	height:0px;
	top:-0px;
	left:0px;
	background:url(none);
}
/* applied to left edge of vertical track bar */
.igsli_Office2007SilverTrackEdgeB
{
	position:absolute;
	width:100%;
	height:0px;
	top:100%;
	left:0px;
	background:url(none) left bottom;
}
/* applied to left edge of horizontal track bar when TrackValue is enabled */
.igsli_Office2007SilverTrackValueEdgeL
{
	background:url(none);
}
/* applied to bottom edge of vertical track bar when TrackValue is enabled */
.igsli_Office2007SilverTrackValueEdgeB
{
	background:url(none);
}
