.igspl_Office2007SilverControl
{
	border:solid 1px #CCCCCC;
}


.igspl_Office2007SilverPane
{
	background-color:White;
	background-repeat:repeat-x;
}


.igspl_Office2007SilverVSplitBar
{
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(./images/igspl_splitVert.gif);
	font-size:1px;
	cursor:e-resize;
}


.igspl_Office2007SilverHSplitBar
{
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHoriz.gif);
	font-size:1px;
	height: 30px;
	cursor:n-resize;
}


.igspl_Office2007SilverVSplitBarHover
{
	background-image: url(./images/igspl_splitVertHover.gif);
}


.igspl_Office2007SilverHSplitBarHover
{
	background-repeat:repeat-x;
	background-image: url(./images/igspl_splitHorizHover.gif);
}


.igspl_Office2007SilverVSplitBarPressed
{

}


.igspl_Office2007SilverHSplitBarPressed
{
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHorizPressed.gif);
}


.igspl_Office2007SilverHSplitBarShadow
{
	background-image: url(./images/igspl_splitHorizHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_Office2007SilverVSplitBarShadow
{
	background-image: url(./images/igspl_splitVertHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_Office2007SilverVSplitBarShadowLimit
{
}


.igspl_Office2007SilverHSplitBarShadowLimit
{
}


.igspl_Office2007SilverCollapseSplitBarButton
{
	cursor:pointer;
}


.igspl_Office2007SilverHSplitBarHeight
{
	height: 6px;
}


.igspl_Office2007SilverVSplitBarWidth
{
	width: 6px;
}


