.igtb_Office2007SilverControl
{
	background-color:#DADEE8;
	border-color:Transparent;
}


.igtb_Office2007SilverItem
{
	background-color:Transparent;
}


.igtb_Office2007SilverButton
{
	background-color:Transparent;
	border:solid 1px Transparent;
	padding-right:5px;
	padding-left:5px;
	color:Black;
}


.igtb_Office2007SilverButtonHover
{
	background-image: url(images/day_header_active.jpg);
	border-color:BurlyWood;
	border:solid 1px;
	padding-right:5px;
	padding-left:5px;
	color:Black;
}


.igtb_Office2007SilverButtonPressed
{
	background-image: url(images\active_day_header.jpg);
	color:Black;
}


.igtb_Office2007SilverLabel
{
}


.igtb_Office2007SilverTextBox
{
	background-color:WhiteSmoke;
}


.igtb_Office2007SilverSeparator
{
	background-color:Transparent;
}


.igtb_Office2007BlackButtonDisabled
{
}


