.igwv_Office2007SilverControl
{
	border:solid 1px #4C535C;
}


.igwv_Office2007SilverCaptionHeader
{
	background-color:#F0F1F2;
	border-width: 0;
	font-weight:bold;
	font-size:8pt;
	line-height: 16pt;
	color: #000000;
	text-align:center;
}


.igwv_Office2007SilverDayHeader
{
	background-color: #CBCED4;
	background-repeat:repeat-x;
	background-image: url(images/day_header1.gif);
	font-size:8pt;
	text-align: center;
	border-width: 0;
	border-top: 1px solid #9199A4;
	border-bottom: 1px solid #9199A4;
}


.igwv_Office2007SilverDay
{
	background-color: #ffffff;
	overflow: hidden;
	cursor: pointer;
}


.igwv_Office2007SilverAppointment
{
	background-color: #d9dbe0;
	background-repeat:repeat-x;
	background-image: url(images/igws_appointmentbg.gif);
	font-size:8pt;
	border-width: 0;
	padding: 2px;
	margin: 1px;
	overflow: hidden;
}

.igwv_Office2007SilverFadedAppointment
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}


.igwv_Office2007SilverAllDayEvent
{
	background-color: #DEE0E4;
	background-repeat:repeat-x;
	background-image: url(images/igws_alldayeventbg1.gif);
	border:solid 1px #9199a4;
	margin: 1px;
	padding: 2px;
	cursor: pointer;
	text-align: left;
	font-size: 8pt;
	vertical-align: middle;
	overflow: hidden;
}


.igwv_Office2007SilverNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	vertical-align:middle;
}


.igwv_Office2007SilverDayArea
{
	border-width: 0;
	border-left: solid 1px #9199A4;
	border-right: solid 1px #9199A4;
}


.igwv_Office2007SilverTodayHeader
{
	background-color:#F7CF70;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/day_header_active.jpg);
	font-size:8pt;
	border: 1px solid #EE9311;
	color:Black;
}


.igwv_Office2007SilverToday
{
	border: 1px solid #EE9311;
	border-top-width: 0;
}


.igwv_Office2007SilverSelectedAppointment
{
	border:1px solid #FFD151;
	background-color: #fada82;
	background-repeat: repeat-x;
	background-image: url(images/igws_dayheaderbg.gif);
	font-size:8pt;
	padding: 2px;
	margin: 1px;
	overflow: hidden;
}


.igwv_Office2007SilverActiveDayHeader
{
}


.igwv_Office2007SilverActiveDay
{
	background-color: #E8EAEC;
	background-image: none;
}


.igwv_Office2007SilverResourceButton
{
	background: #DDE2E8;
	background-image: url(images/caption_bg.jpg);
	background-repeat: repeat-x;
	padding: 4px;
	font-size: 8pt;
	color: #000000;
	border-width: 0;
	border-right: solid 1px #616A76;
	border-bottom: solid 1px #616A76;
}

.igwv_Office2007SilverResourceButton:focus, .igwv_Office2007SilverResourceButtonActive
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igwv_Office2007SilverResourceButton:hover
{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.igwv_Office2007SilverMultiDayEventArrowLeft
{
      background-image: url(images/igws_arrowLeft.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}

.igwv_Office2007SilverMultiDayEventArrowRight
{
      background-image: url(images/igws_arrowRight.gif);
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 9px;
      height: 9px;
}