﻿@charset "utf-8";

html {
    -webkit-font-smoothing: antialiased;
}

html, body {
}

body {
    color: #414142;
    background: #FFF;
    font-size: 14px;
    line-height: 25px;
    text-shadow: none;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../../Fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('../../Fonts/Lato-Semibold.ttf') format('truetype');
}

a, a img {
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
}

    a:focus {
        border: none;
        outline: none;
        text-decoration: none;
    }

.advsearch label {
    float: left;
    margin-bottom: 0px;
    text-align: left;
    width: auto;
    display: inline;
    font-weight: normal;
}

.clear {
    clear: both;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", sans-serif;
}

a:visited {
    color: #333333 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

.txt-light {
    font-weight: 300;
}

.txt-regular {
    font-weight: 400;
}

.txt-bold {
    font-weight: 700;
}

.txt-uppercase {
    text-transform: uppercase;
}

blockquote {
    font-family: Georgia, serif;
}

    blockquote.bigquote {
        border: none;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1em;
    }

.text-bold {
    font-weight: 900;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

small {
    font-size: 70%;
    font-weight: 100;
}

a, a img {
    border: 0px;
    outline: none;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }
/*:focus{outline:none;}*/

.color-white.txt-shadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.t-uppercase {
    text-transform: uppercase;
}

.fixed {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 9999;
}

#main-wrap {
    width: 100%;
    float: left;
    margin: 0px;
}

#header-section {
    width: 100%;
    float: left;
}

    #header-section .top-div-nav {
        width: 100%;
        float: left;
        background: #42748d !Important;
        height: 40px;
        color: #ffffff !Important;
        line-height: 40px;
    }

    #header-section .logo-header {
        width: 100%;
        float: left;
        background: url(../images/header-grd-bg.png) left top repeat-x;
        border-bottom: solid 1px #dadada;
        height: 117px;
    }

#body-container {
    background: #f1f1f1;
    width: 100%;
    float: left;
    margin-top: -11px;
}

    #body-container .mid-container {
        width: 98%;
        margin: 30px 10px;
        float: left;
        background: #FFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

        #body-container .mid-container .left-section {
            background: #f9f9f9;
            float: left;
            width: 292px;
            -webkit-border-radius: 5px 0px 0px 5px;
            -moz-border-radius: 5px 0px 0px 5px;
            border-radius: 5px 0px 0px 5px;
            padding: 15px !important;
            border-right: 1px solid lightgray;
        }

            #body-container .mid-container .left-section div.lft-cont-sec {
                width: 263px;
                float: left;
                margin: 0px;
                height: 100%;
            }

                #body-container .mid-container .left-section div.lft-cont-sec ul.tabs {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    border-bottom: solid 3px #b5a60d;
                    float: left;
                    width: 100%;
                    padding-bottom: 1px !important;
                }

                    #body-container .mid-container .left-section div.lft-cont-sec ul.tabs li {
                        float: left;
                        display: block;
                        margin-left: 3px;
                    }

                        #body-container .mid-container .left-section div.lft-cont-sec ul.tabs li a {
                            background: #fff;
                            color: #000 !important;
                            display: block;
                            height: 29px;
                            line-height: 29px;
                            padding: 0px 15px;
                        }

                        #body-container .mid-container .left-section div.lft-cont-sec ul.tabs li.active a {
                            background: #bcab1f;
                            color: #fff !important;
                        }

                #body-container .mid-container .left-section div.lft-cont-sec div.search-opt {
                    width: 100%;
                    float: left;
                    margin-top: 10px;
                }

                    #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul.list {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        width: 100%;
                        float: left;
                    }

                        #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul.list li {
                            float: left;
                            margin-bottom: 3px;
                            width: 100%;
                            display: block;
                        }

                            #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul.list li input[type="checkbox"] {
                                float: left;
                                margin-top: 14px;
                            }

                            #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul.list li a {
                                background: #818181;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                display: block;
                                padding: 8px;
                                color: #FFF;
                                font-size: 13px;
                            }

                            #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul.list li ul li input[type="checkbox"] {
                                float: left;
                                margin-top: 6px;
                            }

                            #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul.list li a:hover, #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul.list li a:focus {
                                text-decoration: none;
                            }

                            #body-container .mid-container .left-section div.lft-cont-sec div.search-opt ul .list li:first-child a {
                                color: #fff;
                            }

        #body-container .mid-container .right-section {
            float: left;
            position: relative;
            /* width: 76%; */
        }

            #body-container .mid-container .right-section div.container-sec, div.container-sec {
                width: 97%;
                float: none;
                margin: 0px auto;
                display: table;
            }

                #body-container .mid-container .right-section div.container-sec h2, div.container-sec h2 {
                    margin: 0px;
                    padding: 0px;
                    border-bottom: solid 1px #e9e9e9;
                    font-family: "Lato", sans-serif;
                    padding-bottom: 10px;
                    font-size: 25px;
                    margin-top: 0px;
                    width: 100%;
                    margin-top: 9px;
                }

                #body-container .mid-container .right-section div.container-sec h3 {
                    margin: 0px;
                    padding: 0px;
                    font-family: "Lato", sans-serif;
                    padding-bottom: 10px;
                    font-size: 18px;
                    margin-top: 0px;
                    float: left;
                    width: 100%;
                    margin-bottom: 0px;
                    margin-top: 10px;
                }

                    #body-container .mid-container .right-section div.container-sec h3 a {
                        font-family: "Lato", sans-serif !important;
                        font-size: 18px;
                    }

                #body-container .mid-container .right-section div.container-sec p {
                    display: block;
                    float: left;
                    width: 100%;
                    margin: 0px 0px 10px 0px;
                }

.search {
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 18px;
    width: 94%;
    float: right;
}

.search-bar-icon {
    position: absolute;
    width: 19px;
    height: 22px;
    background: url(../images/search_icon.png) no-repeat 0;
    top: 24px;
}

.forgotpasswordtext:focus {
    height: 35px !important;
    border: solid 2px #ccc !important;
}

#header-section .top li {
    padding: 0 9px;
    border-right: 1px solid #646464;
}

    #header-section .top li span {
        float: left;
        font-size: 13px !important;
        color: #ffffff;
    }

.brnchslt {
    border-radius: 6px;
    color: #000;
    padding-left: 10px;
    width: 78%;
    margin-left: 10px;
    margin-top: 7px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
}

.slt {
    height: 27px;
    color: #f87744;
    padding-left: 10px;
    background: #000;
    border: none;
}

.cart {
    padding-right: 10px;
}

.navbar-nav {
    float: right !important;
}

.changeAcctLink {
    color: #42748d !Important;
}

.Cartdetails {
    color: #ffffff !Important;
    height: 39px;
}

    .Cartdetails:focus {
        background-color: #eee !important;
    }

    .Cartdetails:visited {
        background-color: none !important;
    }

#header-section .top-div-nav .navbar-nav > li > a {
    color: #c8b90f;
    padding: 10px 4px 18px 4px !important;
}

.navbar-nav > li > a:hover {
    background: none !important;
}

ul {
    padding: 0 !important;
    float: left;
}

/* This is for the Summernote RTE for messages.  Reset the formatting causing it to look bad */
    ul.note-nav-tabs {
        padding:initial;
        float:initial;
    }

small.note-help-block {
    font-size:10px;
}

.igdt_NodeGroup {
    width: 100%;
}

.navbar-nav > li > a {
    padding: 10px 17px !important;
    color: #626262;
    font-size: 16px;
}

.advsearch input[type='text'], .advsearch select {
    height: 35px;
    margin: 5px 0px;
    border: 1px solid #ccc !important;
    width: 96%;
    padding-left: 10px;
    border-radius: 7px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-left: 5px;
}

    .advsearch input[type='text'], .advsearch select:focus {
        height: 35px;
        padding-top: 4px;
        padding-bottom: 6px;
    }

.pr-partno {
    height: 35px;
    margin: 5px 0px;
    border: 1px solid #ccc !important;
    width: 96%;
    padding-left: 10px;
    border-radius: 7px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-left: 5px;
    line-height: 16px;
}

    .pr-partno:focus {
        height: 35px;
        padding-top: 4px;
        padding-bottom: 6px;
        line-height: 16px;
    }

.frgtchangepopup .textbox {
    border: none;
}

.frgtchangepopup input[type='text'], .frgtchangepopup select {
    height: 35px;
    margin: 5px;
    width: 96%;
    padding-left: 30px;
    border-radius: 7px;
    border: 1px solid #e1e1e1;
}

.changepopup input[type='text'], .changepopup select {
    height: 35px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 96%;
    padding-left: 10px;
    border-radius: 7px;
}

.sort select, .tab-content select {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    border-radius: 7px;
    height: 30px;
}

.advsearch input[type='checkbox'] {
    float: left;
    margin: 6px 2px 6px 6px;
}

.advsearch button {
    background: #C8B90F;
    padding: 8px 25px;
    border-radius: 7px;
    color: #fff !important;
    border: none;
    margin: 10px 7px !important;
    float: right;
}

.footer {
    background: url(../../Images/footerbg.png) left top repeat-x;
    height: 70px;
    color: #6d6d6d;
    width: 100%;
    float: left;
    line-height: 70px;
    bottom: 0px;
}

    .footer span {
        margin-left: 15px;
    }

    .footer a {
        color: #6d6d6d;
        cursor: default;
        font-size: 8pt !important;
    }

.logout a {
    color: #ffffff !Important;
    padding: 0 !important;
    font-size: 14px !important;
    font-weight: bold;
}

.Cartdetails > a, .dropdown-menu > li > a {
    color: #f87744;
    padding: 0 !important;
    font-size: 14px !important;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 10px !important;
    padding: 10px !important;
}

    .navbar-nav > li > .dropdown-menu address {
        color: #000;
    }

    .navbar-nav > li > .dropdown-menu strong {
        color: #b5a60d;
    }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none !important;
}

.settingsblock {
    margin-top: 35px !important;
}

.dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -16px;
    left: 39%;
}

.dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #ffffff;
    position: absolute;
    top: -14px;
    left: 40%;
}

#body-container .mid-container .left-section div.lft-cont-sec h2 {
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #e9e9e9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 25px;
    margin-top: 0px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.openlanguage {
}

.openinnerflow {
    background: #fff !important;
    color: #646464 !important;
}

.closedinnerflow {
    background: #fff !important;
    color: #646464 !important;
}

.closedlanguage {
    color: red;
}

.red {
    color: #518ae0 !important;
}

#body-container .mid-container .right-section div.container-sec .brd-crumb {
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #e9e9e9;
    font-family: "Lato", sans-serif;
    padding-bottom: 5px;
    font-size: 14px;
    float: left;
    width: 97%;
    margin-bottom: 5px;
    padding-top: 7px;
}

    #body-container .mid-container .right-section div.container-sec .brd-crumb ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        #body-container .mid-container .right-section div.container-sec .brd-crumb ul li {
            float: left;
            margin-right: 10px;
            color: #333333;
        }

            #body-container .mid-container .right-section div.container-sec .brd-crumb ul li a {
                color: #cdcdcd;
                padding-right: 15px;
                background: url(../images/breadcrumb-arrow.png) right center no-repeat;
            }

                #body-container .mid-container .right-section div.container-sec .brd-crumb ul li a:hover {
                    color: #42748d !Important;
                }

.product-list-section {
    width: 100%;
    float: left;
}

    .product-list-section ul.list-view {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .product-list-section ul.list-view li {
            float: left;
            margin-bottom: 30px;
            margin-right: 20px;
            font-size: 14px;
        }

            .product-list-section ul.list-view li h3 {
                font-size: 14px;
            }

            .product-list-section ul.list-view li a img {
                border: solid 1px #cacaca;
                background: #d8d8d8;
                padding: 4px;
                width: 209px;
                height: 168px;
                overflow: hidden;
            }

.product-detail-view {
    width: 100%;
    float: left;
}

.sorting-section {
    width: 100%;
    float: left;
    background: #f1f1f1;
    min-height: 51px;
    margin-bottom: 15px;
    padding-top: 6px;
}

    .sorting-section ul.sort {
        margin: 0px;
        padding: 0px;
        list-style: none;
        float: right;
    }

        .sorting-section ul.sort li {
            float: left;
            margin: 0px 5px;
        }

            .sorting-section ul.sort li a {
                height: 30px;
                padding: 0px 15px;
                display: block;
                line-height: 30px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

.prodcut-row {
    width: 97%;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

    .prodcut-row div.img-thumb {
        width: 164px;
        height: 140px;
        float: left;
        border: solid 1px #f1f1f1;
    }

.pr-info {
    width: 420px;
    float: left;
    margin-left: 15px;
    font-size: 14px;
    font-family: "Helvatica", Arial !important;
}

    .pr-info h3 a {
        font-size: 18px;
        color: #9f9606;
    }

    .pr-info h4 {
        font-size: 14px;
    }

        .pr-info h4 span {
            color: #000;
        }

.ord-deatils {
    width: 254px;
    float: right;
    padding-left: 40px;
    font-size: 14px;
    font-family: "Helvatica", Arial !important;
}

    .ord-deatils h3 {
        font-size: 14px;
        margin-bottom: 5px;
        width: 100%;
    }

    .ord-deatils input.qty-txt {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: solid 1px #ccc;
        width: 80px;
        padding: 0px 5px;
        height: 30px;
        margin: 0px 5px;
    }

    .ord-deatils a {
        margin-top: 5px;
        float: left;
        color: #b8ab1e;
    }

.product-desc a {
    margin-top: 5px;
    color: #b8ab1e;
}

.product-desc .col-sm-9 {
    padding: 0 !important;
}

.custom-grid-overflow {
    width: 99%;
    overflow-x: auto;
    float: left;
}

.pr-rght-section {
    margin-left: 22px;
}

.custom-grid {
    width: 990px;
    float: left;
}

.docgrid {
    width: 100%;
}

.childgrid {
    overflow-x: auto;
    padding-left: 40px;
}

.tr-innergrid:hover {
    background: none;
}

.custom-grid table.grid-tabler tr.tr-innergrid td:hover {
    background: none;
}

.inner-flow ul li ul li, .inner-flow ul li:last-child, #header-section .top li ul li, #header-section .top li:last-child {
    border: none;
}

#header-section .top li:last-child {
    padding-right: 12px;
}
/*@media only screen and (min-width: 600px) and (max-width:768px){.col-sm-8{width:100%;}}*/


.navbar-nav > li > a:hover {
    color: #acaa20;
}

.navbar-nav > li > a.active {
    color: #acaa20;
}

.custom-tabler {
    font-size: 13px !important;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse !important;
    border: solid 1px #d8d7c7 !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
}

    .custom-tabler td {
        border-collapse: collapse !important;
        font-weight: normal !important;
        border-left: solid 1px #d8d7c7 !important;
        border-bottom: solid 1px #d8d7c7 !important;
        border-top: 0px !important;
        border-right: 0px !important;
    }

    .custom-tabler th {
        border-collapse: collapse !important;
        background-color: #42748d !Important;
        border-left: solid 1px #d8d7c7 !important;
        border-bottom: solid 1px #d8d7c7 !important;
        border-top: 0px !important;
        border-right: 0px !important;
        color: #ffffff !Important;
        font-size: 11px;
        font-weight: bold !important;
        font-family: Helvatica,Verdana,Tahoma,Arial;
    }

    .custom-tabler > tbody > tr:nth-child(odd) > td {
    }

.pagination > li > a, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #b5a60d !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #b5a60d !important;
    border-color: #b5a60d !important;
    color: #FFF !important;
}

.theme-row {
    border: solid 1px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f9f9f9;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    margin-top: 10px;
}

.update-row {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    padding-top: 20px;
    text-align: right;
    float: left;
}

.btn-update {
    background: #b8ab1e;
    color: #fff;
}

.theme-row h3 {
    padding: 0px;
    font-family: "Lato", sans-serif;
    padding-bottom: 10px;
    font-size: 22px;
    float: left;
    width: 100%;
    margin-bottom: 20px !important;
    margin-top: 0px !important;
    border-bottom: solid 1px #e9e9e9;
}

.theme-row h5 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
}

.login {
    width: 515px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

    .login .mainlogo {
        border-bottom: 1px solid #e1e1e1;
    }

    .login img {
        padding: 20px 35px;
    }

.login-form {
    background: #f9f9f9;
    padding: 0 35px 30px 35px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.textbox {
    position: relative;
    width: 440px;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    background: #fff;
}

.user-icon {
    position: absolute;
    width: 19px;
    height: 22px;
    background: url(../../Images/user_icon.png) no-repeat;
    top: 10px;
    left: 8px;
}

.text {
    font-size: 14px !important;
    border: 0px;
    outline: 0px;
    width: 89%;
    border-radius: 2px 0 0 2px;
    padding: 10px 1% 9px 2% !important;
    ;
    margin-left: 43px;
    border-left: 1px solid #e1e1e1;
    height: 44px !important;
    line-height: 24px;
}

.password-icon {
    position: absolute;
    width: 30px;
    height: 22px;
    background: url('../../Images/password_icon.png') no-repeat;
    top: 10px;
    left: 8px;
}

.login label {
    padding-top: 10px;
    color: #6d6d6d;
    font-weight: normal;
    font-size: 14px;
}

.login tr td {
    padding-top: 10px;
}

.login button {
    background: #b8ab1e !important;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 20px;
}

.login a {
    color: #42748d !Important;
    font-size: 14px;
    float: right;
    padding-top: 7px;
}

.downarrow {
    background: url(../../Images/downarrow.png) no-repeat;
    width: 30px;
    height: 14px;
    position: absolute;
    text-align: center;
    margin-left: 17%;
}

.login input[type=checkbox] {
    margin-right: 5px !important;
    background: #b8ab1e !important;
}

.login input.button {
    background: #b8ab1e;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px 20px;
    float: right;
}

    .login input.button:hover, .login input.button:focus, .advsearch button:hover, .advsearch button:focus {
        background: #9e9213;
    }

.modal-body ul li {
    list-style: none;
}

.container-sec .dall, .ddl {
    margin-bottom: 10px;
}

    .ddl select {
        height: 30px;
        border: solid 1px #ccc;
        border-radius: 7px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        padding-right: 0px;
    }

ul.list li a.active {
    background: #42748d !Important;
    color: #ffffff !Important;
    width: 96%;
}

ul.list li a:hover {
    background: #dbd9d6;
}

.activesettings {
    background: #42748d !Important;
    color: #ffffff !Important;
    width: 96%;
    white-space: nowrap;
}

activesettings:hover {
    background: #C8B90F !important;
}

.activechangepassword {
    width: 263px;
}

.note {
    width: 100%;
    height: auto;
    margin: 10px 0 5px 0;
    padding: 10px;
    background: #fbfbf5;
    border: solid 1px #dadada;
    color: #666;
    border-radius: 5px;
}

    .note ul {
        width: 100%;
        height: auto;
        margin: 5px 0 20px 0 !important;
        padding: 0px;
        list-style: none;
    }

    .note li {
        width: 100%;
        height: auto;
        margin: 0 0 8px 0;
        padding: 0px 0px 0px 15px;
        background: url(../../images/cer-img.png) left 8px no-repeat;
        list-style-position: inside;
        font-weight: normal;
        font-size: 13px;
    }

.table tbody tr td {
    word-break: break-all;
}

.msg-success, .msg-error, .msg-info {
    padding: 8px 10px;
    margin: 5px 0 10px 0;
    border-radius: 5px;
    float: left;
    width: 100%;
}

.msg-success {
    color: #597133;
}

.msg-error {
    background: #ffbbba;
    border: solid 1px #c17579;
    color: #882833;
}

.msg-info {
    background: #fef0b3;
    border: solid 1px #a89e73;
    color: #745f1c;
}

.note {
    width: 100%;
    height: auto;
    margin: 10px 0 5px 0;
    padding: 10px;
    background: #fbfbf5;
    border: solid 1px #dadada;
    color: #666;
    border-radius: 5px;
    float: left;
}

    .note p {
        width: 100%;
        height: auto;
        margin: 5px 0 20px 0 !important;
        padding: 0px;
    }

.form .default-list, .form .default-list2 {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0px;
    list-style: none;
}

    .form .default-list li, .form .default-list2 li {
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
        padding: 0px;
        list-style: none;
    }

        .form .default-list li label {
            width: 170px;
            height: auto;
            margin: 0 10px 0 0;
            padding: 0px;
            font-size: 13px;
            float: left;
        }

        .form .default-list2 li label {
            width: 110px;
            height: auto;
            margin: 0 10px 0 0;
            padding: 0px;
        }

        .form .default-list li input[type="text"], .form .default-list li input[type="password"], .form .default-list li select {
            width: 30%;
            height: auto;
            margin: 0px;
            border-radius: 7px;
            border: solid 1px #ccc;
        }

        .form .default-list li textarea {
            width: 75.5%;
            height: 60px;
        }

.btnbtm {
    margin: 10px 0;
}

.submit .default-list li input[type="text"], .form .default-list li input[type="password"], .form .default-list li select {
    width: 50%;
    height: 35px;
    margin: 0px;
    padding-left: 10px;
    border-radius: 7px;
    border: solid 1px #ccc;
    line-height: 35px;
}

.submit input[type="radio"], .submit input[type="checkbox"] {
    margin-left: 120px !important;
    margin-top: 18px !important;
}

.submit .default-list li input[type="text"] {
    padding: 0px 10px;
    -ms-padding: 10px 10px;
    height: 35px;
    line-height: 35px;
}

.btnquotedit {
    margin-left: 0px !important;
    margin-bottom: 10px;
}

.btnquoterelease {
    padding: 9px 14px !important;
}

.submit .default-list2 li input[type="text"] {
    width: 50%;
    height: auto;
    margin: 0px;
    padding: 0px 10px;
    border-radius: 7px;
    border: solid 1px #ccc;
    height: 35px;
    line-height: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.compulsory {
    padding-left: 3px;
    color: #F00;
}

.submit .col-sm-2 {
    text-align: right;
}

textarea {
    border-radius: 7px;
    border: solid 1px #ccc;
}

.form .default-list2 li input[type="password"], .form .default-list2 li select {
    width: 50%;
    height: 36px;
    margin: 0px;
    padding: 8px 10px;
    border-radius: 7px;
    border: solid 1px #ccc;
    padding-right: 0px;
}

.custom-tabler2 {
    font-size: 13px !important;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse !important;
    border: solid 1px #d8d7c7 !important;
    width: 100%;
}

    .custom-tabler2 th {
        padding: 5px;
        font-weight: normal;
        background: #b5a60d;
        border-left: solid 1px #d8d7c7;
        border-bottom: solid 1px #d8d7c7;
        color: #FFF;
        border-collapse: collapse;
    }

    .custom-tabler2 td {
        padding: 5px;
        font-weight: normal;
        border-left: solid 1px #d8d7c7;
        border-bottom: solid 1px #d8d7c7;
        color: #000;
        border-collapse: collapse;
    }

.changepopup, .frgtchangepopup {
    margin: 10px 0;
    width: 65%;
}

    .changepopup label, .frgtchangepopup label {
        margin-right: 10px;
    }

#example_filter {
    display: none;
}

.container-fluid {
    padding: 0 !important;
}

.custom-tabler img {
    padding: 5px;
}

.custom-tabler th, .custom-tabler td {
    padding: 5px 10px;
}

#gvCategories .custom-tabler td:first-child {
    column-span: none;
}

.rowclick {
    cursor: pointer;
}

.active-view td {
    background-color: #e4f6ff !important;
    cursor: pointer;
}

.retail label {
    width: 136px;
    padding: 5px 10px;
}

.smltxt {
    width: 23% !important;
    margin-right: 3px;
}

.smlwidth {
    width: 390px !important;
}

.helplogo {
    margin-left: 37% !important;
    margin: 100px;
}

.lgwidth {
    width: 900px !important;
}

.messages table {
    margin-top: 0px;
}

.messages .btn-default {
    margin: 10px 0;
}

.messages input[type="text"] {
    margin-right: 5px;
}

.productdetails input[type="text"] {
    margin: 0px !important;
    padding: 8px 14px !important;
    float: left;
}

.productdetails .btn-primary {
    padding: 10px 8px !important;
    margin: 0px !important;
    float: left;
}

#ctl00_cphMaster1_LogOn1_ModalPopupExtender1_foregroundElement {
    top: -5px !important;
}

.productdetails .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #ddd !important;
    border-bottom-color: transparent !important;
}

.productdetails input[type="text"] {
    width: 46%;
    margin-left: 10px;
}

.productdetails .nav-tabs {
    margin: 10px 0;
}

.productdetails .col-sm-3, .productdetails .col-sm-12 {
    padding: 0 !important;
}

.pagination-sec div.info {
    width: 40%;
    float: left;
}

.pagination-sec div.nav-pb {
    width: 40%;
    float: right;
    text-align: right;
    margin-bottom: 10px;
}

    .pagination-sec div.nav-pb ul {
        float: right;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .pagination-sec div.nav-pb ul li {
            float: left;
            margin: 0px 3px;
        }

            .pagination-sec div.nav-pb ul li a {
                padding: 5px 10px;
                border: solid 1px #dcd8d6 !important;
                background: #FFF;
                color: #666;
                border-radius: 5px;
            }

                .pagination-sec div.nav-pb ul li a:hover {
                    background: #edede4;
                }

                .pagination-sec div.nav-pb ul li a.active-nav {
                    background: #9b9b30;
                    color: #FFF;
                }

.zoomPad {
    position: relative;
    float: left;
    z-index: 99;
    cursor: pointer;
    border: none !important;
    width: 269px;
    height: 179px;
    overflow: hidden;
    padding-right: 15px;
}

    .zoomPad img {
        height: 97px;
    }

.zoomPreload {
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    color: #333;
    font-size: 12px;
    font-family: Tahoma;
    text-decoration: none;
    border: 1px solid #CCC;
    background-color: white;
    padding: 8px;
    text-align: center;
    background-image: url(../images/zoomloader.gif);
    background-repeat: no-repeat;
    background-position: 43px 30px;
    z-index: 110;
    width: 90px;
    height: 43px;
    position: absolute;
    top: 0px;
    left: 0px;
    * width: 100px;
    * height: 49px;
}

.zoomPup {
    overflow: hidden;
    background-color: #FFF;
    -moz-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    z-index: 120;
    position: absolute;
    border: 1px solid #CCC;
    z-index: 101;
    cursor: pointer;
}

.zoomOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #FFF;
    z-index: 5000;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 101;
}

.prod-qtyea {
    margin-left: -5px;
}

.zoomWindow {
    position: absolute;
    left: 110%;
    top: 40px;
    background: #FFF;
    z-index: 6000;
    height: auto;
    z-index: 10000;
    z-index: 110;
}

.zoomWrapper {
    position: relative;
    border: 1px solid #999;
    z-index: 110;
}

.zoomWrapperTitle {
    display: block;
    background: #999;
    color: #FFF;
    height: 18px;
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 120;
    -moz-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.zoomWrapperImage {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 110;
}

    .zoomWrapperImage img {
        border: 0px;
        display: block;
        position: absolute;
        z-index: 101;
    }

.zoomIframe {
    z-index: -1;
    filter: alpha(opacity=0);
    -moz-opacity: 0.80;
    opacity: 0.80;
    position: absolute;
    display: block;
}

fieldset {
    padding: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

    fieldset legend {
        margin-left: 15px;
        padding-left: 3px;
        padding-right: 3px;
        color: #333;
    }

dl dd {
    margin: 0px;
}

dl dt {
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
    zoom: 1;
}

ul#thumblist {
    display: block;
    margin-top: 2px;
    margin-left: 9px;
}

    ul#thumblist li {
        float: left;
        margin-right: 4px;
        list-style: none;
    }

        ul#thumblist li a {
            display: block;
            border: 1px solid #CCC !important;
        }

            ul#thumblist li a.zoomThumbActive {
                border: 1px solid #308CCA !important;
            }

            ul#thumblist li a img {
                height: 55px;
                width: 55px;
            }

.custom-grid table.grid-tabler {
    font-size: 11px;
    border: solid 1px #dcd8d6;
    border-collapse: collapse;
    border-bottom: none;
}

    .custom-grid table.grid-tabler td {
        padding: 8px;
        border-left: solid 1px #dcd8d6;
        border-bottom: solid 1px #dcd8d6;
        border-collapse: collapse;
    }

    .custom-grid table.grid-tabler th {
        padding: 8px;
        border-left: solid 1px #dcd8d6;
        border-bottom: solid 1px #dcd8d6;
        border-collapse: collapse;
        background: #42748d !Important;
        color: #ffffff !Important;
        font-size: 11px;
        font-weight: bold;
        font-family: Helvatica,Verdana,Tahoma,Arial;
    }

    .custom-grid table.grid-tabler td a img {
        margin: 0px 3px;
    }

    .custom-grid table.grid-tabler tr {
    }

        .custom-grid table.grid-tabler tr:hover td {
            background: #e0e0c5;
        }

    .custom-grid table.grid-tabler td table.sub-grd-tabler {
        font-size: 11px;
        border: solid 1px #dcd8d6;
        border-collapse: collapse;
    }

        .custom-grid table.grid-tabler td table.sub-grd-tabler th {
            padding: 8px;
            border-left: solid 1px #dcd8d6;
            border-bottom: solid 1px #dcd8d6;
            border-collapse: collapse;
            background: #53585a !important;
            color: #FFF !important;
            font-size: 11px;
            font-weight: bold;
            font-family: Helvatica,Verdana,Tahoma,Arial;
        }

            .custom-grid table.grid-tabler td table.sub-grd-tabler th a {
                color: #fff !important;
                font-size: 11px;
                font-weight: bold;
                font-family: Helvatica,Verdana,Tahoma,Arial;
            }

        .custom-grid table.grid-tabler td table.sub-grd-tabler td {
            background: #FFF;
        }

    .custom-grid table.grid-tabler tr.nav-pb {
        float: none;
        text-align: right;
        margin-bottom: 10px;
    }

        .custom-grid table.grid-tabler tr.nav-pb td {
            border: none;
            padding: 0px;
            background-color: #e0e0c5;
        }

            .custom-grid table.grid-tabler tr.nav-pb td a {
                background-color: #FFF;
                font-size: 13px;
                border-radius: 5px;
                padding: 5px 10px;
                display: block;
                margin: 5px;
            }

            .custom-grid table.grid-tabler tr.nav-pb td span {
                background-color: #9b9b30;
                color: #FFF;
                font-size: 13px;
                border-radius: 5px;
                padding: 5px 10px;
                display: block;
                margin: 5px;
            }

.show-panel {
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.collapse.in {
    background: #fdfdf6;
    background-color: aliceblue !important;
    min-height: 100px !important;
}

.custom-grid table.grid-tabler tr.active-row-tr td {
    /*background: #999999;*/
    border-bottom: solid 1px #dcd8d6;
}

.custom-grid table.grid-tabler tr.activealt-row-tr td {
    border-top: solid 1px #dcd8d6;
}

.active-row-tr {
    background: #edede4;
}

.custom-grid .optional {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.custom-grid .optiona label {
    float: left;
}

.opt-size {
    width: 60px !important;
    border-radius: 5px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px #ccc;
}

.custom-grid div.pagination-sec {
    width: 100%;
    float: left;
    margin-top: 15px;
    float: left;
}

    .custom-grid div.pagination-sec div.info {
        width: 40%;
        float: left;
        font-size: 13px;
        text-align: left;
    }

    .custom-grid div.pagination-sec div.nav-pb {
        width: 51%;
        float: right;
        text-align: right;
    }

        .custom-grid div.pagination-sec div.nav-pb ul {
            float: right;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            .custom-grid div.pagination-sec div.nav-pb ul li {
                float: left;
                margin: 0px 3px;
            }

                .custom-grid div.pagination-sec div.nav-pb ul li a {
                    padding: 5px 10px;
                    border: solid 1px #dcd8d6 !important;
                    background: #FFF;
                    color: #666;
                    border-radius: 5px;
                }

                    .custom-grid div.pagination-sec div.nav-pb ul li a:hover {
                        background: #edede4;
                    }

                    .custom-grid div.pagination-sec div.nav-pb ul li a.active-nav {
                        background: #9b9b30;
                        color: #FFF !important;
                    }

div.dataTables_filter label {
    display: none;
}

.panel-collapse img {
    margin-right: 5px;
}

.grid-tabler img {
    padding-top: 3px;
}

#lightSlider {
    height: 400px !important;
}

.csSlideOuter .csPager.cSGallery li.active {
    outline: 2px solid #CD3420;
    outline-offset: -2px;
}

.itemcart .col-sm-12 {
    padding: 0 !important;
}

.view-icon, .collapsed {
    background: url(../images/view.png) left top no-repeat;
    width: 20px;
    height: 20px;
    text-indent: 10000;
    font-size: 0px;
    display: block;
    float: left;
    margin-right: 3px;
}

.active-row {
    background: url(../images/collapse-icon.png) left top no-repeat;
    width: 20px;
    height: 20px;
    text-indent: 10000;
    font-size: 0px;
    display: block;
    float: left;
    margin-right: 8px;
}

.btn-primary:hover {
    background: #42748d !important;
}

.logo {
    margin-top: -30px;
}

.list li ul li a {
    padding: 1px 8px !important;
}

.input-sm {
    border-radius: 7px !important;
    margin-top: 0px;
    margin-right: 5px;
}

.submit .col-sm-12 .col-sm-6 {
    padding: 0 !important;
}

.custom-grid table th a {
    color: #ffffff !Important;
    font-size: 11px;
    font-weight: bold;
}

.pr-info h3 {
    margin-top: 0px !important;
}

.log {
    background: #fff;
}

.tog-icon {
    font-size: 0px !important;
    position: absolute;
    margin-top: -30px;
    margin-left: 235px;
}

.acd {
    overflow-x: auto;
    /* width: 1010px; */
}

.search-opt ul.pr-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    .search-opt ul.pr-list li {
        list-style: none;
    }

        .search-opt ul.pr-list li a {
            color: #626262;
        }

            .search-opt ul.pr-list li a:hover {
                color: #b5a60d;
            }

.theme-row-spilt {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.theme-row-spilt-left {
    float: left;
}

.theme-row-spilt-right {
    width: 21%;
    float: left;
    padding: 5px;
    padding-top: 0px;
    margin: 0px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.theme-btn-act {
    background: #b5a60d;
    width: 155px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 6px;
    color: #FFF !important;
    border: none;
}

.theme-btn-de-act {
    width: 155px;
    background: #818181;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 6px;
    color: #FFF !important;
    border: none;
}

.theme-act-brd-bottom {
    background: #FFF;
    width: 155px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 6px;
    color: #990;
    border: solid 1px #f4f4f4;
    border-bottom: solid 3px #990;
}
/* @media all and (-ms-high-contrast:none){.theme-row-spilt-right { margin:0px 0px;}IE10 
     *::-ms-backdrop, .theme-row-spilt-right{margin:0px 0px;}}*/


.settingsblock div.igdm_DMSiBlueControlVertical {
    width: 100% !important;
    background: #FFF !important;
    height: auto !important;
}

    .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot {
        width: 100% !important;
        background: #FFF !important;
    }

.settingsblock div.igdm_DMSiBlueMenuScrollContainerRootVertical {
    width: 100% !important;
    height: auto !important;
}

.settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li.igdm_DMSiBlueMenuItemVerticalRoot {
    font-size: inherit;
    border: none !important;
    padding: 0px !important;
    color: inherit;
}

.settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li {
    float: left;
    margin-bottom: 3px;
    width: 100%;
    display: block;
}

    .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li input[type="checkbox"] {
        float: left;
        margin-top: 14px;
    }

    .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li a {
        background: #818181;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        padding: 8px;
        color: #FFF;
    }

        .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li a.igdm_DMSiBlueMenuItemVerticalRootLink {
            line-height: inherit;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            color: #FFF;
        }

    .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li ul li input[type="checkbox"] {
        float: left;
        margin-top: 6px;
    }

    .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li a:hover, .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li a:focus {
        text-decoration: none;
    }

    .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li.igdm_DMSiBlueMenuItemVerticalRoot a:hover {
        background: #b5a60d !important;
        text-decoration: none;
    }

    .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li.igdm_DMSiBlueMenuItemVerticalRootSelected {
        background: none;
    }

        .settingsblock div.igdm_DMSiBlueControlVertical ul.igdm_DMSiBlueMenuGroupVerticalRoot li.igdm_DMSiBlueMenuItemVerticalRootSelected a {
            background: #b5a60d !important;
        }

.opt-margin-dev {
    padding: 0px !important;
}

.gen-txt-st {
    width: 250px;
    float: left;
    margin-right: 3px;
    padding-left: 25px;
}

.gen-btn-st {
    font-size: 14px !important;
}

.FieldLabel {
    font-size: 14px;
    color: #6d6d6d;
    font-weight: normal !important;
}

.MasterPageTable_FooterTD {
    background-color: #FFF;
}

.igdm_DMSiBlueMenuItemHorizontalRoot {
    padding: 6px 15px 6px 15px !important;
    border-right-width: 0px !important;
    font-size: 14px !important;
}

.igdm_DMSiBlueControlHorizontal {
    background-color: #fff !important;
}

.igdm_DMSiBlueMenuItemHorizontalRootHover {
    background-color: #fff !important;
    color: #42748d !Important;
    cursor: pointer;
}

A:Hover {
}

.igdm_DMSiBlueMenuItemHorizontalRoot a:hover {
    color: #42748d !Important;
    cursor: pointer !important;
}

.igdm_DMSiBlueMenuItemHorizontalRootHover > a {
    color: #42748d !Important;
}

.igdm_DMSiBlueControlHorizontal {
    border-left-style: none !important;
}

.navbar-nav.navbar-right {
    padding-bottom: 10px;
    /* width: 556px !important; */
    float: right !important;
}

.igdm_DMSiBlueMenuItemHorizontalRootSelected {
    background-color: #fff !important;
}

    .igdm_DMSiBlueMenuItemHorizontalRootSelected > a {
        color: #42748d !Important;
        font-size: 14px !important;
    }

.igdm_DMSiBlueMenuItemHorizontalRootLink {
    font-size: 14px !important;
}

.Custom .ajax__tab_active .ajax__tab_outer {
    background: #42748d !Important;
    color: #000 !important;
    border-radius: 5px 5px 0px 0px;
}

    .Custom .ajax__tab_active .ajax__tab_outer a {
        color: #ffffff !Important;
    }

.Custom .ajax__tab_outer {
    padding: 5px 19px !important;
    background: #fff !important;
    border-radius: 5px 5px 0px 0px;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
    height: 35px !important;
}

.ajax__tab_header {
    height: 38px !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    background-image: none !important;
    padding: 0px !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_inner {
    background-image: none !important;
    padding-left: 0px !important;
}

.ajax__tab_xp .ajax__tab_body {
    border: 0px !important;
}

.ajax__tab_xp .ajax__tab_header {
    font-weight: normal !important;
    font-size: 8pt !important;
    text-transform: none !important;
    font-family: Helvatica,Verdana,Tahoma,Arial !important;
    height: 39px !important;
    background-image: none !important;
}

.ajax__tab_xp .ajax__tab_body {
    font-weight: normal !important;
    font-size: 8pt !important;
    text-transform: none !important;
    font-family: Helvatica,Verdana,Tahoma,Arial !important;
}

.ClearMe {
    clear: both;
}

.ajax__tab_default .ajax__tab_header {
    border-bottom: solid 3px #42748d !Important;
}

.Custom .ajax__tab_body {
    background: #f9f9f9 !important;
}

.DarkBottomBorder {
    border-bottom: solid 2px #e9e9e9 !important;
}

.ajax__tab_inner a {
    font-size: 14px !important;
}

.col-sm-12 {
    background-color: #fff !important;
}

.LightColor {
    background-color: #f9f9f9 !important;
}

.LeftPane {
    background: #f9f9f9 !important;
}

.igdt_Control {
    overflow: inherit;
}

.igdt_NodeGroup li {
    width: 94%;
    float: left;
    display: block;
}

.igdt_NodeHolder a {
    background-color: #818181 !important;
    border-radius: 4px !important;
    margin: 2px 0px;
    padding: 9px 0px 10px 25px;
    color: #fff !important;
    width: 100%;
    float: left;
    position: relative;
    margin-top: 0px;
    color: #fff !important;
    text-align: left;
}

.igdt_NodeHolder li a {
    background-color: #f1f1f1 !important;
    color: #000 !important;
}

.igdt_NodeHolder img {
    vertical-align: middle !important;
    display: block !important;
    border-radius: 0px 0px 0px;
    position: absolute;
    z-index: 100;
    margin: 7px 0px 0px 218px;
}

.igdt_NodeGroup li.igdt_NodeHolder img:nth-child(2) {
    margin-left: 5px;
    margin-top: 10px;
}

.igdt_NodeGroup li ul li a {
    padding: 9px 0px 5px 25px !important;
}

.igdt_NodeHolder li img {
}

.igdt_NodeHolder a:hover {
    background-color: #42748d !Important;
    color: #ffffff !Important;
}

.igdt_NodeHolder ul li {
    margin: 5px 0px;
}

    .igdt_NodeHolder ul li:hover {
        background-color: #bcab1f !important;
    }

.igdt_NodeGroup li ul li:hover {
    background-color: #FFF !important;
}

.igdt_NodeGroup li ul li a:hover {
    background-color: #FFF !important;
}

.igdt_NodeGroup li ul {
}

    .igdt_NodeGroup li ul li {
        background: none;
        padding: 0px;
        margin: 0px;
    }

        .igdt_NodeGroup li ul li a {
            background-color: #FFF !important;
            padding: 5px 0px 5px 5px;
        }

.igdt_NodeHolder li ul li:hover {
    background-color: none !important;
}

.igdt_NodeGroup li ul li a:hover {
    background-color: none !important;
    color: #42748d !Important;
}

.ajax__tab_default {
    width: 255px !important;
}

.igte_Edit {
    margin: 2px 0px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ddlselect {
    height: 30px !important;
    margin-left: 5px !important;
    border: 1px solid #ccc !important;
    padding-left: 10px !important;
    border-radius: 7px !important;
}

.activesbutton {
    background: #42748d !Important;
    border: none;
    border-radius: 5px;
    color: #ffffff !Important;
    margin-left: 3px;
    margin-top: 10px;
    font-size: 14px;
    padding: 3px 3px;
    float: right;
}

    .activesbutton:hover {
        background-color: #42748d !Important;
    }

    .activesbutton:focus {
        background-color: #42748d !Important;
    }

.inactivesbutton {
    color: #565759 !Important;
    background-color: #dbd9d6 !important;
    border: none;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 14px;
    padding: 3px 3px;
    float: right;
}

    .inactivesbutton:hover {
        background-color: #dbd9d6 !Important;
    }

#WebDataMenu1 .igdm_DMSiBlueMenuGroupHorizontalRoot > li.active > a,
.igdm_DMSiBlueMenuGroupHorizontalRoot > li.active > a:hover,
.igdm_DMSiBlueMenuGroupHorizontalRoot > li.active > a:focus {
    border: 1px solid #ddd !important;
    border-bottom-color: transparent !important;
}

#WebDataMenu1 .igdm_DMSiBlueMenuGroupHorizontalRoot li a {
    background: #b5a60d !important;
}

#WebDataMenu1 .igdm_DMSiBlueMenuGroupHorizontalRoot {
    margin: 10px 0;
}

.varigdt_NodeHolder a {
    background-color: #fff !important;
    border-radius: 4px !important;
    margin: 2px 0px;
    padding: 9px 0px 10px 25px;
    width: 100%;
    float: left;
    position: relative;
    margin-top: 0px;
    color: #000 !important;
}

    .varigdt_NodeHolder a:hover {
        color: #42748d !Important;
        background-color: #fff !important;
    }

.var2igdt_NodeHolder a {
    background-color: #fff !important;
    border-radius: 4px !important;
    margin: 2px 0px;
    padding: 10px 0px 10px 28px;
    width: 100%;
    float: left;
    position: relative;
    margin-top: 0px;
    color: #000 !important;
}

.varigdt_NodeHolder ul li ul {
    padding-left: 20px !important;
}

.var2igdt_NodeHolder li img {
    padding-left: 5px !important;
}

.var2igdt_NodeHolder li ul li img {
    padding-left: 27px !important;
    margin-top: 4px !important;
}

.var2igdt_NodeHolder li img:nth-child(1) {
}

.var2igdt_NodeHolder li ul li a {
    padding: 4px 0px 5px 50px !important;
}

.var2igdt_NodeHolder li ul li:last-child {
    border-bottom: solid 1px #ccc;
}

.logviewadvbutton {
    background: #42748d !Important;
    padding: 8px 25px;
    border-radius: 7px;
    color: #ffffff !Important;
    border: none;
    margin: 10px 7px !important;
    float: right;
    font-size: 13px !important;
}

.dropdown-menu li .MenuLink {
    color: #42748d !Important;
    font-size: 14px !important;
    border: none;
    background: #fff;
    margin: 0px;
    padding: 0px;
}

.dropdown-menu li input[type='button'] button:hover {
    background-color: #f5f5f5 !important;
}

.MenuLink:hover {
    background-color: #f5f5f5 !important;
}

.inactiveli {
    background: #dbd9d6 !Important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    padding: 8px;
    color: #565759 !Important;
    width: 96%;
}

.searchddl {
    height: 30px !important;
    margin-left: 5px !important;
    border: 1px solid #ccc !important;
    padding-left: 10px !important;
    border-radius: 7px !important;
}

.Editquotelabel {
    width: 174px !important;
    height: auto !important;
    margin: 0 10px 0 0;
    padding: 0px !important;
    float: left;
    font-weight: bold;
    color: #000000;
    font-size: 11px;
}

.marginRight2px {
    margin-right:2px !important;
}

.marginRight1px {
    margin-right:1px !important;
}

.width62 {
    width: 62% !important;
}

.editRetailCustLabel {
    width: 202px !important;
    height: auto !important;
    margin: 0 10px 0 0;
    padding: 0px !important;
    float: left;
    font-weight: bold;
    color: #000000;
    font-size: 11px;
}
.otherChargesDescriptionInput {
    width: 35% !important;
}

.otherChargesAmountLabel {
    width: 20% !important;
    height: auto !important;
    margin: 0 7px 0 0;
    padding: 0px !important;
    font-weight: bold;
    color: #000000;
    font-size: 11px;
}

.otherChargesAmountInput {
    width: 16% !important;
}

.preferencelabel {
    height: auto !important;
    margin: 0 10px 0 0;
    padding: 0px !important;
    float: left;
    color: #000000;
    font-size: 11px;
}

.PopupInfolabel {
    width: 174px !important;
    height: auto !important;
    margin: 0 10px 0 0;
    padding: 0px !important;
    font-weight: bold;
    color: #000000;
}

.editcheckbox {
    margin-left: 5px !important;
    margin-top: 0px !important;
    width: 100%;
    display: inline-block;
}

.editcheckbox1 {
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 100%;
    display: inline-block;
}

.clear .EditquoteText {
    width: 50%;
    height: auto;
    margin: 0px;
    padding: 8px 10px;
    border-radius: 7px;
    border: solid 1px #ccc;
}

.alladvsearchlabel {
    padding-left: 5px;
    font-weight: bold;
    font-size: 14px;
    float: left;
}

.DropDownLabelStyle95 {
    width: inherit !important;
}

.caret {
    margin-top: 8px;
    color: #ffffff;
}

.lemongreen {
    float: right;
}

    .lemongreen a {
        color: #ffffff !Important;
        font-size: 13px;
    }

.navbar-nav li input[type='image'] {
    float: left;
    margin-right: 10px;
    padding: 14px 10px 10px 10px;
}

.RoundedCornerTextBox {
    height: 28px !important;
}

.logoverflow {
    width: 960px;
    overflow-x: scroll;
}

.optional a {
    color: #42748d !Important;
    font-size: 14px;
}

.optional ul.cust-opt-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    .optional ul.cust-opt-list li {
        float: left;
        margin-right: 5px;
    }

        .optional ul.cust-opt-list li span, .optional ul.cust-opt-list li label, .optional span {
            font-size: 13px !important;
        }

#header-section .top li input[type="submit"] {
    height: 20px;
    line-height: 20px;
    text-align: left;
    width: 103%;
}

.SortLabel {
    padding-left: 0px !important;
}

.productdetails p {
    font-size: 14px !important;
}

.pd-tab-list ul {
    border-bottom: 1px solid #ddd !important;
    width: 100%;
    float: left !important;
    margin-bottom: 15px !important;
}

    .pd-tab-list ul li {
        float: left !important;
        margin-bottom: -1px;
        position: relative;
        height: inherit !important;
        padding: 0px !important;
    }

        .pd-tab-list ul li a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0 !important;
            padding: 8px !important;
            color: #428bca;
        }

            .pd-tab-list ul li a span {
                color: #428bca;
            }

            .pd-tab-list ul li a:hover {
                background-color: #eee !important;
            }

        .pd-tab-list ul li.igdm_DMSiBlueMenuItemHorizontalRootActive a {
            border: 1px solid #ddd !important;
            border-bottom: none !important;
            background-color: #FFF !important;
            float: left;
            margin-top: -1px;
        }

            .pd-tab-list ul li.igdm_DMSiBlueMenuItemHorizontalRootActive a span {
            }

.pd-quick-btn {
    border: none !important;
    color: #42748d !Important;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.thumb-view {
    padding: 0px !important;
    margin: 0px !important;
    width: 227px;
    position: relative;
    left: -22px;
}

.thumb-viewper {
    padding: 0px !important;
    margin: 0px !important;
    width: 80%;
    position: relative;
    left: -22px;
}

.thumb-view table td div a img {
}

.pd-Title {
    font-size: 18px;
    color: #9f9606;
}

    .pd-Title a {
        font-size: 18px;
        color: #42748d !Important;
    }

        .pd-Title a:hover {
            color: #42748d !Important;
        }

.qty-txt {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 80px;
    padding: 0px 5px;
    height: 30px;
    margin: 0px 5px;
}

.pd-page-link {
    padding: 5px 0px !important;
    border: solid 1px #dcd8d6 !important;
    background: #FFF;
    color: #666;
    border-radius: 5px;
    text-align: center !important;
}

    .pd-page-link:hover {
        color: #666;
    }

.listPaging {
    padding: 5px 10px;
    border: solid 1px #dcd8d6 !important;
    background: #42748d !Important;
    color: #ffffff !Important;
    border-radius: 5px;
}

.advsearch input[type="submit"] {
    margin-right: 5px !important;
}

.igg_Office2007SilverControl {
    background-repeat: repeat-x;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: solid 1px #d8d7c7 !important;
}

.igg_Office2007SilverHeader {
    background-color: #42748d !Important;
    background-repeat: repeat-x;
    background-image: none !important;
    border-right: solid 0px #d8d7c7 !important;
    height: 25px;
    color: #ffffff !Important;
}


.igg_Office2007SilverHeaderCaption {
    border-right: solid 1px #d8d7c7 !important;
    border-bottom: solid 1px #d8d7c7 !important;
    padding-left: 8px !important;
    overflow: hidden;
    text-align: left;
    height: 25px;
    color: #ffffff !Important;
    font-weight: bold !important;
    ;
    font-family: Helvatica,Verdana,Tahoma,Arial;
}

.igg_Office2007SilverItem tr:hover td {
    background-color: #e0e0c5 !important;
}

tbody.igg_Office2007SilverItemIE6 tr td {
    border-left: solid 1px #dcd8d6 !important;
    border-bottom: solid 1px #dcd8d6 !important;
    padding: 8px;
    border-collapse: collapse;
    background-color: White;
}

tbody tr.igg_Office2007SilverAltIE6 td {
    border-left: solid 1px #dcd8d6 !important;
    border-bottom: solid 1px #dcd8d6 !important;
    padding: 8px;
    border-collapse: collapse;
    background-color: White;
}

tbody.igg_Office2007SilverItemIE6 tr:hover td {
    background-color: #e0e0c5 !important;
}

tbody.igg_Office2007SilverItem > tr > td {
    background-color: White;
    border-right: solid 0px #D0D7E5;
    border-bottom: solid 0px #D0D7E5;
    padding: 5px 8px 5px 8px;
    height: 23px;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
}

.BorderedContainer {
    border: 0px solid Gray;
    padding: 1px 1px 5px 1px;
    background-color: none !important;
}

.MasterPageTable_FooterTD {
    background-color: #FFF !important;
}

.Validator {
    color: red;
}

.PagerGridView {
    background: #fff;
}

    .PagerGridView td {
        border-left: none !important;
        border-bottom: none !important;
        padding: 8px 2px !important;
        background: #fff;
    }

        .PagerGridView td:hover {
            background: #fff !important;
        }

            .PagerGridView td:hover table td {
                background: #fff !important;
            }

        .PagerGridView td a {
            padding: 5px 10px;
            border: solid 1px #dcd8d6 !important;
            background: #FFF;
            color: #666;
            border-radius: 5px;
        }

            .PagerGridView td a:hover {
                background: #ffffff;
            }

        .PagerGridView td span {
            padding: 5px 10px;
            border: solid 1px #dcd8d6 !important;
            background: #42748d !Important;
            color: #ffffff !Important;
            border-radius: 5px;
        }

.PagerDetailGridView {
    background-color: #ffffff !important;
}

    .PagerDetailGridView td {
        border-left: none !important;
        border-bottom: none !important;
        padding: 8px 2px !important;
    }

        .PagerDetailGridView td:hover table td {
            background: #fff !important;
        }

        .PagerDetailGridView td a {
            padding: 5px 10px;
            border: solid 1px #dcd8d6 !important;
            background: #FFF;
            color: #666;
            border-radius: 5px;
        }

            .PagerDetailGridView td a:hover {
                background: #ffffff;
            }

        .PagerDetailGridView td span {
            padding: 5px 10px;
            border: solid 1px #dcd8d6 !important;
            background: #53585a;
            color: #FFF !important;
            border-radius: 5px;
        }

.SimplePanelHeader2 {
    background-color: #42748d !Important;
    color: #ffffff !Important;
}

    .SimplePanelHeader2 span {
        padding-left: 10px;
    }

.text:focus {
    -moz-box-shadow: 0 0 5px #b5a60d;
    -webkit-box-shadow: 0 0 5px #b5a60d;
    -ms-box-shadow: 0 0 5px #b5a60d;
    box-shadow: 0px 0px 5px #b5a60d !important;
    border: 1px solid #b5a60d !important;
    width: 91%;
    border-radius: 0 5px 5px 0;
}

select:focus, input[type='text']:focus, input[type='password']:focus {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0px 0px 5px #ccc !important;
    border: solid 2px #ccc !important;
}

.search input[type='text']:focus {
    border: none !important;
    box-shadow: none !important;
    padding-top: 3px;
}

.footer span a:hover {
    color: #2a6496;
}

.footer span a:focus {
    color: #2a6496;
}

.loginslabel {
    padding-top: 10px;
    color: #6d6d6d;
    font-weight: normal;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}

.loginsbuttonprimary {
    background: #42748d !important;
    border: none;
    border-radius: 5px;
    color: #ffffff !Important;
    margin-left: 10px;
    font-size: 14px !important;
    padding: 5px 20px !important;
    float: right;
}

.loginsbuttonsecondary {
    border: none;
    border-radius: 5px;
    color: #565759 !Important;
    background-color: #dbd9d6 !Important;
    margin-left: 10px;
    font-size: 14px !important;
    padding: 5px 20px !important;
    float: right;
}

.Field label {
    color: #6d6d6d !important;
}

.btn-default {
    padding: 10px 24px;
    border-radius: 7px;
    color: #565759 !Important;
    background-color: #dbd9d6 !important;
    border: none;
    margin-left: 10px;
    float: right;
    font-size: 13px !important;
}

.btn-msgdefault {
    padding: 10px 24px;
    border-radius: 7px;
    color: #333;
    background-color: #FFF;
    border: solid 1px #dcd8d6 !important;
    margin-right: 10px;
    float: left;
    font-size: 13px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-colpick {
    padding: 10px 24px;
    border-radius: 7px;
    color: #333;
    background-color: #e6e6e6;
    border: thin;
    float: right;
    font-size: 13px !important;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
}

.btn btn-default:focus {
    color: #fff;
    background-color: #b5a60d !important;
    border-color: #adadad !important;
}

.btn btn-default:hover {
    color: #fff;
    background-color: #dbd9d6 !Important;
    border-color: #adadad !important;
}

.btn-default:hover {
    color: #fff;
    background-color: #dbd9d6 !Important;
    border-color: #adadad !important;
}

.btn-default:focus {
    color: #333;
    background-color: #dbd9d6 !Important;
    border-color: #adadad !important;
}

.btn-primary {
    color: #ffffff !Important;
    background-color: #42748d !important;
    padding: 10px 24px !important;
    border-radius: 7px;
    border: none;
    margin-left: 10px;
    float: right;
    font-size: 13px !important;
}

.addtocart {
    padding: 10px 8px !important;
}

.login a:focus {
    color: #42748d !Important;
}

.login a:hover {
    color: #42748d !Important;
}

.close {
    float: right !important;
    border: none !important;
    background: none !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #666 !important;
    margin-top: 5px !important;
}

    .close:hover {
        color: #333 !important;
    }

.btn-themeprimary {
    color: #000;
    background: #ddd !important;
    padding: 8px 24px !important;
    border-radius: 7px;
    border: none;
    margin: 0px 10px 7px !important;
    float: left;
    font-size: 13px !important;
}

.themetextspan {
    float: left;
    background-color: #eee;
    position: absolute;
    left: 51px;
    padding: 3px 6px;
    border-radius: 3px 0px 0px 3px;
    margin-top: 16px;
    padding-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_container {
    background-color: #fff;
    border: solid 1px #ccc;
    width: 254px;
    height: 287px;
}

    .cal_Theme1 .ajax__calendar_container TD {
        padding: 2px 2px;
    }

.cal_Theme1 .ajax__calendar_days {
    width: 244px;
}

.cal_Theme1 .ajax__calendar_header {
    border: 1px solid #aaaaaa;
    background: #cccccc url("http://code.jquery.com/ui/1.11.1/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
    margin-bottom: 4px;
    height: 30px;
}

.cal_Theme1 .ajax__calendar_title {
    color: #222222;
    padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_prev,
.cal_Theme1 .ajax__calendar_next {
    color: #222222;
    margin-top: 6px;
}

.cal_Theme1 .ajax__calendar_body {
    background-color: #fff;
    border: solid 1px #ccc;
    width: 244px;
    height: 210px;
}

.cal_Theme1 .ajax__calendar_dayname {
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
    color: #222222;
}

.cal_Theme1 .ajax__calendar_day {
    color: #222222;
    text-align: center;
    background: url("http://code.jquery.com/ui/1.11.1/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png");
    height: auto !important;
    width: 26px !important;
    font-size: 14px;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year {
    color: #222222;
    font-weight: bold;
    background-color: #ccc;
    background: url("http://code.jquery.com/ui/1.11.1/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png");
}

.cal_Theme1 .ajax__calendar_active {
    color: #f00;
    font-weight: bold;
    background-color: #ccc;
    background: url("http://code.jquery.com/ui/1.11.1/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png");
}

.cal_Theme1 .ajax__calendar_today {
    font-weight: bold;
}

.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
    color: #bbbbbb;
}

.prodsearchsortbutton input[type="submit"] {
}

.prodsearchsortbutton .btn-primary {
    margin-left: 0px !important;
}

.btnpopup-primary {
    color: #ffffff !Important;
    background-color: #42748d !Important;
    border: none;
    float: left;
    font-size: 13px !important;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnpopup-default {
    color: #565759 !Important;
    background-color: #dbd9d6 !Important;
    border: none;
    float: left;
    font-size: 13px !important;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.loginsbuttonprimary:hover {
    background: #42748d !important;
}

.loginsbuttonprimary:focus {
    background: #42748d !important;
}

.loginsbuttonsecondary:hover {
    background: #dbd9d6 !Important;
}

.loginsbuttonsecondary:focus {
    background: #dbd9d6 !Important;
}

.forgotpasswordlabel {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.login input[type=checkbox]:hover {
    border: 1px blue dotted;
}

.brd-crumbactive {
    float: left;
    margin-right: 10px;
    color: #42748d !Important;
    font-size: 14px;
    cursor: pointer;
}

    .brd-crumbactive:hover {
        cursor: pointer;
    }

.brd-crumbaInctive:hover {
    cursor: initial;
}

.brd-crumbaInctive {
    color: #cdcdcd !important;
    padding-right: 15px;
    background: url(../images/breadcrumb-arrow.png) right center no-repeat;
    font-size: 14px;
    cursor: initial;
}

.prodaddqlist {
    font-family: "Helvatica", Arial !important;
    font-size: 14px !important;
    float: right;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    background-color: #FFF !important;
    border: none !important;
    color: #42748d !Important;
    padding: 10px 24px !important;
}

tbody.igg_Office2007SilverItem > tr > td {
    border: solid 1px #dcd8d6;
}

.loginsbuttonprimary:focus {
    background: #42748d !important;
}

.changebutton {
    float: none;
}

.note strong {
    font-size: 14px;
    float: left;
}

.note label {
    font-size: 13px !important;
}

.validationmessageul {
    list-style-position: inside !important;
}

.itemscartheader {
    float: left;
    padding-top: 25px;
}

.wrapstyle input[type=text] {
    height: 30px;
    width: 200px;
    border-radius: 5px 5px 5px 5px;
}

.wrapstylecatogeries input[type=text] {
    height: 30px;
    width: 140px;
    border-radius: 5px 5px 5px 5px;
    line-height: 23px !important;
}

    .wrapstylecatogeries input[type=text]:focus {
        height: 30px;
        width: 140px;
        border-radius: 5px 5px 5px 5px;
        line-height: 16px !important;
    }

.wrapstyledecimal input[type=text] {
    height: 30px;
    width: 100px;
    border-radius: 5px !important;
}

.selectlinkUnderline {
    text-decoration: underline !important;
    cursor: initial;
}

.handHover {
    text-decoration: underline !important;
    cursor:pointer;
}

.productsconfigure {
    padding: 6px;
    margin-left: 0px;
    font-family: "Helvatica", Arial !important;
    font-size: 14px !important;
    font-weight: bold;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #42748d !important;
    border-radius: 6px;
}

.msgField {
    margin-left: -20px;
}

.cartbuttondefault {
    color: #565759 !important;
    background-color: #dbd9d6 !Important;
    padding: 10px 24px !important;
    border-radius: 7px;
    border: none;
    float: left !important;
    margin-left: -20px !important;
    font-size: 13px !important;
}

.SettingsLink {
    font-size: 13px;
    color: #42748d !Important;
}

    .SettingsLink:hover {
        color: #42748d !Important;
    }

.prodcut-row table {
    width: 100%;
}

    .prodcut-row table td {
        text-align: left;
        font-size: 14px;
        font-family: "Helvatica", Arial !important;
    }

.prodtitle {
    color: #9f9606;
}

.youmaywish {
    font-size: 20px;
}

.modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.ComplementaryModalBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
}

.CartModalBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
    top: 0;
}

.igdm_DMSiBlueControlHorizontalDisabled {
    border-left: 0px !important;
}

tbody > tr.igg_Office2007SilverAlt > td {
    background: #fff;
}

table.changepopup {
    width: 100% !important;
}

input#ctl00_OptionsSelector_cbxRetain {
    margin-top: 6px !important;
    margin-right: 5px !important;
}

.editcheckbox input[type="checkbox"] {
    margin-top: 6px !important;
    margin-right: 5px !important;
    float: left;
}

.editcheckbox1 input[type="checkbox"] {
    margin-top: 6px !important;
    margin-right: 5px !important;
    float: left;
}

.userprefrence label {
    font-weight: normal !important;
}

.editcheckalignleft input[type="checkbox"] {
    margin-left: 0px !important;
}

.prodsearchdivs {
    text-align: left;
    float: left;
}

.qty-prdtleft {
    padding-left: 15px !important;
}

.carttable th {
    padding: 8px;
    border-left: solid 1px #dcd8d6;
    border-bottom: solid 1px #dcd8d6;
    border-collapse: collapse;
    background: #42748d !Important;
    color: #ffffff !Important;
}

.carttable td {
    padding: 8px;
    border-left: solid 1px #dcd8d6;
    border-bottom: solid 1px #dcd8d6;
    border-collapse: collapse;
}

.carttable tr:hover td {
    background: #e0e0c5;
}

.igdm_DMSiBlueMenuItemHorizontalRootActive > a {
    color: #42748d !Important;
}

.editcheckalignleft input[type="checkbox"] {
    margin-left: 0px !important;
}

.editcheckrelease input[type="checkbox"] {
    float: left;
    margin-left: 0px !important;
}

.qty-wid, addto {
    width: 35px !important;
    margin-left: -35px !important;
}

.productdetails span, .productdetails h3, .productdetails h4, .productdetails p {
    width: 100%;
    text-align: left !important;
    margin: 0px;
}

.addtolit {
    padding-left: 0px !important;
    text-align: left;
}

.AlignLeft input[type="checkbox"] {
    margin-top: 5px !important;
}

.Menulinklastchild {
    margin-top: -6px !important;
}

.partn {
    width: 60px !important;
    font-size: 15px !important;
}

.gridrightbordernone {
    border-left: none !important;
}

#act-brd {
    border-bottom: 0px !important;
}

.addnum, .canreq {
    float: right !important;
}

.onord {
    width: 13% !important;
}

address {
    margin-bottom: 10px !important;
}

.lemongreen a:focus::after {
    background: #ccc;
}

.versionf:hover {
    color: #2a6496;
}

.versionf {
    cursor: default;
}

.dropdown-menu li input[type='submit']:focus {
    background-color: #f5f5f5 !important;
    border: none !important;
    outline: none !important;
}

.imgcarts:focus {
    background-color: #f5f5f5 !important;
}

.lemongreen:focus {
    background-color: #f5f5f5 !important;
}

.search-bar-text {
    border: 0 none;
    outline: 0 none;
    padding: 5px 0 5px 10px;
    width: 93%;
    background: #f5f5f5;
}

.modal-footer {
    padding: 15px !important;
    float: right;
}

.forgotpasswordtext {
    outline: none;
    margin-left: 0px !important;
    width: 100% !important;
    text-indent: 0px;
}

.MasterPageTable {
    float: left;
    background-color: #ffffff;
}

.navbar-right input[type='button'] {
    margin-left: 0px !important;
}

.CollapsibleAdvSearchPanel {
    font-style: normal;
    color: #42748d !Important;
    text-decoration: underline !important;
}

.CollapsibleHeaderDIV {
}

.ColorPicker, .EmoticonPicker {
    border: 1px solid black;
    padding: 4px;
    background: white;
    white-space: nowrap;
    color: black;
    text-align: center;
}

.ColorContainer {
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 144px;
    white-space: nowrap;
}

.ColorRow, .EmoticonRow {
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    line-height: 10px;
    clear: left;
}

    .ColorRow a {
        margin: 1px;
    }

.ColorCell {
    display: block;
    float: left;
    border: 1px solid #81807f;
    width: 14px;
    height: 14px;
    padding: 1px;
    cursor: pointer;
}

.EmoticonCell {
    display: block;
    float: left;
    border: 1px solid #81807f;
    width: 19px;
    height: 19px;
    padding: 1px;
    cursor: pointer;
}

.brnchslt:focus {
    border: none !important;
    height: 25px;
}

.SettingsLinkMarginTop {
    text-decoration: none;
    cursor: pointer;
    color: #42748d !Important;
    margin-left: 8px;
    margin-right: 6px;
    margin-top: 6px;
}

.qty {
    float: left;
}

.each {
    float: right;
}

.qty-txt {
    line-height: 20px;
}

    .qty-txt:focus {
        line-height: 20px;
    }

.submit .default-list li input[type="text"], .form .default-list li input[type="password"], .form .default-list li select {
    height: 35px;
    margin: 0px;
    padding-left: 10px;
    border-radius: 7px;
    border: solid 1px #ccc;
    line-height: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}

select:focus {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0px 0px 5px #ccc !important;
    border: solid 1px #ccc !important;
    height: 30px;
}

input[type='text']:focus, input[type='password']:focus {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0px 0px 5px #ccc !important;
    border: solid 2px #ccc !important;
    height: 30px;
}

.default-list input[type='password']:focus {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 25px !important;
}


.qtymargin {
    margin-right: 0px;
    font-size: 14px !important;
}

.default-list li label {
    font-weight: bold;
}

.reqpw {
    padding-top: 10px;
    float: left;
    padding-left: 32px;
}

#header-section .top td span {
    color: #666;
}

#header-section .top li span a {
    color: #ffffff;
}

.passwordfocus li input[type='password']:focus {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 35px !important;
    line-height: 16px;
}

.changepasstext:focus {
    height: 25px !important;
}

.changepasstext {
    height: 25px !important;
}

.inventorygridrow {
    float: none !important;
}

.cust-opt-list select:focus {
    height: 30px;
}

.optional ul.cust-opt-list li span {
    float: left;
    padding-top: 3px;
}

.optional a {
    float: right;
    padding-top: 2px;
}

.inactiveli:hover {
    background: #dbd9d6 !Important;
}

.advsearch input[type='text']:focus {
    height: 35px;
}

.demoPanel input:focus {
    height: 35px;
}

.qty-wid {
    float: left;
}

.optionslink {
    padding-left: 15px;
}

.optionslinkorder {
    padding-right: 110px;
}

.topbannerblankimage {
    float: left;
    outline: none;
    width: 1px;
    height: 1px;
    text-indent: -999px;
}

.RoundedCornerTextBox:focus {
}

.releasebuttonalign {
    float: left;
    margin-left: 0px !important;
    padding-bottom: 10px;
}

.custom-grid table.grid-tabler th:last-child, .custom-grid table.grid-tabler td:last-child {
    padding: 0px;
    border: none;
    border-bottom: solid 1px #dcd8d6;
}

.custom-grid table.grid-tabler th:first-child, .custom-grid table.grid-tabler td:first-child {
    border-left: solid 1px #dcd8d6;
    border-bottom: solid 1px #dcd8d6;
}

.custom-grid table.grid-tabler td table.sub-grd-tabler td:last-child {
    padding: 8px;
    border-left: solid 1px #dcd8d6;
    border-bottom: solid 1px #dcd8d6;
    border-collapse: collapse;
}

.custom-grid table.grid-tabler td table.sub-grd-tabler th:last-child {
    padding: 8px;
    border-left: solid 1px #dcd8d6;
    border-bottom: solid 1px #dcd8d6;
    border-collapse: collapse;
    background: #9b9b30;
    color: #FFF;
}

.messagetextbox {
    height: 35px !important;
    margin: 5px 0px;
    border: 1px solid #ccc !important;
    width: 70% !important;
    padding-left: 10px;
    border-radius: 7px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-left: 5px;
}

    .messagetextbox:focus {
        height: 35px !important;
        padding-top: 4px;
        padding-bottom: 6px;
    }

.messageaddbutton {
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
}

.productsavilabledropdown {
    margin-right: 20px;
}

.logtextalign {
    text-align: left;
}

.qty-prdtxt {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 80px;
    padding: 0px 5px;
    height: 35px !important;
    line-height: 16px;
}

    .qty-prdtxt:focus {
        height: 35px !important;
        line-height: 16px;
    }

.prdtxtdetail {
    width: 90px !important;
    margin-bottom: 40px !important;
}

.partnoText {
    width: 50%;
    height: auto;
    margin: 0px;
    padding: 8px 10px;
    border-radius: 7px;
    border: solid 1px #ccc;
    height: 35px !important;
    line-height: 16px;
}

    .partnoText:focus {
        height: 35px !important;
        line-height: 16px;
    }

.igte_Focus {
}

.messageoverflow {
    width: 350px;
    overflow-x: auto;
}

.quotereleasealignright {
    float: right !important;
}

.quotereleasealignleft {
    margin-left: 0px;
    float: left;
}

.product-tb-img {
    float: left;
    width: 98%;
}

.messagegrid {
    margin-top: 1px !important;
}

#body-container .mid-container .left-section {
    /* width: 23% !important; */
    width: 200px !important;
}

    #body-container .mid-container .left-section div.lft-cont-sec {
        width: auto !important;
    }

#body-container .mid-container .right-section div.container-sec, div.container-sec {
    display: block;
}

#body-container {
    min-width: 800px;
}

    #body-container .mid-container .pr-left-section {
        min-width: 300px !important;
    }

    #body-container .mid-container .pr-right-section {
        width: 60% !important;
    }

.msg-add-category {
    float: right;
    margin-top: 5px;
}

.container-sec .custom-grid {
    /*overflow-x: auto;*/
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: inherit !important;
}

.hidden_box {
    visibility: hidden;
}

.partnoborder {
    border: none !important;
}

    .partnoborder td:first-child {
        border: solid 1px #ccc !important;
    }

    .partnoborder td:nth-child(4) {
        border-right: solid 1px #ccc;
    }

    .partnoborder th:nth-child(4) {
        border-right: solid 1px #ccc;
    }

    .partnoborder th:nth-child(5) {
        display: none;
    }

.ajax__tab_default .ajax__tab_header {
    text-align: left;
}

.prodviewauto {
    width: auto !important;
}

#lightslider {
    list-style: none;
}

.quoteEditaddinfo {
    margin-left: 0px !important;
}

.btnpopupleft {
    float: right;
    margin: 0px 5px;
}

.editQuotemultiplier {
    padding-right: 0px;
    line-height: 18px;
}

.returntoQuote {
    padding: 9px 15px !important;
    margin-right: 15px;
}

.Quoterelease_Submit {
    margin-right: 10px;
}

.quoterelease_errmsg {
    padding-top: 7px;
    float: left;
    padding-left: 10px;
}

.lblpopupright {
    float: left;
    padding-top: 9px;
    padding-right: 5px;
}

.messagetextarea {
    padding: 0 10px;
}

.scrollingdiv {
    vertical-align: top;
    padding-top: 6px;
    padding-left: 10px;
    margin-right: 8px;
}

.thumb-viewper {
    width: 230px;
}

.trimgitemdetails {
    width: 270px;
}

.mdlpopup {
    width: 1140px;
}

.gridborderleft {
    border-left: 1px solid #ccc !important;
}

.gridborderbottom {
    border-bottom: 1px solid #ccc !important;
}

.retail li {
    margin: 0px 0px 5px 0px !important;
}

.cartbannerbutton {
    padding-right: 0px !important;
}

.poupEditscroll {
    overflow-y: auto;
}

.igwophase {
    width: 100%;
}

.btnprodsearch {
    font-size: 13px !important;
    padding: 4px 9px !important;
}

.zeroPriceWarning {
	display: flex;
    padding: 52px 0px 0px 6px;
    color: red;
}

@media only screen and (min-width: 936px) and (max-width: 1279px) {
    .advsearch label {
        width: auto;
    }

    .mdlpopup {
        width: 900px;
    }

    .messagetextbox {
        width: 55% !important;
    }

    .thumb-view {
        width: 225px;
    }

    .thumb-viewper {
        width: 230px;
        padding-left: 10px !important;
    }

    .igwophase {
        width: 200px;
    }

    .msg-add-category {
        margin-left: 40px;
    }

    .messageaddbutton {
        margin-left: 45px;
    }

    .wrapstylecatogeries input[type=text] {
        width: 110px;
    }

        .wrapstylecatogeries input[type=text]:focus {
            width: 110px;
        }

    .activechangepassword {
        width: 190px;
    }

    .navbar-nav.navbar-right {
        margin-left: -145px;
    }

    .dvproddesc {
        width: 72% !important;
    }
}


@media only screen and (min-width: 768px) and (max-width: 935px) {
    #header-section .top li span a, #header-section .top li span, .logout a, .Cartdetails > a, .dropdown-menu > li > a {
        font-size: 11px !important;
    }

    .mdlpopup {
        width: 800px;
    }

    .igdm_DMSiBlueMenuItemHorizontalRootSelected > a, .igdm_DMSiBlueMenuItemHorizontalRootLink {
        font-size: 11px !important;
    }

    .thumb-view {
        width: 225px;
        left: 10px;
    }

    .trimgitemdetails {
        width: 240px;
    }

    .thumb-viewper {
        width: 226px;
        left: 6px;
    }

    .igdm_DMSiBlueMenuGroupHorizontalRoot {
        float: right;
    }

    .brnchslt {
        width: 152px !important;
    }

    #header-section .top li {
        padding: 0 4px;
    }

    .advsearch label {
        width: auto;
    }

    .messagetextbox {
        width: 51% !important;
    }

    .scrollingdiv {
        vertical-align: top;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 7px;
    }

    .msg-add-category {
        margin-left: 35px;
    }

    .messageaddbutton {
        margin-left: 40px;
    }

    .igwophase {
        width: 200px;
    }

    .wrapstylecatogeries input[type=text] {
        width: 70px;
    }

        .wrapstylecatogeries input[type=text]:focus {
            width: 70px;
        }

    .activechangepassword {
        width: 160px;
    }

    .navbar-nav.navbar-right {
        margin-left: -185px;
    }

    .dvproddesc {
        width: 64%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .navbar-nav {
        margin: 0px;
        width: 767px;
        float: left !important;
    }

    .wrapEditLabel {
        line-height: 16px !important;
    }

    .igwophase {
        width: 200px;
    }

    .thumb-view {
        width: 135px;
    }

    .thumb-viewper {
        width: 90%;
    }

    .scrollingdiv {
        vertical-align: top;
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 12px;
    }

    .igdm_DMSiBlueMenuItemHorizontalRootSelected > a, .igdm_DMSiBlueMenuItemHorizontalRootLink {
        font-size: 11px !important;
    }

    #header-section .top li {
        float: left;
        padding: 0 4px;
    }

        #header-section .top li span a, #header-section .top li span, .logout a, .Cartdetails > a, .dropdown-menu > li > a {
            font-size: 11px !important;
        }

    .brnchslt {
        width: 152px !important;
    }

    .col-sm-12 {
        width: 767px !important;
    }

    .collapse {
        display: block;
    }

    .RoundedCornerTextBox {
        width: 220px;
    }

    .navbar-nav.navbar-right {
        float: right !important;
    }

    .search {
        width: auto;
    }

    .logo-header .col-sm-7 {
        padding-bottom: 0px !important;
    }

    .dropdown-menu li {
        float: none !important;
        padding: 0 4px;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: left;
        margin: 2px 0 0;
        background-color: #fff;
        border: 1px solid #ccc;
        webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .advsearch label {
        width: auto;
    }

    .messagetextbox {
        width: 48%;
    }

    .msg-add-category {
        margin-left: 23px;
    }

    .messageaddbutton {
        margin-left: 28px;
    }

    .wrapstylecatogeries input[type=text] {
        width: 50px;
    }

        .wrapstylecatogeries input[type=text]:focus {
            width: 50px;
        }

    .navbar-nav.navbar-right {
        margin-left: -250px;
    }

    .activechangepassword {
        width: 150px;
    }

    .poupEdit {
        height: 350px;
        overflow-y: auto;
    }

    .prodcut-row {
        min-width: 650px;
    }

    .sorting-section {
        min-width: 650px;
    }

    .inventorygrid {
        overflow-x: auto;
    }
}

@media only screen and (min-width: 300px) and (max-width: 980px) {
    .messages_block {
        float: left;
    }

    .mdlpopup {
        width: 600px;
    }

    .wrapEditLabel {
        line-height: 16px !important;
    }

    .modal .lgwidth {
        width: 97% !important;
    }

    .modal .pr-info {
        width: 43%;
    }

    .igwophase {
        width: 200px;
    }

    .scrollingdiv {
        vertical-align: top;
        padding-top: 6px;
        padding-left: 35px;
        padding-right: 2px;
    }

    .dvproddesc {
        width: 64.6666%;
    }

    .prodcut-row {
        min-width: 650px;
    }

    .sorting-section {
        min-width: 650px;
    }

    .inventorygrid {
        overflow-x: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .Editquotelabel {
        width: 117px !important;
    }

    .ordersubmit {
        padding-top: 5px !important;
    }

    .wrapEditLabel {
        line-height: 16px !important;
    }

    .dvproddesc {
        width: 64.6666% !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 800px) {

    .poupEdit {
        height: 350px;
        overflow-y: auto;
    }
}

@media only screen and (min-width: 1920px) {
    .btn_prdtl {
        margin-right: 125px;
    }

    #body-container .mid-container .right-section div.container-sec .brd-crumb {
        width: 90%;
    }

    .prodcut-row {
        width: 90%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 550px) {
    .poupEdit {
        height: 350px;
        overflow-y: auto;
    }
}

/* Landscape */
@media screen and (min-width: 300px) and (max-width: 550px) and (min-device-height: 300px) and (max-device-height: 906px) and (orientation: landscape) {
    .poupEdit {
        height: 350px;
        overflow-y: auto;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .poupEdit {
        height: 350px;
        overflow-y: auto;
    }
}

@media screen and (min-height:300px)and (max-height:750px) {
    .poupEdit {
        height: 350px;
        overflow-y: auto;
    }
}
