<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<html lang="en" class="no-js">
  <head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="pvConfig.genericLogin ? 'Configuring ' + pvConfig.item : pvConfig.shipToName"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body id="dmsiVC" ng-controller="MainController" ng-class="{ massCopyBody: $state.is('massCopy')}">
    <!--[if lt IE 11]>
      <p class="browsehappy">This application requires a newer browser than you are using.  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="app-header" ui-view="header" ng-class="{ nomargin: !$state.is('vc.ready')}">
    </header>
    <div class="app-view" ui-view ng-if="configuration"></div>
    <vc-prompt></vc-prompt>
    <vc-spinner></vc-spinner>
    <div class="app-print"></div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84993907-1', 'auto');

    </script>
  <script type="text/javascript" src="dmsi-vc-app.min.bundle.js?e788687f35c22cfc2247"></script><script type="text/javascript" src="dmsi-vc-vendor.min.bundle.js?e788687f35c22cfc2247"></script></body>
</html>
