﻿A
{
	font-weight: normal;
	font-size: 8pt;
	font-family: Helvatica,Verdana,Tahoma,Arial;
}

A:Hover
{
	color: blue;
	font-family: Helvatica,Verdana,Tahoma,Arial;
	text-decoration: underline;
}

BODY
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: normal;
	font-size:8pt;
	text-transform: none;
	/*color: black;*/
	font-family: Helvatica,Verdana,Tahoma,Arial;
}

TABLE
{
	font-weight: normal;
	font-size: 8pt;
	text-transform: none;
	color: black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
   
}
.toolbar table {  float:left;
}
TD
{
	font-weight: normal;
	font-size: 8pt;
	text-transform: none;
	color: black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
}

.LeftPane
{
	vertical-align:top;
	text-align:left;
	width: 220px;
	background-color: #E5EFF5;
}
.LeftPane2
{
	vertical-align:top;
	text-align:left;
	width: 220px;
	background-color: #FFFFFF;
}
.RightPane
{
	vertical-align:top;
	text-align:left;
	background-color: #FFFFFF;
}

.GeneralTableHeading
{
	/*background: url(../../Images/bg-menu-main.png) repeat-x;*/
    background:#33CCFF;
	color: Black;
    height:38px;
    padding: 5px;
}

.MasterPageTable
{
	width: 100%;
}

.MasterPageTable_TopTD
{
	text-align: left;
	vertical-align: top;
	width: 100%;
	background-color: #E5EFF5;
}

.MenuBarDIV
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	width:100%;
}

.MenuBarLinkHover
{
	background-color:Gray;
	width:100%;
	color: Black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size: 9px;
	height: 17px;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	cursor: pointer;
	text-decoration: none;
}

.MenuBarLink
{
	background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);
	width:100%;
	color: Black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size: 9px;
	height: 17px;
	text-align: center;
	vertical-align: middle;
	padding-top: 3px;
	cursor: pointer;
	text-decoration: none;
}

.BorderedContainer
{
	border: 0px solid Gray;
	padding: 1px 1px 5px 1px;
	background-color:White;
}

.DraggablePanelHeader
{
	background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
	color: Black;
	height:17px;
	font-size:8pt;
	padding-top:3px;
	padding-left:3px;
	cursor:move;	
}

.SimplePanelFixedWidthDIV
{
	border: 0px solid Gray;
	padding: 1px 1px 5px 1px;
	width:220px;
}

.SimplePanelFullWidthDIV
{
	border: 0px solid Gray;
	padding: 1px 1px 5px 1px;
}

.SimplePanelDIV
{
	border: 0px solid Gray;
	padding: 1px 1px 5px 1px;
}

.SimplePanelHeader
{
	background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
	color: Black;
	height:20px;
	padding-left:3px;
	padding-right:3px;	
}

.SimplePanelHeaderNoBGSmall
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
	color: Black;
	height: 20px;
	padding-left: 3px;
	padding-right: 3px;
}

.SimplePanelHeaderNoBG
{
	/*background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);*/
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
	font-size: 14px;
	color: Black;
	height:20px;
	padding-left:3px;
	padding-right:3px;
}

.SimplePanelHeaderNoBGwithBorder
{
	/*background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);*/
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
	font-size: 14px;
	color: Black;
	height:20px;
	padding-left:3px;
	padding-right:3px;
	border-bottom: 2px solid #93B6E5
}

.DarkBottomBorder
{
    border-bottom: 2px solid #93B6E5;
}

.SimplePanelTable
{
	font-family: Helvatica,Verdana,Tahoma,Arial;	
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	padding-bottom:0px;
}

.SimplePanelBody
{
	font-family: Helvatica,Verdana,Tahoma,Arial;	
	padding-left:3px;
	padding-top:3px;
	padding-bottom:3px;
}
	.SimplePanelBody2
{
    font-family: Helvatica,Verdana,Tahoma,Arial;	
	padding-left:3px;
	padding-top:3px;
	padding-bottom:3px;
    padding-left: 0px !important;
    
}
.SearchPanelBody
{
	font-family: Helvatica,Verdana,Tahoma,Arial;	
	padding-left:6px;
	padding-top:3px;
	padding-bottom:3px;
}

.TopBorder
{
	border: 1px solid #6699FF;
	border-bottom:none;
	border-left:none;
	border-right:none;	
}
	
.MasterPageLogoPanel
{
	height: 60px;
	background-color: #E5EFF5;
}

.MasterPageTable_BottomTD
{
	text-align: center;
	vertical-align: middle;
}

.MasterPageBottomPanel
{
	border: 1px solid Gray;
	text-align:center;
	vertical-align: middle;	
	width: 100%;
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size: 8pt;
}

.MasterPageTable_FooterTD
{
	background-color: #E5EFF5;
	text-align:center;
	vertical-align: middle;	
	width: 100%;
	color:Black;
}

.Field
{
	font-weight: normal;
	font-size: 8pt;
	text-transform: none;
	color: black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
	overflow:hidden;
}

.FieldLabel
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: none;
	color: black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
}

.TextBoxLabel
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: none;
	color: black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
	text-align:center;
}
.CaptionText
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size: 8pt;
	color: black;
}
.ErrorTextBlack
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size: 8pt;
	color: Black;
}
.ErrorTextRed
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size: 8pt;
	color: Red;
}
.FieldSmall
{
	font-weight: normal;
	font-size: 6pt;
	text-transform: none;
	color: black;
	font-family: Helvatica,Verdana,Tahoma,Arial;
}

.Login
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	background-color: white;
}

.LoginHeader
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
	font-size: 12pt;
	color: white;
	background-color: black;
}

.LoginText
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size: 8pt;
	text-align: center;
}

.LoginTextBold
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
	font-size: 8pt;
}

.GridViewTitleDIV
{
	text-align:center;
	border: 0px solid Gray;
	padding-bottom:5px;
}

.HeaderGridView
{
	background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);
	height: 10px;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
}
.GridViewBackground
{
	background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);
}

.GridViewRowMouseHover
{
	background-image: url(../../Images/DmsiBlue/bg-hover.jpg);
}

.InventoryGridViewRowMouseHover
{
	background-image: url(../../Images/DmsiBlue/bg-hover-large.jpg);
}

.GridViewRowMouseOut
{
	background-image: none;
}

.CollapsibleHeaderPanelHover
{
	background-color:Gray;
	font-style: normal;
	font-weight: bold;
	color: Black;
	height: 20px;
}

.CollapsibleHeaderPanel
{
	background-image: url(../../Images/DmsiBlue/bg-menu-main.jpg);
	font-style: normal;
	font-weight: bold;
	color: Black;
	height: 20px;
}

.CollapsibleHeaderPanelNoBG
{
	font-style: normal;
	font-weight: bold;
	color: Black;
	height: 20px;
}


.CollapsibleAdvSearchPanel
{
	font-style: normal;
	color: Blue;
    text-decoration: underline;
	
}

.CollapsibleHeaderDIV
{
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	cursor:pointer;
	height: 20px;
}

.NonCollapsibleHeaderDIV
{
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
    cursor:default;
	height: 16px;
}

.PagerGridView
{
	font-style: normal;
	font-weight: normal;
	background-color: Gray;
	color: Black;
	height:10px;	
}

.FooterGridView
{
	font-style: normal;
	font-weight: normal;
	color: Black;
	height:10px; 
}

#WelcomeUserCell
{
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-weight: bold;
}

.HomeCompanyDescLabel
{
	height:auto;
	font-family: Helvatica,Verdana,Tahoma,Arial;
	font-size:10pt;	
}
.CalendarDIV
{
	z-index:1000;
}
.ModalBackground
{
	background-color:Gray;
	filter:alpha(opacity=50);
	opacity:0.5;	
}
.ItemTable
{
	border: 1px;
	border-color:Gray; 
}
.LightColor
{
    background-color: #E5EFF5;
}
.MediumColor
{
    background-color: #C1D9F0;
}
.DarkColor
{
    background-color: #93B6E5;
}


/*Label drop down box Styles Starts*/
.DropDownLabelStyle95
{
    height: 21px;
    width: 235px;
}
.Labelbox
{
    border: none;
    width: 230px;
    height: 21px;
    text-align: right;
}
.Labelbox .image
{
    background-image: url('../../Images/dnarrow.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 12px;
    width: 12px;
    float: right;
    padding-top: 0px;
}
.HellowWorldPopup
{
    min-width: 200px;
    min-height: 120px;
    background: white;
    border: 5px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-top-color: #ababab;
    border-right-color: #ababab;
    border-bottom-color: #ababab;
    border-left-color: #ababab;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}
.PopupHeader
{
    background: #fff;
    padding: 3px 5px;
    font: bold 18px/41px Tahoma, Geneva, sans-serif;
    color: #000 !important;
    z-index: 1000000;
}
.pnlPopUp
{
    z-index: 100001;
    position: absolute;
}
/*Label drop down box Styles Ends*/


/*New Search box Styles Ends*/

.DarkestColor
{    
    background-color:#93B6E5;  
    height:3px;  
}

.CartRightBoarder
{
    border-right:1px solid #93B6E5;
}

.CartRightNoBoarder
{
    border-right:0px solid #93B6E5;
}

.MenuLink
{
    text-decoration: none;
    cursor: pointer;
    color: Blue;
        
    white-space: nowrap;
    margin-right: 4px;
    margin-left: 2px;
    font-size: 11px;
}
/* newly*/
.Custom .ajax__tab_body
{
    padding-bottom: 2px;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 2px;
    background-color: #E5EFF5;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
    height:35px !important;
}
  
.ajax__tab_default .ajax__tab_header
{
  border-bottom: solid 2px #93b6e5 ;
}

 .Custom .ajax__tab_outer
{
    padding: 5px 19px !important;
    background: #C1D9F0;
    margin-right: 3px;
    outline:none;
    color:Black;
}
 .Custom .ajax__tab_active .ajax__tab_outer
{
    /*background:#93b6e5 !important;*/
    background:#93b6e5;
}
 .Custom .ajax__tab_tab
{
    color:Black;
    outline: none;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    background-image:none !important;
    padding:0px !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_inner {
    background-image:none !important;
    padding-left:0px !important;
}

.ajax__tab_xp .ajax__tab_body {
    border: 0px !important;
}

.ajax__tab_xp .ajax__tab_header {
    font-weight: normal !important;
    font-size: 8pt !important;
    text-transform: none !important;
    font-family: Helvatica,Verdana,Tahoma,Arial !important;
    height:39px !important;
    background-image:none !important;
}

.ajax__tab_xp .ajax__tab_body {
    font-weight: normal !important;
    font-size: 8pt !important;
    text-transform: none !important;
    font-family: Helvatica,Verdana,Tahoma,Arial !important;
}

.ClearMe {
    clear:both;
}

.HellowWorldPopup
{
    float:left !important;
}

.productlistdetails .igdm_MenuItemHorizontalRoot
{
	font-size:10px;
	border:solid 1px Transparent;
	padding:6px 12px 6px 12px;
	float: left;
	color:#000FFF;
    /*border-bottom-width:0px;
	border-left-width:0px;
	border-top-width:0px;*/
	border-right:solid 1px #93b6e5;
}


.productlistdetails .igdm_MenuItemHorizontalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	float: left;
	text-align:left;
	vertical-align:middle;
}


.productlistdetails .igdm_MenuItemHorizontalRootLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}


.productlistdetails .igdm_MenuItemHorizontalRootSelected
{
	/*background-color:#6EB6E5;*/
	background-color:#93b6e5;
	background-repeat:repeat-x;
	background-position:left top ;
	/*background-image: url(images/igdm_rootselected.png);*/
	/*border:solid 1px #6691B8;*/
}


.productlistdetails .igdm_MenuItemHorizontalRootActive
{
	/*background-color:#6EB6E5;*/
	/*background-color:#93b6e5;
	border:solid 1px #6691B8;*/
	background:#C1D9F0 !important
}


.productlistdetails .igdm_MenuItemHorizontalRootHover
{
	background-color:#C1D9F0 !important;
	background-repeat:repeat-x;
	background-position:left top ;
	/*background-image: url(images/igdm_roothover.png);*/
	/*border:solid 1px Transparent;*/
	_border: 0px;
}


.productlistdetails .igdm_MenuItemHorizontalRootDisabled
{
	float: left;
}
.productlistdetails .igdm_MenuItemHorizontalRoot .igdm_MenuItemHorizontalRootHover
{
    	background-color:#C1D9F0 !important;
	background-repeat:repeat-x;
	background-position:left top ;
	/*background-image: url(images/igdm_roothover.png);*/
	/*border:solid 1px Transparent;*/
	_border: 0px;}
	
	.productlistdetails .igdm_MenuItemHorizontalRootHover > a
{
    color:Blue;
    text-decoration:Underline !important;
}
	.productlistdetails  .igdm_MenuGroupHorizontalRoot 
	{
	    /*background-color:#E5EFF5;*/
	    background-color:#C1D9F0 !important;
	background-repeat:repeat-x;
	    }
.productlistdetails .igdm_MenuScrollContainerRootHorizontal
{
    overflow:visible !important;
    height:25px !important;
    
}
 .treelink
    {
        color: Black;
        font-size: 12px;
    }
    .treelinkHover:hover
    {
        text-decoration: underline !important;
        font-size: 12px;
        color: Black;
    }
    