/**************************** VERTICAL (Default / No suffixes) *************************************************/
/*************Notes:****************/
/*1. Accent Color = #93B6E5 default background color on child items in a list, not selected or hovered on*/
/*2. Yellow = Hover background color of child item in a list*/
/*3. Green = Parent color when hovering on one of it's children*/
/*4. Red = Default background color on parent.*/
/*5. Silver = Parent not selected background color*/
/*6. Orange = Parent hover over background color*/
/*7. Menu background color #C1D9F0*/




.igdm_DMSiBlueControlVertical
{
	background-color:red;
	background-repeat:repeat-x;
	background-position:lef top;
	/*background-image: url(images/igdm_ControlBackground.png);*/
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	border-style:none;
	border-width:0px;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
}

/*
 Main Control CSS class when it's active 
*/
.igdm_DMSiBlueControlVerticalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_DMSiBlueControlVerticalDisabled
{
    /*background-color:red;*/
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url(images/igdm_ControlBackground.png);*/
}


/******************************** ROOT ELEMENTS ***************************************************/
.igdm_DMSiBlueMenuGroupVerticalRoot
{
	background-color:transparent;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_DMSiBlueMenuItemVerticalRoot
{
	font-size:10px;
	border:solid 1px Transparent;
	padding:6px 30px 6px 12px;
	color:#333333;
}


.igdm_DMSiBlueMenuItemVerticalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	text-align:left;
	vertical-align:middle;
}


.igdm_DMSiBlueMenuItemVerticalRootLink
{
	font-size:12px;
	line-height: 12px; /* IE7 empty space fix. */
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}

.igdm_DMSiBlueMenuItemVerticalRootHover
{
	background-color:#93B6E5;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootHover.png");*/
	border:solid 1px Transparent;
}

.igdm_DMSiBlueMenuItemVerticalRootActive
{
	background-color:#9AD0F4;
	/*border:solid 1px #6691B8;*/
}

.igdm_DMSiBlueMenuItemVerticalRootSelected
{
	background-color:red;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootSelected.png");*/

	/*border:solid 1px #6691B8;*/
}

.igdm_DMSiBlueMenuItemVerticalRootDisabled
{
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_DMSiBlueMenuGroupVertical
{
	background-color:#C1D9F0;
	border:1px solid #CDCDCD;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}

.igdm_DMSiBlueMenuGroupScrollingVertical
{
	background-color: #93B6E5; /*JMB -- Drop down not selected color*/
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}

/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_DMSiBlueMenuItemVertical
{
	background-attachment:scroll;
	background-color: #C1D9F0 none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	border:solid 1px Transparent;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_DMSiBlueMenuItemVerticalLink
{
	font-size:12px;
	line-height: 12px; /* IE7 empty space fix. */
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_DMSiBlueMenuItemVerticalParent
{
}


.igdm_DMSiBlueMenuItemVerticalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemVerticalSelected
{
	background-color:#93B6E5;
	background-repeat:repeat-x;
	background-position:top ;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:White;

}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemVerticalActive
{
	background-color:#93B6E5;
	background-repeat:repeat-x;
	background-position: left top;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemVerticalHover
{
	background-color:#C1D9F0;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px Transparent;
	margin:0px;
	color:White;
}


.igdm_DMSiBlueMenuItemVerticalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_DMSiBlueMenuItemVerticalSeparator
{
	background-color:#CCCCCC;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	height: 1px ;
	height: 1px;
	width: 100%;
	margin: 0px auto;
	position: absolute;
	clear: both;
}


.igdm_DMSiBlueMenuScrollContainerVertical
{
}


.igdm_DMSiBlueMenuScrollerRootTop
{
}


.igdm_DMSiBlueMenuScrollerRootBottom
{
}


.igdm_DMSiBlueMenuScrollerTop
{
}


.igdm_DMSiBlueMenuScrollerBottom
{
}


/************************************************************************************************\

********************** Horizontal / Suffixed with "Horizontal" *********************************

\************************************************************************************************/
.igdm_DMSiBlueControlHorizontal
{
	/*background-color:#C1D9F0;*/ /*keep*/
    background-color:#eee;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url(images/igdm_ControlBackground.png);*/
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
	border-left-style: solid;
	border-left-width:2px;
	border-left-color:#93B6E5;
}

.igdm_DMSiBlueControlHorizontalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_DMSiBlueControlHorizontalDisabled
{
    /*background-color:red;*/
	background-repeat:repeat-x;
	background-position:left top;
	border-left-style: solid;
	border-left-width:2px;
	border-left-color:#93B6E5;
	/*background-image: url(images/igdm_ControlBackground.png);*/
}


/************** End Main Control Definitions ********************/
/******************************** ROOT ELEMENTS - Group and Item ***************************************/
/** Definitions for Root elements should be always before definitions of subElements **/
.igdm_DMSiBlueMenuGroupHorizontalRoot
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_DMSiBlueMenuItemHorizontalRoot
{
	font-size:12px;
	border:solid 1px Transparent;
	padding:6px 30px 6px 30px;
	float: left;
	color:#000000;
    border-right-style: solid;
	border-right-width:2px;
	border-right-color:#93B6E5;
}


.igdm_DMSiBlueMenuItemHorizontalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	text-align:left;
	vertical-align:middle;
	float:left;
}


.igdm_DMSiBlueMenuItemHorizontalRootLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}


.igdm_DMSiBlueMenuItemHorizontalRootHover
{
	background-color:#C1D9F0;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootHover.png");*/
	/*border:solid 1px Transparent;*/
	
	/*IE6 fix*/
	_border:0px;
}

.igdm_DMSiBlueMenuItemHorizontalRootActive
{
	background-color:#C1D9F0;
	/*border-bottom: 2px solid black;*/
}

.igdm_DMSiBlueMenuItemHorizontalRootSelected
{
	background-color:#C1D9F0;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootSelected.png");*/

	/*border:solid 1px #6691B8;*/
}



.igdm_DMSiBlueMenuItemHorizontalRootDisabled
{
	float: left;
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_DMSiBlueMenuGroupHorizontal
{
	background-color:#C1D9F0;
	border:1px solid #CCCCCC;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}

.igdm_DMSiBlueMenuGroupScrollingHorizontal
{
	background-color:#C1D9F0;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_DMSiBlueMenuItemHorizontal
{
	background-attachment:scroll;
	background-color: #C1D9F0 none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	border:solid 1px Transparent;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_DMSiBlueMenuItemHorizontalLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_DMSiBlueMenuItemHorizontalParent
{
	font-weight:normal;
	margin:0px;
}


.igdm_DMSiBlueMenuItemHorizontalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemHorizontalSelected
{
	background-color:#93B6E5;
	background-repeat:repeat-x;
	background-position:top ;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:blue;
}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemHorizontalActive
{
	background-color:#93B6E5;
	background-repeat:repeat-x;
	background-position:top ;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:blue;
}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemHorizontalHover
{
	background-color:#93B6E5;
	background-repeat:repeat-x;
	background-position:top left;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px Transparent;
	margin:0px;
	color:blue;
}


.igdm_DMSiBlueMenuItemHorizontalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_DMSiBlueMenuItemHorizontalSeparator
{
	background-color:#CCCCCC;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	width: 1px ;
	width: 1px;
	height: 100%;
	margin: 0px auto;
}


/* Scrolling container - DIV */
.igdm_DMSiBlueMenuScrollContainerHorizontal
{
}


/* Left scrolling element for root level items Horizontal orientation - DIV */
.igdm_DMSiBlueMenuScrollerRootLeft
{
}


/* Right scrolling element for root level items Horizontal orientation - DIV */
.igdm_DMSiBlueMenuScrollerRootRight
{
}


/* Left scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_DMSiBlueMenuScrollerLeft
{
}


/* Right scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_DMSiBlueMenuScrollerRight
{
}


.igdm_DMSiBlueMenuItemHorizontalRootDisabled > a
{
	color:#AAAAAA;
}

.igdm_DMSiBlueMenuItemVertical.igdm_DMSiBlueMenuItemVerticalParent {
	background-image:url("images/igwdm_SubMenuIndicator.gif");
	background-position:right center;
	background-repeat:no-repeat;
}


.igdm_DMSiBlueMenuItemVerticalActive.igdm_DMSiBlueMenuItemVerticalParent
{
	background-color:#FF9933;
	background-repeat:repeat-x;
	background-position:center right ;
	background-image: url(images/igwdm_SubMenuIndicator.gif);
	font-weight:normal;
	border:solid 1px #666666;
}



.igdm_DMSiBlueMenuItemHorizontalRootHover > a
{
	color:blue;
}


.igdm_DMSiBlueMenuItemVerticalRootSelected > a
{
	color:blue;
}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemVerticalDisabled > a
{
	color:#CCCCCC;
}


.igdm_DMSiBlueMenuItemVerticalHover > a
{
	color:blue;
	cursor:auto;
}

.igdm_DMSiBlueMenuItemVerticalActive > a
{
	color:blue;
}

.igdm_DMSiBlueMenuItemVerticalRootDisabled > a
{
	color:#AAAAAA;
}


.igdm_DMSiBlueMenuItemHorizontalRootSelected > a
{
	color:blue;
	cursor:auto;
}

.igdm_DMSiBlueMenuItemHorizontalRootActive > a
{
	color:blue;
}


.igdm_DMSiBlueMenuItemHorizontalActive > a
{
	color:blue;
}


.igdm_DMSiBlueMenuItemVerticalHover.igdm_DMSiBlueMenuItemVerticalParent
{
	/*color:red;*/
	background-repeat:repeat-x;
	background-position:top right;
	/*background-image: url(images/igdm_ItemHoverParent.png);*/
	font-weight:normal;
	border:solid 1px Transparent;
}


.igdm_DMSiBlueMenuItemVerticalRootHover > a
{
	color:blue;
}


/* List Item (Li) */
.igdm_DMSiBlueMenuItemHorizontalDisabled > a
{
	color:#CCCCCC;
}


.igdm_DMSiBlueMenuItemVerticalSelected.igdm_DMSiBlueMenuItemVerticalParent
{
	background-color:red;
	background-repeat:repeat-x;
	background-position:center right ;
	/*background-image: url(images/igdm_ItemHoverParent.png);*/
	font-weight:normal;
	border:solid 1px #666666;
}

.igdm_DMSiBlueMenuItemVerticalSelected > a
{
	color:blue;
	cursor:auto;
}


.igdm_DMSiBlueMenuItemHorizontalHover > a
{
	color:White;
}


.igdm_DMSiBlueMenuItemHorizontalSelected > a
{
	color:White;
}


.igdm_DMSiBlueMenuItemVerticalRootActive > a
{
	color:White;
}




/*************************************** SCROLLING ROLES ************************************/

.igdm_DMSiBlueMenuScrollButton
{
    position:absolute;
    background-color: #EFEFEF;
    background-image:url("images/igwdm_scrollSprite.png");
    background-position:center -57px;
    background-repeat: repeat-x;
    border:1px solid #5891c2;
    text-decoration: none;
    padding:0px;
    margin:0px;
}

.igdm_DMSiBlueMenuScrollerTop
{
    height:10px;
    width:100%;
}
    .igdm_DMSiBlueMenuScrollerTop:hover, 
    .igdm_DMSiBlueMenuScrollerRight:active
    {
      background-position:center -42px;
    }
    
.igdm_DMSiBlueMenuScrollerBottom
{
    height:10px;
    width:100%;
}
    .igdm_DMSiBlueMenuScrollerBottom:hover,
    .igdm_DMSiBlueMenuScrollerRight:active
    {
      background-position:center -42px;
    }

.igdm_DMSiBlueMenuScrollerLeft
{
    border-left:1px solid #5891c2;
    background-position:right -70px;
    background-repeat:repeat-y;

    width:10px;
    height:28px;

    display:block;
}
    .igdm_DMSiBlueMenuScrollerLeft:hover, 
    .igdm_DMSiBlueMenuScrollerRight:active
    {
      background-position:left -70px;
    }

.igdm_DMSiBlueMenuScrollerRight
{

    border-right:1px solid #5891c2;
    background-position:right -70px;
    background-repeat:repeat-y;

    width:10px;
    height:28px;
    
    display:block;
}
    .igdm_DMSiBlueMenuScrollerRight:hover, 
    .igdm_DMSiBlueMenuScrollerRight:active
    {
      background-position:left -70px;
    }
    
.igdm_DMSiBlueMenuScrollIcon
{
    cursor:pointer;
    display:block;
    background-repeat:no-repeat;
    height:10px;
    padding:0px;
    margin:0px;
    background-image:url("images/igwdm_scrollSprite.png");
}

.igdm_DMSiBlueMenuScrollIconTop
{
    background-position:center -1px;
    width:10px;
    position:relative; 
    left:50%;
    margin-left:-5px;
}

.igdm_DMSiBlueMenuScrollIconBottom
{
    background-position:center -25px;
    width:10px;
    position:relative; 
    left:50%;
    margin-left:-5px;
}

.igdm_DMSiBlueMenuScrollIconLeft
{
    background-position:-15px -15px;
    margin-top:-6px;
    position:relative;
    top:50%;
}

.igdm_DMSiBlueMenuScrollIconRight
{
    background-position:-30px -15px;
    margin-top:-6px;
    position:relative;
    top:50%;
}

.igdm_DMSiBlueMenuScrollContainer
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;	
}

.igdm_DMSiBlueMenuScrollContainerVertical
{
    border:1px solid #CCCCCC;
    background-color:White;
    color:Black;
}

.igdm_DMSiBlueMenuScrollContainerHorizontal
{
    border:1px solid #CCCCCC;
    background-color:White;
    color:Black;
}

.igdm_DMSiBlueMenuScrollContainerRootVertical
{
}

.igdm_DMSiBlueMenuScrollContainerRootHorizontal
{
}

/*************************************** END SCROLLING ROLES ********************************/

/***************
*   IE6 Fixes  *
****************/

.ie6 .igdm_DMSiBlueMenuItemVerticalRoot.igdm_DMSiBlueMenuItemVerticalParent.igdm_DMSiBlueMenuItemVerticalRootHover
{
	border:0px;

	background-color:B1A491!important;
	background-repeat:repeat-x!important;
	background-position:left top!important;
	/*background-image: url("images/igdm_RootHover.png")!important;*/
}

.ie6 .igdm_DMSiBlueMenuItemVerticalRoot.igdm_DMSiBlueMenuItemVerticalParent.igdm_DMSiBlueMenuItemVerticalRootSelected 
{
    border:0px;
    background-color : red!important;
	background-repeat:repeat-x!important;
	background-position:left top!important;
	/*background-image: url("images/igdm_RootSelected.png")!important;*/
}

.ie6 .igdm_DMSiBlueMenuItemVertical.igdm_DMSiBlueMenuItemVerticalParent
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalRootHover .igdm_DMSiBlueMenuItemVerticalRootLink{
    color:white;
}
.ie6 .igdm_DMSiBlueMenuItemHorizontalRootHover .igdm_DMSiBlueMenuItemHorizontalRootLink{
    color:white;
}

.ie6 .igdm_DMSiBlueMenuItemHorizontalRootActive .igdm_DMSiBlueMenuItemHorizontalRootLink{
    color:white;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalRoot.igdm_DMSiBlueMenuItemVerticalRootActive .igdm_DMSiBlueMenuItemVerticalRootLink,
.ie6 .igdm_DMSiBlueMenuItemVerticalRoot.igdm_DMSiBlueMenuItemVerticalRootSelected .igdm_DMSiBlueMenuItemVerticalRootLink
{
    color:white;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalRoot
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalRootHover
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalRootSelected
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVertical
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalActive
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalHover
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemHorizontalRoot
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemHorizontalRootSelected
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemHorizontal
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemHorizontalHover
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalHover.igdm_DMSiBlueMenuItemVerticalParent
{
	border:0px;
}

.ie6 .igdm_DMSiBlueMenuItemVerticalSeparator 
{
    overflow:hidden;
}

.ie6 .igdm_DMSiBlueMenuItemHorizontalSeparator 
{
    overflow:hidden;
}

.ie6 ul.igdm_DMSiBlueMenuGroupVerticalRoot li.igdm_DMSiBlueMenuItemVerticalParent.igdm_DMSiBlueMenuItemVerticalRoot
{
	background: none;
}

.ie6 .igdm_DMSiBlueMenuGroupScrollingVertical .igdm_DMSiBlueMenuItemVerticalParent
{
    background-color:transparent;
    background-image:url("images/igwdm_SubMenuIndicator.gif");
    background-position:right center;
    background-repeat:no-repeat;
}