/* The CSS Class that will be applied to the outer control.*/
.igiv_DMSiBlueControl
{
	background-color:Transparent;
	padding-bottom: 18px;
	outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}


/*
	This class should be used for setting any padding that might be 
	needed if the Header is placed above the control.
*/
.igiv_DMSiBlueHeaderPadding
{
	padding-top: 60px;
}


/*
	This class should be used for adjusting the padding of the control
	to account for the additional size of the header and footer.
*/
.igiv_DMSiBlueFooterPadding
{
	padding-bottom: 0px;
}


/*
	The CSS class that will be applied to the header. 
    The header can be absolutely positoned anywhere in the control, because the WebImageViewerhas an internal DIV that
    wraps the control with a position set to relative. </para>
*/
.igiv_DMSiBlueHeaderContentArea
{
	width: 100%;
	position: absolute;
	top: -30px;
	left: -6px;
	color:#333333;
	cursor:default;
	font-family:'Segoe UI',verdana,sans-serif;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	outline: none;
}


/*The CSS class that will be applied to the Left Corner of the Header. */
.igiv_DMSiBlueHeaderContentLeft
{
}


/*The CSS class that will be applied to the actual content of the Header.*/
.igiv_DMSiBlueHeaderContent
{
	padding-top:-5px;
	padding-left:3px;
}


/*The CSS class that will be applied to the Right Corner of the Header. */
.igiv_DMSiBlueHeaderContentRight
{
}


/*
	A TR that wraps the TopLeft, TopArea, and TopRight elements. 
    This CSS class is useful in setting the height of the entire row.
*/
.igiv_DMSiBlueHeaderArea
{
	height: 6px;
}


/*
	The CSS class that will be applied to the footer. 
    The footer can be absolutely positoned anywhere in the control, because the WebImageViewer has an internal DIV that
    wraps the control with a position set to relative. </para>
*/
.igiv_DMSiBlueFooterContentArea
{
	font-size:14px;
	margin-top:20px;
	right: 0px;
	/* width: 100%; */
	position: absolute;
	color:#666666;
	text-align:right;
}


/*The CSS class that will be applied to the Left Corner of the Footer. */
.igiv_DMSiBlueFooterContentLeft
{
}


/*The CSS class that will be applied to the actual content of the Footer.*/
.igiv_DMSiBlueFooterContent
{
}


/* The CSS class that will be applied to the Right Corner of the Footer. */
.igiv_DMSiBlueFooterContentRight
{
}


/*
	 A TR that wraps the BottomLeft, BottomArea, and BottomRight elements. 
     This CSS class is useful in setting the height of the entire row.
*/
.igiv_DMSiBlueFooterArea
{
	height: 6px;
}


/*
	A TD that wraps the Header.
    This CSS Class should be used for applying a Background-Image along the top border of the control.
*/
.igiv_DMSiBlueEdgeTop
{
	background-repeat:repeat-x;
	background-image: url(./images/igiv_EdgeTop.gif);
	height: 6px;
}


/*
	A TD on the left side of the ImageArea.
    This CSS Class should be used for applying a Background-Image along the left border of the control.
*/
.igiv_DMSiBlueEdgeLeft
{
	background-repeat:repeat-y;
	background-image: url(./images/igiv_EdgeLeft.gif);
	width: 14px;
}


/*
	A TD that wraps the Footer.
    This CSS Class should be used for applying a Background-Image along the bottom border of the control.
*/
.igiv_DMSiBlueEdgeBottom
{
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(./images/igiv_EdgeBottom.gif);
}


/*
	 A TD on the right side of the ImageArea.
     This CSS Class should be used for applying a Background-Image along the right border of the control.
       
*/
.igiv_DMSiBlueEdgeRight
{
	background-repeat:repeat-y;
	background-image: url(./images/igiv_EdgeRight.gif);
	width: 14px;
}


/*
	 The Top Left corner of the control.
     This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerTopLeft
{
	background-repeat:no-repeat;
	background-image: url(images/igiv_CornerTopLeft.gif);
	width: 14px;
}


/*
	The Top Right corner of the control.
    This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerTopRight
{
	background-repeat:no-repeat;
	background-position:right top ;
	background-image: url(./images/igiv_CornerTopRight.gif);
	width: 14px;
}


/*
	The Bottom Left corner of the control.
    This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerBottomLeft
{
	background-repeat:no-repeat;
	background-position:left bottom ;
	background-image: url(./images/igiv_CornerBottomLeft.gif);
}


/*
	The Bottom Right corner of the control.
    This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerBottomRight
{
	background-repeat:no-repeat;
	background-position:bottom right ;
	background-image: url(./images/igiv_CornerBottomRight.gif);
}


/*
	The CSS class that will be applied to the Container of the Previous Button. 
    This css Class is the TD in which the Image element is rendered. This style can be used
    to set the vertical-align CSS attribute.
*/
.igiv_DMSiBluePrevButtonArea
{
	vertical-align:middle;
	width: 24px;
}


/*
	The CSS class that will be applied to the Previous Button. 
    The Previous Button can be absolutely positoned anywhere in the control, because the WebImageViewer has an internal DIV that
    wraps the control with a position set to relative. 
*/
.igiv_DMSiBluePrevButton
{
	margin-right: 6px;
	margin-left: -11px;
	cursor:pointer;
	width: 20px;
}


/*
	The CSS class that will be applied to the Container of the Next Button. 
    This css Class is the TD in which the Image element is rendered. This style can be used
    to set the vetical-align CSS attribute.
*/
.igiv_DMSiBlueNextButtonArea
{
	cursor:pointer;
	vertical-align:middle;
	width: 24px;
}


/*
	The CSS class that will be applied to the Next Button. 
    The Next Button can be absolutely positoned anywhere in the control, because the WebImageViewer has an internal DIV that
    wraps the control with a position set to relative.
*/
.igiv_DMSiBlueNextButton
{
	cursor: pointer;
	width: 24px;
    padding-left:5px;
}


/*
	A TD that contains the ImageArea.
    If you would like a border around the ImageArea, this is the class to use.
*/
.igiv_DMSiBlueImageAreaContainer
{
	border:solid 1px #CECECE;
	/*border:solid 1px black;*/
}


/*
	A DIV that contains all of the Images. 
    In XHTML, to apply a border around the images a padding-bottom must be set to the size of the 
	border-top-width plus the border-bottom-width.
*/
.igiv_DMSiBlueImageArea
{
	background-color:White;
	padding-bottom: 0;
    height: 64px !important;
}


/*
	An IMG element that is contained by the ImageAra.
    In XHTML, to apply a border around an image a padding-bottom must be set to the size of the 
	border-top-width plus the border-bottom-width on the ImageArea.
*/
.igiv_DMSiBlueImage
{
	padding-right: 4px;
	/*padding-left: 4px;
	border-right: solid 1px black;*/
}


/*Applied to an IMG when it is selected.*/
.igiv_DMSiBlueImageSelected
{
}


/*Applied to an IMG when the mouse is over it.*/
.igiv_DMSiBlueImageHover
{
}


/*
	When an image is hovered, this style gets applied to all other images.
    A good use of this style is to apply an opacity to all other images that aren't being hovered, 
	so that the hovered image has more focus.
*/
.igiv_DMSiBlueOtherImageHover
{
	opacity: .5;
	filter: alpha(opacity=50);
}


/*Applied to an IMG when the image is disabled.*/
.igiv_DMSiBlueImageDisabled
{
	opacity: .25;
	filter: alpha(opacity=25);
}


/**************************** VERTICAL ***************************************/
/*The CSS Class that will be applied to the outer control.*/
.igiv_DMSiBlueControl_Vert
{
	background-color:Transparent;
	padding-bottom:70px;
}


/*
	This class should be used for setting any padding that might be 
	needed if the Header is placed above the control.
*/
.igiv_DMSiBlueHeaderPadding_Vert
{
	padding-top:70px;
}


/*
	This class should be used for adjusting the padding of the control
	to account for the additional size of the header and footer.
*/
.igiv_DMSiBlueFooterPadding_Vert
{
	padding-bottom:70px;
}


/*
	The CSS class that will be applied to the header. 
    The header can be absolutely positoned anywhere in the control, because the WebImageViewer has an internal DIV that
    wraps the control with a position set to relative.
*/
.igiv_DMSiBlueHeaderContentArea_Vert
{
	font-size:14px;
	margin-left:-7px;
	width: 100%;
	position: absolute;
	top: -30px;
	color:#666666;
	text-align:left;
}


/*The CSS class that will be applied to the Left Corner of the Header. */
.igiv_DMSiBlueHeaderContentLeft_Vert
{
}


/*The CSS class that will be applied to the actual content of the Header.*/
.igiv_DMSiBlueHeaderContent_Vert
{
}


/*The CSS class that will be applied to the Right Corner of the Header. */
.igiv_DMSiBlueHeaderContentRight_Vert
{
}


/*
	A TR that wraps the TopLeft_Vert, TopArea_Vert, and TopRight_Vert elements. 
    This CSS class is useful in setting the height of the entire row.
*/
.igiv_DMSiBlueHeaderArea_Vert
{
	height: 14px;
}


/*
	The CSS class that will be applied to the footer. 
    The footer can be absolutely positoned anywhere in the control, because the WebImageViewer has an internal DIV that
    wraps the control with a position set to relative. 
*/
.igiv_DMSiBlueFooterContentArea_Vert
{
	font-size:14px;
	/* width: 100%; */
	position: absolute;
	bottom: -57px;
	right: 0px;
	color:#666666;
	text-align:right;
}


/*The CSS class that will be applied to the Left Corner of the Footer. */
.igiv_DMSiBlueFooterContentLeft_Vert
{
}


/*The CSS class that will be applied to the actual content of the Footer.*/
.igiv_DMSiBlueFooterContent_Vert
{
}


/*The CSS class that will be applied to the Right Corner of the Footer. */
.igiv_DMSiBlueFooterContentRight_Vert
{
}


/*
	A TR that wraps the BottomLeft_Vert, BottomArea_Vert, and BottomRight_Vert elements. 
    This CSS class is useful in setting the height of the entire row.
*/
.igiv_DMSiBlueFooterArea_Vert
{
	height: 14px;
}


/*
	A TD that wraps the Header_Vert.
    This CSS Class should be used for applying a Background-Image along the top border of the control.
*/
.igiv_DMSiBlueEdgeTop_Vert
{
	background-repeat:repeat-x;
	background-image: url(./images/igiv_EdgeTop_Vert.gif);
}


/*
	A TD on the left side of the ImageArea_Vert.
    This CSS Class should be used for applying a Background-Image along the left border of the control.
*/
.igiv_DMSiBlueEdgeLeft_Vert
{
	background-repeat:repeat-y;
	background-image: url(./images/igiv_EdgeLeft_Vert.gif);
}


/*
	A TD that wraps the Footer_Vert.
    This CSS Class should be used for applying a Background-Image along the bottom border of the control.
*/
.igiv_DMSiBlueEdgeBottom_Vert
{
	background-repeat:repeat-x;
	background-position:bottom ;
	background-image: url(./images/igiv_EdgeBottom_Vert.gif);
}


/*
	A TD on the right side of the ImageArea_Vert.
    This CSS Class should be used for applying a Background-Image along the right border of the control.
*/
.igiv_DMSiBlueEdgeRight_Vert
{
	background-repeat:repeat-y;
	background-position:right top ;
	background-image: url(./images/igiv_EdgeRight_Vert.gif);
}


/*
	The Top Left corner of the control.
    This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerTopLeft_Vert
{
	background-repeat:no-repeat;
	background-image: url(./images/igiv_CornerTopLeft_Vert.gif);
	width: 6px;
}


/*
	The Top Right corner of the control.
    This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerTopRight_Vert
{
	background-repeat:no-repeat;
	background-position:right top ;
	background-image: url(./images/igiv_CornerTopRight_Vert.gif);
	width: 6px;
}


/*
	The Bottom Left corner of the control.
    This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerBottomLeft_Vert
{
	background-repeat:no-repeat;
	background-position:bottom left ;
	background-image: url(./images/igiv_CornerBottomLeft_Vert.gif);
}


/*
	The Bottom Right corner of the control.
    This CSS Class should be used for rounded corners.
*/
.igiv_DMSiBlueCornerBottomRight_Vert
{
	background-repeat:no-repeat;
	background-position:bottom right ;
	background-image: url(./images/igiv_CornerBottomRight_Vert.gif);
}


/*
	The CSS class that will be applied to the Container of the PreviousButton. 
    This css Class is the TD in which the Image element is rendered. This style can be used
    to set the text-align CSS attribute.
*/
.igiv_DMSiBluePrevButtonArea_Vert
{
	position: relative;
	width: 100%;
	text-align:center;
}


/*
	The CSS class that will be applied to the Previous Button. 
    The Previous Button can be absolutely positoned anywhere in the control, because the WebImageViewer has an internal DIV that
    wraps the control with a position set to relative. 
*/
.igiv_DMSiBluePrevButton_Vert
{
	padding-top:2px;
}


/*
	The CSS class that will be applied to the Container of the Next Button. 
    This css Class is the TD in which the Image element is rendered. This style can be used
    to set the text-align CSS attribute.
*/
.igiv_DMSiBlueNextButtonArea_Vert
{
	margin-top:2px;
	position: relative;
	width: 100%;
	text-align:center;
}


/*
	The CSS class that will be applied to the Next Button. 
    The Next Button can be absolutely positoned anywhere in the control, because the WebImageViewer has an internal DIV that
    wraps the control with a position set to relative. 
*/
.igiv_DMSiBlueNextButton_Vert
{
	padding-top:2px;
}


/*
	A TD that contains the ImageArea.
    If you would like a border around the ImageArea, this is the class to use.
*/
.igiv_DMSiBlueImageAreaContainer_Vert
{
	border:solid 1px #4C4C4C;
}


/*
	A DIV that contains all of the Images. 
    In XHTML, to apply a border around the images a padding-right must be set to the size of the 
	border-left-width plus the border-right-width.
*/
.igiv_DMSiBlueImageArea_Vert
{
	padding-right: 2px;
}


/*
	An IMG element that is contained by the ImageAra.
    In XHTML, to apply a border around an image a padding-right must be set to the size of the 
	border-left-width plus the border-right-width on the ImageArea_Vert.
*/
.igiv_DMSiBlueImage_Vert
{
	background-color:White;
	padding-bottom:4px;
}


/*Applied to an IMG when it is selected.*/
.igiv_DMSiBlueImageSelected_Vert
{
}


/*Applied to an IMG when the mouse is over it.*/
.igiv_DMSiBlueImageHover_Vert
{
}


/*
	When an image is hovered, this style gets applied to all other images.
    A good use of this style is to apply an opacity to all other images that aren't being hovered, 
	so that the hovered image has more focus.
*/
.igiv_DMSiBlueOtherImageHover_Vert
{
	opacity: .5;
	filter: alpha(opacity=50);
}


/*Applied to an IMG when the image is disabled.*/
.igiv_DMSiBlueImageDisabled_Vert
{
	opacity: .25;
	filter: alpha(opacity=25);
}


.igiv_DMSiBlueControl{
    margin:auto !important;
}
