.igcv_Office2007BlueControl
{
}


.igcv_Office2007BlueCaptionHeader
{
	background-color:#BFDBFF;
	font-size:8pt;
	padding:3px;
	width: 100%;
	white-space: nowrap;
	color:Black;
	text-align:center;
}


.igcv_Office2007BlueDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:10px;
	border-bottom:solid 1px #9AC6FF;
	height: 16px;
	color:Black;
}


.igcv_Office2007BlueDay
{
	background-color:White;
	font-size:11px;
	border-width:0px;
	padding-right:5px;
	padding-left:7px;
	cursor:hand;
	text-align:right;
}


.igcv_Office2007BlueFooter
{
	background-color:#EEEEEE;
	font-size:8pt;
	padding:3px;
	white-space: nowrap;
	cursor:pointer;
	text-align:left;
}


.igcv_Office2007BlueDropDown
{
	font-size:8pt;
}


.igcv_Office2007BlueOtherMonthDay
{
	background-color:White;
	color:#B3B3B3;
}


.igcv_Office2007BlueWeekendDay
{
	background-color:#FAFAFA;
}


.igcv_Office2007BlueNavigationButton
{
	background-color:#BFDBFF;
	padding-right:3px;
	padding-left:3px;
	cursor:pointer;
}


.igcv_Office2007BlueTodayDay
{
	border:solid 1px #BB5503;
}


.igcv_Office2007BlueActivityDay
{
	font-weight:bold;
}


.igcv_Office2007BlueActiveDay
{
	background-color:#FBC84F;
	background-image:none;
}