.igdc_Office2007BlueEditWithButtons
{
}


.igdc_Office2007BlueCalendar
{
    border:solid 1px #ABC1DE;
    background-color: #FFFFFF;
}


.igdc_Office2007BlueEditInContainer
{
	background-color:Transparent;
	border:solid 1px #ABC1DE;
	outline:0;
}


.igdc_Office2007BlueButton
{
}


.igdc_Office2007BlueButtonHover
{
}


