/*

Main control CSS class
*/
.igdd_Office2007BlueControl
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdd_Office2007BlueControlDisabled
{
}


/*
 Main control css class on hover
*/
.igdd_Office2007BlueControlHover
{
	background-color:White;
}


/*

*/
.igdd_Office2007BlueControlFocus
{
	background-color:White;
	border:solid 1px #ABC1DE;
	table-layout: fixed;
}


.igdd_Office2007BlueControlArea
{
	background-color:#EAF2FB;
	border:solid 1px #ABC1DE;
	table-layout: fixed;
}


/*
CSS class for the actual input field (<input type="text" />)
*/
.igdd_Office2007BlueValueDisplay
{
	background-color:Transparent;
	font-weight:normal;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 100%;
	z-index: 0;
}
.igdd_Office2007BlueValueDisplay::-ms-clear
{
	display: none;
}

/*

*/
.igdd_Office2007BlueValueDisplayHover
{
}


/*

*/
.igdd_Office2007BlueValueDisplayFocus
{
}


/*

*/
.igdd_Office2007BlueValueDisplayDisabled
{
    background-color:Transparent;
    border:0px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:10pt;
    font-weight:normal;
    width:100%;
    z-index:0;
}


/*

*/
.igdd_Office2007BlueValueDisplayReadOnly
{
}


/*

*/
.igdd_Office2007BlueDropDownList
{
	background-color:White;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:1px;
}


/*

*/
.igdd_Office2007BlueDropDownListHover
{
}


/*

*/
.igdd_Office2007BlueDropDownListReadOnly
{
}


/*
	
*/
.igdd_Office2007BlueDropDownListContainer
{
	background-color:White;
	border:solid 1px #868686;
	float: left;
}


/*

*/
.igdd_Office2007BlueDropDownListContainerHover
{
}


/*

*/
.igdd_Office2007BlueDropDownButton
{
	width: 17px;
	z-index: 9999;
}

.igdd_Office2007BlueDropDownButton img 
{
    display:block;
}


/*

*/
.igdd_Office2007BlueDropDownButtonHover
{
}


/*
CSS class that controls the style of the LI items in the list
*/
.igdd_Office2007BlueListItem
{
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px Transparent;
	padding:3px 5px 3px 5px;
	list-style-type: none;
	width: auto;
	min-height: 15px;
	height: auto !important;
	cursor:pointer;
}
	/* IE 6 fix */
	.ie6 .igdd_Office2007BlueListItem {
		border:solid 1px white;
	}

/*

*/
.igdd_Office2007BlueListItemActive
{
	background-color:#FFE7A2;
	border:solid 1px #FFBD69;
	list-style-type: none;
	color:#333333;
}


/*

*/
.igdd_Office2007BlueListItemHover
{
	background-color:#FFE59C;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdd_listitemhover.png);
	border:solid 1px #C0A776;
	list-style-type: none;
}
	/* IE 6 fix */
	.ie6 .igdd_Office2007BlueListItemHover {
		border:solid 1px white;
	}

/*

*/
.igdd_Office2007BlueListItemSelected
{
	background-color:#FFF5B8;
	border:solid 1px #FFFBDD;
	list-style-type: none;
	color:#333333;
}


/*

*/
.igdd_Office2007BlueListItemDisabled
{
	list-style-type: none;
	width: auto;
	cursor:default;
}


/*
Applied to the whole pager
*/
.igdd_Office2007BluePager
{
	background-color:Transparent;
	border-top:solid 1px #868686;
	vertical-align:middle;
}


/*
Loading message container
*/
.igdd_Office2007BlueLoadingItemsMessage
{
	background-color:#567DB1;
	font-weight:bold;
	font-size:10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:1px 0px 0px 1px;
	padding:3px;
	color:White;
}


/*
Styles the current page link only
*/
.igdd_Office2007BluePageCurrent
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#FFBD69;
	text-decoration:underline;
	vertical-align:middle;
}


/*
Styles all page links in general 
*/
.igdd_Office2007BluePageLink
{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:5px;
	margin-right:3px;
	float: left;
	cursor:pointer;
	color:#567DB1;
	vertical-align:middle;
}


/*
pseudo class used so Value Display input does not have focus
glow in some browsers like GoogleChrome or AppleSafari
*/
input:focus
{
	outline: none;
}


.igdd_Office2007BlueListItemActive a link
{
	color:Black;
	text-decoration:none;
}


.igdd_Office2007BlueListItem a:active
{
}


/*
Styling for anchor when hovered anywhere on ListItem
*/
.igdd_Office2007BlueListItemHover a:link
{
	color:Black;
	text-decoration:none;
}


/*

*/
.igdd_Office2007BlueListItemFocus
{
	list-style-type: none;
	width: auto;
}


/*
	
*/
.igdd_Office2007BlueDropDownButtonFocus
{
}


.igdd_Office2007BlueListItem a:link
{
	color:Black;
	text-decoration:none;
}


.igdd_Office2007BlueListItem a:visited
{
	color:Black;
	text-decoration:none;
}


/*

*/
.igdd_Office2007BlueDropDownListContainerFocus
{
}


.igdd_Office2007BlueListItem a:hover
{
}


/*
For Disabled=True of a DropDownItem
*/
.igdd_Office2007BlueListItemDisabled a:link
{
	cursor:default;
	color:#8D8D8D;
}


/*
 CSS class for the table that accomodates the value display and the drop down button, and which is a 
 child of the main control (div)
*/
.igdd_Office2007BlueValueDisplayTable
{
}


/*

*/
.igdd_Office2007BlueDropDownButtonDisabled
{
}


/*

*/
.igdd_Office2007BlueDropDownListFocus
{
}


/*

*/
.igdd_Office2007BlueDropDownListDisabled
{
}

/* hide IE 10 clear button */
.igdd_Office2007BlueValueDisplay::-ms-clear
{
    display : none;
}
