.igtbl_Office2007BlueControl
{
	cursor:default;
}


.igtbl_Office2007BluePagerArea
{
	background-color:#C9D9ED;
	border-width:0px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}


.igtbl_Office2007BluePageCurrent
{
	background-repeat:no-repeat;
	background-image: url(images/submit_hover.gif);
	margin-right:10px;
	padding:2px 8px 5px 5px;
}


.igtbl_Office2007BluePageLink
{
	margin-right:10px;
	color:DimGray;
}


.igtbl_Office2007BlueGroupByBox
{
	background-image: url(images/caption_bg.jpg);
}


.igtbl_Office2007BlueAddNewBox
{
	background-color:#BFDAFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
}


.igtbl_Office2007BlueItem
{
	border:solid 1px Transparent;
	border-right-color:#D0D7E5;
	border-bottom-color:#D0D7E5;
	padding:0px 0px 0px 10px;
}


.igtbl_Office2007BlueFilterOperandButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/submit_disable.gif);
	border-width:0px;
	padding-top:2px;
	width: 18px;
}


.igtbl_Office2007BlueFilterDropDown
{
}


.igtbl_Office2007BlueFilterOperandDropDown
{
}


.igtbl_Office2007BlueAlt
{
}


.igtbl_Office2007BlueEdit
{
	background-color:White;
	font-size:x-small;
	font-family: Verdana;
	border:solid 1px Transparent;
	padding-top:7px;
	text-align:left;
	vertical-align:middle;
}


.igtbl_Office2007BlueButton
{
}


.igtbl_Office2007BlueFxdCell
{
}


.igtbl_Office2007BlueHeader
{
	background-color:#D3DCE9;
	background-repeat:repeat-x;
	background-image: url(images/igg_header.gif);
	padding-top:3px;
	padding-bottom:3px;
	color:#36428B;
}


.igtbl_Office2007BlueFooter
{
	background-repeat:repeat-x;
	background-image: url(images/iguwg_footer.gif);
	border-color:#D0D7E5;
}


.igtbl_Office2007BlueLabel
{
	background-color:#E4ECF7;
	background-image:none;
	border-right-width:1px;
	border-right-color:#D0D7E5;
	border-bottom-width:1px;
	border-bottom-color:#D0D7E5;
}


.igtbl_Office2007BlueExpArea
{
	background-color:#E4ECF7;
	background-image:none;
	border-width:1px;
	border-color:#D0D7E5;
	border-top-width:0px;
	border-bottom-style:solid;
	text-align:left;
}


.igtbl_Office2007BlueGrpItem
{
}


.igtbl_Office2007BlueFxdHeader
{
}


.igtbl_Office2007BlueGroupBandLabel
{
}


.igtbl_Office2007BlueFxdFooter
{
}


.igtbl_Office2007BlueDropDown
{
	background-color:WhiteSmoke;
	font-size:xx-small;
	font-family: Verdana;
	border:solid 1px LightGrey;
}


.igtbl_Office2007BlueDropDownSel
{
}


.igtbl_Office2007BlueSelected
{
	background-color:#FFC875;
	background-repeat:repeat-x;
	background-image: url(images/igg_cellselected.gif);
	border-top:solid 1px #CA9E62;
	border-bottom:solid 1px #FDAD11;
	color:Black;
}

.igtbl_Office2007BlueActiveBorderTopBottom
{
	border-top:solid 1px #CA9E62;
	border-bottom-width:1px;
	border-bottom-color:#D0D7E5;
}


.igtbl_Office2007BlueActiveBorderLeft
{
	border-left:solid 1px #D0D7E5;
}


.igtbl_Office2007BlueActiveBorderRight
{
	border-right:solid 1px #D0D7E5;
}


