.igtbl_Office2007BlueControl
{
	cursor:default;
}


.igtbl_Office2007BluePagerArea
{
	background-color:#C9D9ED;
	border-width:0px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}


.igtbl_Office2007BluePageCurrent
{
	background-repeat:no-repeat;
	background-image: url(images/submit_hover.gif);
	margin-right:10px;
	padding:2px 8px 5px 5px;
}


.igtbl_Office2007BluePageLink
{
	margin-right:10px;
	color:DimGray;
}


.igtbl_Office2007BlueGroupByBox
{
	background-image: url(images/caption_bg.jpg);
}


.igtbl_Office2007BlueAddNewBox
{
	background-color:#BFDAFF;
	border-bottom-width:1px;
	border-bottom-style:solid;
}


TBODY.igtbl_Office2007BlueItem TR TD, THEAD.igtbl_Office2007BlueItem TR TH, TFOOT.igtbl_Office2007BlueItem TR TH, TBODY.igtbl_Office2007BlueItem TR TH
{
	border:solid 1px Transparent;
	border-right-color:#D0D7E5;
	border-bottom-color:#D0D7E5;
	height: 25px;
}


.igtbl_Office2007BlueFilterOperandButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/submit_disable.gif);
	border-width:0px;
	padding-top:2px;
	width: 18px;
}


TBODY.igtbl_Office2007BlueItem TR.igtbl_Office2007BlueAlt TD
{
}


.igtbl_Office2007BlueEdit
{
	background-color:White;
	font-size:x-small;
	font-family: Verdana;
	border:solid 1px Transparent;
	padding-top:7px;
	text-align:left;
	vertical-align:middle;
}


.igtbl_Office2007BlueButton
{
}


TBODY.igtbl_Office2007BlueItem TR TD.igtbl_Office2007BlueFxdCell
{
}


THEAD.igtbl_Office2007BlueHeader TR TH, TFOOT.igtbl_Office2007BlueHeader TR TH, TBODY.igtbl_Office2007BlueHeader TR TH
{
	background-color:Transparent;
	background-position:bottom ;
	background-image: url(images/igg_header.gif);
	border:solid 1px #Transparent;
	border-right-color:#F29536;
	padding-top:3px;
	padding-bottom:3px;
}


TFOOT.igtbl_Office2007BlueFooter TR TH
{
	background-color:#D8DFEA;
	background-image:none;
	border-width:0px;
}


TBODY.igtbl_Office2007BlueHeader TR TH.igtbl_Office2007BlueLabel
{
	background-color:#E4ECF7;
	background-image:none;
	border-right-width:1px;
	border-right-color:#D0D7E5;
	border-bottom-width:1px;
	border-bottom-color:#D0D7E5;
	padding-top:3px;
	padding-bottom:3px;
	height: 10px;
}


TBODY.igtbl_Office2007BlueHeader TR TH.igtbl_Office2007BlueExpArea, TFOOT.igtbl_Office2007BlueHeader TR TH.igtbl_Office2007BlueExpArea
{
	background-color:#D8DFEA;
	background-image:none;
	border-width:1px;
	border-color:#D0D7E5;
	border-top-style:solid;
	border-top-color:Gainsboro;
	border-bottom-style:solid;
	text-align:left;
}


TBODY.igtbl_Office2007BlueHeader TR TH.igtbl_Office2007BlueGrpItem
{
}


THEAD.igtbl_Office2007BlueHeader TR TH.igtbl_Office2007BlueFxdHeader
{
}


.igtbl_Office2007BlueGroupBandLabel
{
}


TFOOT.igtbl_Office2007BlueHeader TR TH.igtbl_Office2007BlueFxdFooter
{
}


.igtbl_Office2007BlueDropDown
{
	background-color:WhiteSmoke;
	font-size:xx-small;
	font-family: Verdana;
	border:solid 1px LightGrey;
}


.igtbl_Office2007BlueDropDownSel
{
}


TBODY.igtbl_Office2007BlueItem TR.igtbl_Office2007BlueSelected TD, TBODY.igtbl_Office2007BlueItem TR TD.igtbl_Office2007BlueSelected, .igtbl_Office2007BlueSelected
{
	background-color:#EAECF5;
}


TBODY.igtbl_Office2007BlueItem TR TD.igtbl_Office2007BlueActiveBorderTopBottom, .igtbl_Office2007BlueActiveBorderTopBottom
{
	border-top-width:1px;
	border-top-color:#1E1E1E;
	border-bottom-width:1px;
	border-bottom-color:#1E1E1E;
}


TBODY.igtbl_Office2007BlueItem TR TD.igtbl_Office2007BlueActiveBorderLeft, .igtbl_Office2007BlueActiveBorderLeft
{
	border-left:solid 1px #1E1E1E;
}


TBODY.igtbl_Office2007BlueItem TR TD.igtbl_Office2007BlueActiveBorderRight, .igtbl_Office2007BlueActiveBorderRight
{
	border-right:solid 1px #1E1E1E;
}


.igtbl_Office2007BlueFilterDropDown
{
}


.igtbl_Office2007BlueFilterOperandDropDown
{
}


