.igspl_Office2007BlueControl
{
	border:solid 1px #CCCCCC;
}


.igspl_Office2007BluePane
{
	background-color:White;
	background-repeat:repeat-x;
}


.igspl_Office2007BlueVSplitBar
{
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(./images/igspl_splitVert.gif);
	font-size:1px;
	cursor:e-resize;
}


.igspl_Office2007BlueHSplitBar
{
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHoriz.gif);
	font-size:1px;
	height: 30px;
	cursor:n-resize;
}


.igspl_Office2007BlueVSplitBarHover
{
	background-image: url(./images/igspl_splitVertHover.gif);
}


.igspl_Office2007BlueHSplitBarHover
{
	background-repeat:repeat-x;
	background-image: url(./images/igspl_splitHorizHover.gif);
}


.igspl_Office2007BlueVSplitBarPressed
{

}


.igspl_Office2007BlueHSplitBarPressed
{
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHorizPressed.gif);
}


.igspl_Office2007BlueHSplitBarShadow
{
	background-image: url(./images/igspl_splitHorizHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_Office2007BlueVSplitBarShadow
{
	background-image: url(./images/igspl_splitVertHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_Office2007BlueVSplitBarShadowLimit
{
}


.igspl_Office2007BlueHSplitBarShadowLimit
{
}


.igspl_Office2007BlueCollapseSplitBarButton
{
	cursor:pointer;
}


.igspl_Office2007BlueHSplitBarHeight
{
	height: 6px;
}


.igspl_Office2007BlueVSplitBarWidth
{
	width: 6px;
}


