/**************************** VERTICAL (Default / No suffixes) *************************************************/
/*************Notes:****************/
/*1. Accent Color = #B1A491 default background color on child items in a list, not selected or hovered on*/
/*2. Yellow = Hover background color of child item in a list*/
/*3. Green = Parent color when hovering on one of it's children*/
/*4. Red = Default background color on parent.*/
/*5. Silver = Parent not selected background color*/
/*6. Orange = Parent hover over background color*/
/*7. Menu background color #D1C9B8*/




.igdm_TanControlVertical
{
	background-color:red;
	background-repeat:repeat-x;
	background-position:lef top;
	/*background-image: url(images/igdm_ControlBackground.png);*/
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	border-style:none;
	border-width:0px;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
}

/*
 Main Control CSS class when it's active 
*/
.igdm_TanControlVerticalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_TanControlVerticalDisabled
{
    /*background-color:red;*/
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url(images/igdm_ControlBackground.png);*/
}


/******************************** ROOT ELEMENTS ***************************************************/
.igdm_TanMenuGroupVerticalRoot
{
	background-color:transparent;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_TanMenuItemVerticalRoot
{
	font-size:10px;
	border:solid 1px Transparent;
	padding:6px 30px 6px 12px;
	color:#333333;
}


.igdm_TanMenuItemVerticalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	text-align:left;
	vertical-align:middle;
}


.igdm_TanMenuItemVerticalRootLink
{
	font-size:12px;
	line-height: 12px; /* IE7 empty space fix. */
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}

.igdm_TanMenuItemVerticalRootHover
{
	background-color:#B1A491;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootHover.png");*/
	border:solid 1px Transparent;
}

.igdm_TanMenuItemVerticalRootActive
{
	background-color:#9AD0F4;
	/*border:solid 1px #6691B8;*/
}

.igdm_TanMenuItemVerticalRootSelected
{
	background-color:red;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootSelected.png");*/

	/*border:solid 1px #6691B8;*/
}

.igdm_TanMenuItemVerticalRootDisabled
{
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_TanMenuGroupVertical
{
	background-color:#D1C9B8;
	border:1px solid #CDCDCD;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}

.igdm_TanMenuGroupScrollingVertical
{
	background-color: #B1A491; /*JMB -- Drop down not selected color*/
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}

/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_TanMenuItemVertical
{
	background-attachment:scroll;
	background-color: #D1C9B8 none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	border:solid 1px Transparent;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_TanMenuItemVerticalLink
{
	font-size:12px;
	line-height: 12px; /* IE7 empty space fix. */
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_TanMenuItemVerticalParent
{
}


.igdm_TanMenuItemVerticalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_TanMenuItemVerticalSelected
{
	background-color:#B1A491;
	background-repeat:repeat-x;
	background-position:top ;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:White;

}


/* List Item (Li) */
.igdm_TanMenuItemVerticalActive
{
	background-color:#B1A491;
	background-repeat:repeat-x;
	background-position: left top;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_TanMenuItemVerticalHover
{
	background-color:#D1C9B8;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px Transparent;
	margin:0px;
	color:White;
}


.igdm_TanMenuItemVerticalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_TanMenuItemVerticalSeparator
{
	background-color:#CCCCCC;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	height: 1px ;
	height: 1px;
	width: 100%;
	margin: 0px auto;
	position: absolute;
	clear: both;
}


.igdm_TanMenuScrollContainerVertical
{
}


.igdm_TanMenuScrollerRootTop
{
}


.igdm_TanMenuScrollerRootBottom
{
}


.igdm_TanMenuScrollerTop
{
}


.igdm_TanMenuScrollerBottom
{
}


/************************************************************************************************\

********************** Horizontal / Suffixed with "Horizontal" *********************************

\************************************************************************************************/
.igdm_TanControlHorizontal
{
	background-color:#D1C9B8; /*keep*/
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url(images/igdm_ControlBackground.png);*/
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
	border-left-style: solid;
	border-left-width:2px;
	border-left-color:#B1A491;
}

.igdm_TanControlHorizontalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_TanControlHorizontalDisabled
{
    /*background-color:red;*/
	background-repeat:repeat-x;
	background-position:left top;
	border-left-style: solid;
	border-left-width:2px;
	border-left-color:#B1A491;
	/*background-image: url(images/igdm_ControlBackground.png);*/
}


/************** End Main Control Definitions ********************/
/******************************** ROOT ELEMENTS - Group and Item ***************************************/
/** Definitions for Root elements should be always before definitions of subElements **/
.igdm_TanMenuGroupHorizontalRoot
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_TanMenuItemHorizontalRoot
{
	font-size:12px;
	border:solid 1px Transparent;
	padding:6px 30px 6px 30px;
	float: left;
	color:#000000;
    border-right-style: solid;
	border-right-width:2px;
	border-right-color:#B1A491;
}


.igdm_TanMenuItemHorizontalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	text-align:left;
	vertical-align:middle;
	float:left;
}


.igdm_TanMenuItemHorizontalRootLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}


.igdm_TanMenuItemHorizontalRootHover
{
	background-color:#D1C9B8;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootHover.png");*/
	/*border:solid 1px Transparent;*/
	
	/*IE6 fix*/
	_border:0px;
}

.igdm_TanMenuItemHorizontalRootActive
{
	background-color:#D1C9B8;
	/*border-bottom: 2px solid black;*/
}

.igdm_TanMenuItemHorizontalRootSelected
{
	background-color:#D1C9B8;
	background-repeat:repeat-x;
	background-position:left top;
	/*background-image: url("images/igdm_RootSelected.png");*/

	/*border:solid 1px #6691B8;*/
}



.igdm_TanMenuItemHorizontalRootDisabled
{
	float: left;
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_TanMenuGroupHorizontal
{
	background-color:#D1C9B8;
	border:1px solid #CCCCCC;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}

.igdm_TanMenuGroupScrollingHorizontal
{
	background-color:#D1C9B8;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_TanMenuItemHorizontal
{
	background-attachment:scroll;
	background-color: #D1C9B8 none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	border:solid 1px Transparent;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_TanMenuItemHorizontalLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_TanMenuItemHorizontalParent
{
	font-weight:normal;
	margin:0px;
}


.igdm_TanMenuItemHorizontalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_TanMenuItemHorizontalSelected
{
	background-color:#B1A491;
	background-repeat:repeat-x;
	background-position:top ;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:blue;
}


/* List Item (Li) */
.igdm_TanMenuItemHorizontalActive
{
	background-color:#B1A491;
	background-repeat:repeat-x;
	background-position:top ;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px #666666;
	margin:0px;
	color:blue;
}


/* List Item (Li) */
.igdm_TanMenuItemHorizontalHover
{
	background-color:#B1A491;
	background-repeat:repeat-x;
	background-position:top left;
	/*background-image: url(images/igdm_ItemHover.png);*/
	font-weight:normal;
	border:solid 1px Transparent;
	margin:0px;
	color:blue;
}


.igdm_TanMenuItemHorizontalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_TanMenuItemHorizontalSeparator
{
	background-color:#CCCCCC;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	width: 1px ;
	width: 1px;
	height: 100%;
	margin: 0px auto;
}


/* Scrolling container - DIV */
.igdm_TanMenuScrollContainerHorizontal
{
}


/* Left scrolling element for root level items Horizontal orientation - DIV */
.igdm_TanMenuScrollerRootLeft
{
}


/* Right scrolling element for root level items Horizontal orientation - DIV */
.igdm_TanMenuScrollerRootRight
{
}


/* Left scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_TanMenuScrollerLeft
{
}


/* Right scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_TanMenuScrollerRight
{
}


.igdm_TanMenuItemHorizontalRootDisabled > a
{
	color:#AAAAAA;
}

.igdm_TanMenuItemVertical.igdm_TanMenuItemVerticalParent {
	background-image:url("images/igwdm_SubMenuIndicator.gif");
	background-position:right center;
	background-repeat:no-repeat;
}


.igdm_TanMenuItemVerticalActive.igdm_TanMenuItemVerticalParent
{
	background-color:#FF9933;
	background-repeat:repeat-x;
	background-position:center right ;
	background-image: url(images/igwdm_SubMenuIndicator.gif);
	font-weight:normal;
	border:solid 1px #666666;
}



.igdm_TanMenuItemHorizontalRootHover > a
{
	color:blue;
}


.igdm_TanMenuItemVerticalRootSelected > a
{
	color:blue;
}


/* List Item (Li) */
.igdm_TanMenuItemVerticalDisabled > a
{
	color:#CCCCCC;
}


.igdm_TanMenuItemVerticalHover > a
{
	color:blue;
	cursor:auto;
}

.igdm_TanMenuItemVerticalActive > a
{
	color:blue;
}

.igdm_TanMenuItemVerticalRootDisabled > a
{
	color:#AAAAAA;
}


.igdm_TanMenuItemHorizontalRootSelected > a
{
	color:blue;
	cursor:auto;
}

.igdm_TanMenuItemHorizontalRootActive > a
{
	color:blue;
}


.igdm_TanMenuItemHorizontalActive > a
{
	color:blue;
}


.igdm_TanMenuItemVerticalHover.igdm_TanMenuItemVerticalParent
{
	/*color:red;*/
	background-repeat:repeat-x;
	background-position:top right;
	/*background-image: url(images/igdm_ItemHoverParent.png);*/
	font-weight:normal;
	border:solid 1px Transparent;
}


.igdm_TanMenuItemVerticalRootHover > a
{
	color:blue;
}


/* List Item (Li) */
.igdm_TanMenuItemHorizontalDisabled > a
{
	color:#CCCCCC;
}


.igdm_TanMenuItemVerticalSelected.igdm_TanMenuItemVerticalParent
{
	background-color:red;
	background-repeat:repeat-x;
	background-position:center right ;
	/*background-image: url(images/igdm_ItemHoverParent.png);*/
	font-weight:normal;
	border:solid 1px #666666;
}

.igdm_TanMenuItemVerticalSelected > a
{
	color:blue;
	cursor:auto;
}


.igdm_TanMenuItemHorizontalHover > a
{
	color:White;
}


.igdm_TanMenuItemHorizontalSelected > a
{
	color:White;
}


.igdm_TanMenuItemVerticalRootActive > a
{
	color:White;
}




/*************************************** SCROLLING ROLES ************************************/

.igdm_TanMenuScrollButton
{
    position:absolute;
    background-color: #EFEFEF;
    background-image:url("images/igwdm_scrollSprite.png");
    background-position:center -57px;
    background-repeat: repeat-x;
    border:1px solid #5891c2;
    text-decoration: none;
    padding:0px;
    margin:0px;
}

.igdm_TanMenuScrollerTop
{
    height:10px;
    width:100%;
}
    .igdm_TanMenuScrollerTop:hover, 
    .igdm_TanMenuScrollerRight:active
    {
      background-position:center -42px;
    }
    
.igdm_TanMenuScrollerBottom
{
    height:10px;
    width:100%;
}
    .igdm_TanMenuScrollerBottom:hover,
    .igdm_TanMenuScrollerRight:active
    {
      background-position:center -42px;
    }

.igdm_TanMenuScrollerLeft
{
    border-left:1px solid #5891c2;
    background-position:right -70px;
    background-repeat:repeat-y;

    width:10px;
    height:28px;

    display:block;
}
    .igdm_TanMenuScrollerLeft:hover, 
    .igdm_TanMenuScrollerRight:active
    {
      background-position:left -70px;
    }

.igdm_TanMenuScrollerRight
{

    border-right:1px solid #5891c2;
    background-position:right -70px;
    background-repeat:repeat-y;

    width:10px;
    height:28px;
    
    display:block;
}
    .igdm_TanMenuScrollerRight:hover, 
    .igdm_TanMenuScrollerRight:active
    {
      background-position:left -70px;
    }
    
.igdm_TanMenuScrollIcon
{
    cursor:pointer;
    display:block;
    background-repeat:no-repeat;
    height:10px;
    padding:0px;
    margin:0px;
    background-image:url("images/igwdm_scrollSprite.png");
}

.igdm_TanMenuScrollIconTop
{
    background-position:center -1px;
    width:10px;
    position:relative; 
    left:50%;
    margin-left:-5px;
}

.igdm_TanMenuScrollIconBottom
{
    background-position:center -25px;
    width:10px;
    position:relative; 
    left:50%;
    margin-left:-5px;
}

.igdm_TanMenuScrollIconLeft
{
    background-position:-15px -15px;
    margin-top:-6px;
    position:relative;
    top:50%;
}

.igdm_TanMenuScrollIconRight
{
    background-position:-30px -15px;
    margin-top:-6px;
    position:relative;
    top:50%;
}

.igdm_TanMenuScrollContainer
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;	
}

.igdm_TanMenuScrollContainerVertical
{
    border:1px solid #CCCCCC;
    background-color:White;
    color:Black;
}

.igdm_TanMenuScrollContainerHorizontal
{
    border:1px solid #CCCCCC;
    background-color:White;
    color:Black;
}

.igdm_TanMenuScrollContainerRootVertical
{
}

.igdm_TanMenuScrollContainerRootHorizontal
{
}

/*************************************** END SCROLLING ROLES ********************************/

/***************
*   IE6 Fixes  *
****************/

.ie6 .igdm_TanMenuItemVerticalRoot.igdm_TanMenuItemVerticalParent.igdm_TanMenuItemVerticalRootHover
{
	border:0px;

	background-color:B1A491!important;
	background-repeat:repeat-x!important;
	background-position:left top!important;
	/*background-image: url("images/igdm_RootHover.png")!important;*/
}

.ie6 .igdm_TanMenuItemVerticalRoot.igdm_TanMenuItemVerticalParent.igdm_TanMenuItemVerticalRootSelected 
{
    border:0px;
    background-color : red!important;
	background-repeat:repeat-x!important;
	background-position:left top!important;
	/*background-image: url("images/igdm_RootSelected.png")!important;*/
}

.ie6 .igdm_TanMenuItemVertical.igdm_TanMenuItemVerticalParent
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVerticalRootHover .igdm_TanMenuItemVerticalRootLink{
    color:white;
}
.ie6 .igdm_TanMenuItemHorizontalRootHover .igdm_TanMenuItemHorizontalRootLink{
    color:white;
}

.ie6 .igdm_TanMenuItemHorizontalRootActive .igdm_TanMenuItemHorizontalRootLink{
    color:white;
}

.ie6 .igdm_TanMenuItemVerticalRoot.igdm_TanMenuItemVerticalRootActive .igdm_TanMenuItemVerticalRootLink,
.ie6 .igdm_TanMenuItemVerticalRoot.igdm_TanMenuItemVerticalRootSelected .igdm_TanMenuItemVerticalRootLink
{
    color:white;
}

.ie6 .igdm_TanMenuItemVerticalRoot
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVerticalRootHover
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVerticalRootSelected
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVertical
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVerticalActive
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVerticalHover
{
	border:0px;
}

.ie6 .igdm_TanMenuItemHorizontalRoot
{
	border:0px;
}

.ie6 .igdm_TanMenuItemHorizontalRootSelected
{
	border:0px;
}

.ie6 .igdm_TanMenuItemHorizontal
{
	border:0px;
}

.ie6 .igdm_TanMenuItemHorizontalHover
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVerticalHover.igdm_TanMenuItemVerticalParent
{
	border:0px;
}

.ie6 .igdm_TanMenuItemVerticalSeparator 
{
    overflow:hidden;
}

.ie6 .igdm_TanMenuItemHorizontalSeparator 
{
    overflow:hidden;
}

.ie6 ul.igdm_TanMenuGroupVerticalRoot li.igdm_TanMenuItemVerticalParent.igdm_TanMenuItemVerticalRoot
{
	background: none;
}

.ie6 .igdm_TanMenuGroupScrollingVertical .igdm_TanMenuItemVerticalParent
{
    background-color:transparent;
    background-image:url("images/igwdm_SubMenuIndicator.gif");
    background-position:right center;
    background-repeat:no-repeat;
}