﻿.igc_Office2007BlackControl
{
	border:solid 1px #898989;
	background-color:#ffffff;
	padding:10px;
	margin:0px;
	font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
}

.igc_Office2007BlackControlActive
{
	
}

.igc_Office2007BlackCaptchaInput
{
    border:1px solid #898989;
    display:block;
    padding:5px 0;
    
    margin-bottom:10px;
    /*IE6 and IE7 specific hack*/
    *margin-bottom:0;
    
}

.igc_Office2007BlackRefreshAndAudioButtonsArea
{
    margin-left:10px;
	border-width:0;
	text-decoration:none;
    display:block;
}

    .igc_Office2007BlackRefreshAndAudioButtonsArea img
    {
	    border-width:0px;
	    text-decoration:none;
	    margin-bottom:3px;
    }

.igc_Office2007BlackSubmitButton {
    background:#FFE395 url(./images/igc_submitButtonBg.png) repeat-x left top;
    border:1px solid #C0A877;
    clear:left;
    display:block;
    height:30px;
    width:177px;
    cursor:pointer;
    color:#000000;
    margin-top:10px;
    font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    padding:0px;
}

.igc_Office2007BlackErrorLabel
{
    background-color:#FF6666;
    color:white;
    padding:3px;
}

.igc_Office2007BlackCaptchaImageLabel
{
	border:1px solid #898989;
}

.igc_Office2007BlackCaptchaInputLabel{
}

.igc_Office2007BlackCaptchaInfoTextLabel
{
    display:block;
    margin:10px 0 5px 0;
}

.igc_Office2007BlackCaptchaImage
{
    display:block;
    margin-bottom:10px;
}

.igc_Office2007BlackCaptchaImageArea
{
    display:block;
    float:left;
    padding:0;
    margin:0;
}
    .igc_Office2007BlackCaptchaImageArea label 
    {
        display:block
    }
	    
.igc_Office2007BlackRefreshAndAudioButtonsArea 
{
    float:left;
}
    .igc_Office2007BlackRefreshAndAudioButtonsArea a 
    {
        display:block
    }
    .igc_Office2007BlackRefreshAndAudioButtonsArea a,
    .igc_Office2007BlackRefreshAndAudioButtonsArea img 
    {
        cursor:pointer
    }