.igcv_Office2007BlackControl
{
}


.igcv_Office2007BlackCaptionHeader
{
	background-color:#D2D5DA;
	font-size:8pt;
	padding:3px;
	width: 100%;
	white-space: nowrap;
	color:Black;
	text-align:center;
}


.igcv_Office2007BlackDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:10px;
	border-bottom:solid 1px #9199A4;
	height: 16px;
	color:Black;
}


.igcv_Office2007BlackDay
{
	font-size:11px;
	border-width:0px;
	cursor:hand;
}


.igcv_Office2007BlackFooter
{
	background-color:#EEEEEE;
	font-size:8pt;
	padding:3px;
	white-space: nowrap;
	cursor:pointer;
	text-align:left;
}


.igcv_Office2007BlackDropDown
{
	font-size:8pt;
}


.igcv_Office2007BlackOtherMonthDay
{
	background-color:White;
	color:#B3B3B3;
}


.igcv_Office2007BlackWeekendDay
{
	background-color:#FAFAFA;
}


.igcv_Office2007BlackNavigationButton
{
	background-color:#D2D5DA;
	padding-right:3px;
	padding-left:3px;
	cursor:pointer;
}


.igcv_Office2007BlackTodayDay
{
	border:solid 1px #BB5503;
}


.igcv_Office2007BlackActivityDay
{
	font-weight:bold;
}


.igcv_Office2007BlackActiveDay
{
	background-color:#FBC84F;
	background-image:none;
}


