.igg_Office2007BlackControl
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #333333;
}

.igg_Office2007BlackControl table
{
    border-collapse:separate;
}

.igg_Office2007BlackHeader
{
	background-color:#DFDFDF;
	background-repeat:repeat-x;
	background-image: url(images/igg_header.gif);
	color:#343434;
}

.igg_Office2007BlackHeaderCaption
{
	padding:3px 0 3px 8px;
	overflow: hidden;
	height: 25px;
	text-align:left;
	font-size: 12px;
	border-top:1px solid #f0f0f0;
    border-right:1px solid #cecece;
    border-bottom:1px solid #b5b5b5;
    border-left:1px solid #fff;
}

.igg_Office2007BlackGroupFieldHeaderCaption
{
    text-align: center;
    text-shadow: 1px 1px #fff;
    font-size: 14px;
}

.igg_Office2007BlackFooter
{
	background-image: url(images/igg_footer.gif);
	border-top:solid 1px #15428B;
	height: 22px;
}


.igg_Office2007BlackFooterCaption
{
	font-weight:normal;
	font-size:10px;
	padding-left:8px;
	overflow: hidden;
	text-align:left;
}


tbody.igg_Office2007BlackItem>tr>td
{
	background-color:White;
	/*border-right:solid 1px #D0D7E5;*/
	border-top:solid 1px #D0D7E5;
	height: 20px;
	line-height: 20px;
	padding:5px 8px 5px 8px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


.igg_Office2007BlackScrollbarIntersection
{
}


.igg_Office2007BlackRowSelector
{
	background-color:#EDEDED;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 1px #B6B6B6;
	width: 35px;
	color:#343434;
	text-align:center;
	vertical-align:middle;
}


.igg_Office2007BlackPager
{
	background-color:#3C3C3C;
	background-repeat:repeat-x;
	background-image: url(images/igg_pagerbg.gif);
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
}


.igg_Office2007BlackPageLink
{
	margin-right:10px;
	cursor:pointer;
	color:#C3C3C3;
}


.igg_Office2007BlackFilterRuleDropDown
{
	background-attachment:scroll;
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_summarydropdownbg.png);
	font-size:xx-small;
	font-family: verdana;
	border:solid 1px #83AFDF;
	width: 150px;
	overflow: auto;
	max-height: 150px;
	height: auto !important;
	height: 150px;
	box-shadow: 0 4px 8px 0 #5A5A5A;
	filter: progid : DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}


.igg_Office2007BlackFilterButton
{
	background-color:Transparent;
	border-style:solid;
	border-width:0px;
	height: 18px;
}


.igg_Office2007BlackResizeIndicator
{
	background-color:#2F3030;
	width: 2px;
}


.igg_Office2007BlackFixedColumnSeparatorCssClass
{
	background-color:#8A8A8A;
	width: 3px;
}


.igg_Office2007BlackFixedColumnPinButtonCssClass
{
	padding-top:0px;
	padding-right:3px;
	cursor:pointer;
	vertical-align:middle;
}


.igg_Office2007BlackVirtualScrollTooltip
{
	background-image: url(images/igg_footer.gif);
	font-size:10px;
	border:solid 1px #000000;
	padding:3px;
	color:White;
	text-align:center;
}


.igg_Office2007BlackTopDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/igg_topdragindicator.png);
	margin-top:2px;
	width: 11px;
	height: 6px;
	z-index: 100;
}


.igg_Office2007BlackMiddleDragIndicator
{
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(images/igg_middledragindicator.png);
	width: 11px;
}


.igg_Office2007BlackBottomDragIndicator
{
	background-repeat:no-repeat;
	background-image: url(images/igg_bottomdragindicator.png);
	margin-top:-2px;
	width: 11px;
	height: 6px;
	position: absolute;
	z-index: 100;
}


.igg_Office2007BlackDragMarkup
{
}


.igg_Office2007BlackSummary
{
	font-weight:bold;
	font-size:9px;
	border-bottom:solid 1px #CBCBCB;
	overflow: hidden;
	line-height: 20px;
	color:#444444;
	text-align:right;
}


.igg_Office2007BlackSummaryButton
{
	background-color: none;
	border-style:none;
	border-color: medium;
	margin:0px;
	padding:0px;
	cursor:pointer;
}


/** Removed Property (Olga Kerchentseva mail 5/25/2010 )**/
/*
.igg_Office2007BlackFooterSummariesCaption
{
    color:#000;
    background:#88C2E8 url(images/igg_FooterSummariesBG.png) repeat-x scroll;
} */
.igg_Office2007BlackSummaryDropDown
{
	background-attachment:scroll;
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_summarydropdownbg.png);
	font-size:11px;
	font-family: verdana;
	border:solid 1px #898989;
	padding:12px;
	width: 146px;
	_overflow: hidden!important;
	box-shadow: 0 4px 8px 0 #5A5A5A;
	filter: progid : DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}


.igg_Office2007BlackSummaryDropDownItem
{
	font-weight:normal;
	cursor:default;
	color:Black;
}


.igg_Office2007BlackSummaryRow
{
}


.igg_Office2007BlackFixedColumnHeaderCssClass
{
}


tbody>tr.igg_Office2007BlackAlt>td
{
	background-color:#EBF6FF;
}


.igg_Office2007BlackHeaderRowSelector {
    background-color: Transparent;
    border-color: #F0F0F0 #CECECE #B5B5B5 #FFFFFF;
    border-style: solid;
    border-width: 1px;
}


.igg_Office2007BlackFooterRowSelector
{
	background-color:Transparent;
	border:solid 0px #000000;
}


.igg_Office2007BlackSelectedHeader
{
}


.igg_Office2007BlackPageCurrent
{
	font-weight:bold;
	padding-right:10px;
	color:White;
}


tr.igg_Office2007BlackAddNewRow>td
{
	background-color:#E8EAEC;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	border-bottom-style:none;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


.igg_Office2007BlackAddNewRowSelectorImageCssClass
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/addnewrow_image.gif);
}


.igg_Office2007BlackAddNewRowSelectorCssClass
{
	background-color:#E8EAEC;
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


.igg_Office2007BlackAddNewRowExpansionColumnCssClass
{
}


.igg_Office2007BlackFilterRow
{
	background-color:White;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 0px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 1px #B6B6B6;
	height: 22px;
}


.igg_Office2007BlackFilterRuleDropDownItem
{
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
}


.igg_Office2007BlackFilterRowSelectorImage
{
}


.igg_Office2007BlackFilterRowSelectorCssClass
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


tr.igg_Office2007BlackFilterRow>td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	color:Black;
}


.igg_Office2007BlackFilterRowExpansionColumnCssClass
{
}


tbody.igg_Office2007BlackFixedColumnCellCssClass>tr>td
{
}


.igg_Office2007BlackFixedColumnFooterCssClass
{
	font-weight:bold;
}


.igg_Office2007BlackHeaderScrollbarIntersection
{
}


.igg_Office2007BlackFooterScrollbarIntersection
{
}


.igg_Office2007BlackSelectedRowSelector
{
	background-repeat:no-repeat;
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
	background-color: #ffc875;
}


.igg_Office2007BlackSelectedRowSelectorImage
{
}


tr.igg_Office2007BlackAddNewRowTop>td
{
}


tr.igg_Office2007BlackAddNewRowBottom>td
{
}


.igg_Office2007BlackFilterRowTop
{
}


.igg_Office2007BlackFilterRowBottom
{
}


.igg_Office2007BlackFilterRuleDropDownSelectedItem
{
	background-repeat:repeat-x;
	background-image: url(images/igg_selected.gif);
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	color:Black;
}


tr.igg_Office2007BlackFilterRowTop>td
{
}


tr.igg_Office2007BlackFilterRowBottom>td
{
}


tbody>tr>td.igg_Office2007BlackSelectedCell
{
	background-color:#FEC271;
	background-repeat:repeat-x;
	background-image: url(images/igg_cellselected.gif);
	border-Top:solid 1px #FDAD11;
	color:Black;
}


.igg_Office2007BlackAddNewRowScrollbarIntersection
{
	background-color:#E8EAEC;
	border-top:solid 1px #B6B6B6;
	border-right:solid 0px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


.igg_Office2007BlackFilterDisabled
{
}


.igg_Office2007BlackFilterScrollbarIntersection
{
	background-color:#EEEEEE;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #B6B6B6;
	border-right:solid 0px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
}


tbody>tr>td.igg_Office2007BlackActiveCell
{
}


.igg_Office2007BlackActiveRow
{
}


.igg_Office2007BlackActiveColumn
{
}


.igg_Office2007BlackActiveRowSelectorImage
{
}


.igg_Office2007BlackActiveRowSelector
{
	background-color:#FFC875;
	background-repeat:no-repeat;
	background-position:left center ;
	background-image: url(images/selectedrowselector.gif);
}


.igg_Office2007BlackFilterRuleDropDownHoverItem
{
	background-repeat:repeat-x;
	background-image: url(images/igg_selected.gif);
	font-size:11px;
	font-family: Verdana;
	padding:1px 3px 1px 3px;
	color:Black;
}


.igg_Office2007BlackEditCell
{
	background-color:White;
	border:solid 1px #AAAAAA !important;
}


tr.igg_Office2007BlackFilterRowBottomIE6 td
{
}


tr.igg_Office2007BlackFilterRowTopIE6 td
{
}


.igg_Office2007BlackFilterButton>td
{
	border-top:solid 0px Transparent;
	border-right:solid 0px Transparent;
	border-bottom:solid 0px Transparent;
	border-left:solid 0px Transparent;
}


.igg_Office2007BlackSummaryDropDown input
{
	background-attachment:scroll;
	background-color:#FFEBB0;
	background-repeat:repeat-x;
	background-image: url(images/igg_buttonsbg.png);
	border:solid 1px #C0A776;
	margin-top:10px;
	margin-right:3px;
	width: 70px;
	color:Black;
}


tr.igg_Office2007BlackAddNewRowBottomIE6 td
{
}


tbody.igg_Office2007BlackItemIE6 tr td
{
	background-color:White;
	border-right:solid 1px #D0D7E5;
	border-bottom:solid 1px #D0D7E5;
	padding:5px 8px 5px 8px;
	height: 23px;
	overflow: hidden;
	text-align:left;
	vertical-align:middle;
}


tbody tr.igg_Office2007BlackAltIE6 td
{
	background-color:#EBF6FF;
	padding:5px 8px 5px 8px;
	text-align:left;
	vertical-align:middle;
}

tbody tr td.igg_Office2007BlackSelectedCellIE6
{
	background-color:#FEC271;
	background-repeat:repeat-x;
	background-image: url(images/igg_cellselected.gif);
	border-bottom:solid 1px #FDAD11;
	color:Black;
}


tr.igg_Office2007BlackAddNewRowIE6 td
{
	background-color:#E8EAEC;
	font-size:10px;
	font-family: Verdana;
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	padding-left:7px;
	height: 22px;
	overflow: hidden;
}


tr.igg_Office2007BlackAddNewRowTopIE6 td
{
}


tr.igg_Office2007BlackFilterRowIE6 td
{
	background-color:White;
	background-repeat:repeat-x;
	background-image: url(images/igg_filterrow.gif);
	border-top:solid 1px #B6B6B6;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 0px #B6B6B6;
	border-left:solid 0px #B6B6B6;
	color:Black;
}


.igg_Office2007BlackFooter tr[mkr="columnheaderrow"] th
{
	background-color:#F7F7F7;
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	line-height: 20px;
}


.igg_Office2007BlackSummaryRow th
{
	background-color:#F7F7F7;
	border-bottom:solid 1px #CCCCCC;
}


.igg_Office2007BlackSummaryDropDownItem img
{
	margin-right:5px;
	cursor:pointer;
}


tbody tr td.igg_Office2007BlackActiveCellIE6
{
}


/******************/

/*Batch Editing*/

@-webkit-keyframes addingHighlight {
	0% {background-color:#ffe7a2;}
	100% {background-color:#ffffff;}
	}
@-moz-keyframes addingHighlight {
	 0% {background-color:#ffe7a2;}	
	 100% {background-color:#ffffff;}
	}

tbody>tr.igg_Office2007BlackAddingRow>td
{	
   	background-image: none;

	-webkit-animation-name: addingHighlight;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 2s;
		
	-moz-animation-name: addingHighlight;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 2s;	
	
    -o-animation-name: addingHighlight;
	-o-animation-timing-function: ease-in-out;
	-o-animation-duration: 2s;
	
    animation-name: addingHighlight;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}

tbody tr.igg_Office2007BlackAddedRow td
{
   	background-color: #FFFFFF;
	color:#666;
    font-style: italic;
	background-image: none;
}

.igg_Office2007BlackDeletedRow
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}
.igg_Office2007BlackItem .igg_Office2007BlackDeletedRow td
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}
.igg_Office2007BlackItem .igg_Office2007BlackDeletedRow th
{
    color: #9F9F9F;
    font-style: italic;
    text-decoration: line-through;
}

.igg_Office2007BlackUndoButton 
{
   	background-color: #E8E8E8;
	background-image: url(images/igte_spinbuttonbg.gif);
	background-position:top left;
	background-repeat: repeat-x;
	line-height:normal;
	border:solid 1px #b6b6b6;
	color: #000000;
	text-shadow: 1px 1px #b6b6b6;
	cursor: pointer;
	padding:3px;
	
	-webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
    
.igg_Office2007BlackUndoButtonHover 
{
	background-color: #FFE7A5;
	background-image: url(images/igte_spinbuttonbghover.gif);
	background-repeat: repeat-x;
	border:solid 1px #DBCE99;
}

.igg_Office2007BlackUndoButtonPressed
{
	background-color: #FFD456;
	background-image: url(images/igte_spinbuttonbgpressed.gif);
	background-repeat: repeat-x;
	border:solid 1px #9A8F63;
}

.igg_Office2007BlackUpdatedRow
{    
	 color:#666;
     font-style: italic;
}
.igg_Office2007BlackAddedRow th

{    
	 color:#666;
     font-style: italic;
}

tbody > tr.igg_Office2007BlackUpdatedRow td.igg_Office2007BlackMergedCell
{    
	 color:#666;
     font-style: italic;
}

.igg_Office2007BlackAlt.igg_Office2007BlackUpdatedRow td
{    
	 color:#666;
     font-style: italic;
}

tbody > tr.igg_Office2007BlackUpdatedRow td.igg_Office2007BlackSelectedCell
{    
    color: black;
}

.igg_Office2007BlackUpdatedRow th {color:#666;}
.igg_Office2007BlackAlt.igg_Office2007BlackUpdatedRow th {color:#666;}
.igg_Office2007BlackAddedRow th {color:#666;}
.igg_Office2007BlackAlt.igg_Office2007BlackAddedRow th {color:#666;}
 
.igg_Office2007BlackUpdatedRow .igg_Office2007BlackActiveRowSelectorImage {color:#999;}
.igg_Office2007BlackAlt.igg_Office2007BlackUpdatedRow .igg_Office2007BlackActiveRowSelectorImage {color:#999;}
.igg_Office2007BlackAddedRow .igg_Office2007BlackActiveRowSelectorImage {color:#999;}
.igg_Office2007BlackAlt.igg_Office2007BlackAddedRow .igg_Office2007BlackActiveRowSelectorImage {color:#999;}

/********************/
/**  Cell Merging  **/
/********************/
/*Any future change please port it to WHDG*/

tbody>tr>td.igg_Office2007BlackMergedCellVisible
{
    color: Black;
}
	
tbody>tr>td.igg_Office2007BlackMergedCell /*tbody>tr>td.igg_Office2007BlackMergedCellAlt*/
{
    color: #FFF;
    background-color : #FFF;
    
    border-top-width : 0;
    border-left: 1px solid #d0d7e5;
    border-right: 1px solid #d0d7e5;
}

tbody>tr>td.igg_Office2007BlackMergedCellTop /*tbody>tr>td.igg_Office2007BlackMergedCellAltTop*/
{
    color: Black;
    border-top: 1px solid #d0d7e5;
}

tbody>tr>td.igg_Office2007BlackMergedCell.igg_Office2007BlackSelectedCell /*tbody>tr>td.igg_Office2007BlackMergedCellAlt.igg_Office2007BlackSelectedCell*/
{
    color: Black;
    background-image: none;
    background-color: #fec271;
    
    border-top: 1px solid #ca9e62;
    border-left: 1px dotted #ca9e62;
    border-right: 1px dotted #ca9e62;
}


       
tbody>tr>td.igg_Office2007BlackMergedCellTop.igg_Office2007BlackSelectedCell /*tbody>tr>td.igg_Office2007BlackMergedCellAltTop.igg_Office2007BlackSelectedCell*/
{
    color: Black;
   
}

.igg_Office2007BlackMergedCell.igg_Office2007BlackActiveCell
{
    color: Black
}

tbody>tr>td.igg_Office2007BlackMergedCellVisible
{
    color: Black;
}


/*********************/
/**  Filter styles **/
/*********************/

.igg_Office2007BlackFilterRuleDropDown 
{
	color: #000;
	max-height: 180px;
	min-width:160px;
	height: auto;
	width: auto;
	padding: 12px;
    
    /*Rounded corners*/
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	
    /*Shadow*/
	-moz-box-shadow: 0 4px 8px 0 #5A5A5A;
	-webkit-box-shadow: 0 4px 8px 0 #5A5A5A;
	box-shadow : 0 4px 8px 0 #5A5A5A; /* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A')"; /* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#5A5A5A');
}

.igg_Office2007BlackFilterRuleDropDown input
{
    margin-top:10px;
    margin-right:3px;
    width:70px;		
   
    background: #FFEBB0 url(images/igg_ButtonsBG.png) repeat-x scroll;
	color:#000000;
	border:solid 1px #C0A776;
		
    -webkit-border-radius: 3px;    
    -moz-border-radius: 3px;
}    

.igg_Office2007BlackFilterRuleDropDown img
{
    margin-right: 5px;
    vertical-align: bottom;
}

.igg_Office2007BlackFilterCheckboxList li
{
    list-style-type: none;
    margin-bottom: 3px;
    line-height: 15px;
}

.igg_Office2007BlackFilterCheckboxList
{
    margin: 10px 0 0 0;
    height: auto;
    max-height: 120px;
    overflow: auto;
    width: 160px;
}





@media print{.igg_Office2007BlackControl, 
.igg_Office2007BlackControl tr[mkr="columnHeaderRow"] div,
.igg_Office2007BlackControl div[mkr="container"],
.igg_Office2007BlackControl div[mkr="hScrBar"],
.igg_Office2007BlackControl div[mkr="vScrBar"]{width:auto !important; height:auto !important; overflow: visible !important;}
}
