.igdt_Office2007BlackControl {
	background-color:transparent;
	border:1px solid transparent;
	color:#000000;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.igdt_Office2007BlackControlActive {
}

.igdt_Office2007BlackNode
{
	cursor:hand;
	color:#000000;
	text-decoration:none;	
	padding:1px 3px 1px 3px;
	line-height: 15px;
	vertical-align: middle;
}

.igdt_Office2007BlackNodeRoot {
	font-weight:bold;
	color:#000000;
	vertical-align:middle;

}

.igdt_Office2007BlackNodeImage {	
	vertical-align: middle;
}

.igdt_Office2007BlackNodeSelected {
	background-color:#E5E5E5;
	
}

.igdt_Office2007BlackNodeActive 
{
	border:1px dotted #000000;
	padding: 0px 3px 0px 2px;
}

.igdt_Office2007BlackNodeHover 
{
	text-decoration: underline;
}

.igdt_Office2007BlackNodeDisabled
{
	color:Gray;
}

.igdt_Office2007BlackInternalNodeEditor
{
	border:1px solid #000000;
	padding-left: 2px;
}

/* //////////////////// GROUP STYLES //////////////////// */
.igdt_Office2007BlackNodeGroup {
	list-style :none;	
	margin-left: 0px;
	padding-left: 0px;
}

.igdt_Office2007BlackNodeHolder {
	white-space:nowrap;
    clear:left;
}

/* Bug #62259 K.D. December 27, 2010 removing float: left because it was causing the nodes to display diagonally */
.igdt_Office2007BlackNodeHolder img
{
	vertical-align: middle;
}

/* M.H. 8 June 2011 - fix bug 32892: add alignment for table */
.igdt_Office2007BlackNodeHolder table {
	vertical-align: bottom;
	*vertical-align: middle;
}

/* //////////////////// GROUP STYLES //////////////////// */


/****************************************************/
/* Added for WebDataTree Drag And Drop funtionality */
/****************************************************/


/*CSS class that will define the style applied before or after some node. 
If the space between the nodes is accepted as potential drop target this class will define 
some separator/dashed line that will show where the new node will be placed*/
/*The DropIndicator purpose is to guide the user where the node will be inserted 
when they drop it*/
.igdt_Office2007BlackDropIndicator
{
    border      : 1px solid #898989;
    padding     : 1px 8px 3px 4px;
    background  : #FFF2D0 url(./images/igdt_DropIndicatorBg.jpg) repeat-x scroll 0 0 ;
    color       : #24406f;
    cursor      : default;
    font-family : Segoe UI,Arial,Verdana,Helvetica,sans-serif;
    font-size   : 12px;

    height:20px;
}

.igdt_Office2007BlackDropIndicator img
{
    position:relative;
    top:3px;
    margin-right:5px;
    width:16px;
    height:16px;
}
.igdt_Office2007BlackDropIndicator span
{
    position:relative;
    top:-1px;
}

/*CSS class that will be applied just before the Dropping event is fired on a node if it is a possible drop target. For example when you drag over concrete node its color will change to alert the user he will drop inside the highlighted node.*/
.igdt_Office2007BlackDropTarget
{
    background: #ffe7a2;
}

/*Applied on the cloned node that is being dragged*/
.igdt_Office2007BlackDragMarkup
{
    cursor: move;
    padding:1px 3px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:xx-small;
}

/* Applied to the line shown, when inserting between two nodes.*/
.igdt_Office2007BlackDropInsertLine
{
  border: 2px dotted #000000;
}

.igdt_Office2007BlackNodeGroupDragDrop {
	list-style :none;	
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.igdt_Office2007BlackNodeGroupDragDrop li
{
    clear:left;
}

.igdt_Office2007BlackNodeHolderDragDrop
{
	white-space:nowrap;
}


.igdt_Office2007BlackNodeHolderDragDrop img 
{
    vertical-align:middle;
    float:left;
}