.igtbl_Office2007BlackControl
{
	cursor:default;
}


.igtbl_Office2007BlackPagerArea
{
	background-color:#979797;
	border-width:0px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}


.igtbl_Office2007BlackPageCurrent
{
	background-repeat:no-repeat;
	background-image: url(images/submit_hover.gif);
	margin-right:10px;
	padding:2px 6px 5px 5px;
	color:White;
}


.igtbl_Office2007BlackPageLink
{
	margin-right:10px;
	color:White;
}


.igtbl_Office2007BlackGroupByBox
{
	background-image: url(images/caption_bg.jpg);
	color:White;
}


.igtbl_Office2007BlackAddNewBox
{
	background-color:#3E3E3E;
	color:White;
}


.igtbl_Office2007BlackItem
{
	border:solid 1px Transparent;
	border-right-color:#D0D7E5;
	border-bottom-color:#D0D7E5;
	padding:0px 0px 0px 10px;
}


.igtbl_Office2007BlackFilterOperandButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/submit_disable.gif);
	border-width:0px;
	padding-top:2px;
	width: 18px;
}


.igtbl_Office2007BlackFilterDropDown
{
}


.igtbl_Office2007BlackFilterOperandDropDown
{
}


.igtbl_Office2007BlackAlt
{
}


.igtbl_Office2007BlackEdit
{
	background-color:White;
	font-size:x-small;
	font-family: Verdana;
	border:solid 1px Transparent;
	padding-top:6px;
	text-align:left;
	vertical-align:middle;
}


.igtbl_Office2007BlackButton
{
}


.igtbl_Office2007BlackFxdCell
{
}


.igtbl_Office2007BlackHeader
{
	background-color:#DFDFDF;
	background-repeat:repeat-x;
	background-image: url(images/igg_header.gif);
	border-width:0px;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
	padding-top:3px;
	padding-bottom:3px;
	color:#343434;
}


.igtbl_Office2007BlackFooter
{
	background-color:#474848;
	background-repeat:repeat-x;
	background-image: url(images/iguwg_footer.gif);
	border-width:0px;
}


.igtbl_Office2007BlackLabel
{
	background-color:#EDEDED;
	background-image:none;
	border-right-width:1px;
	border-right-color:Gainsboro;
	border-bottom-width:1px;
	border-bottom-color:#B6B6B6;
}


.igtbl_Office2007BlackExpArea
{
	background-color:#EDEDED;
	background-image:none;
	border-width:0px;
	border-right:solid 1px #B6B6B6;
	border-bottom:solid 1px #B6B6B6;
}


.igtbl_Office2007BlackGrpItem
{
}


.igtbl_Office2007BlackFxdHeader
{
}


.igtbl_Office2007BlackGroupBandLabel
{
}


.igtbl_Office2007BlackFxdFooter
{
}


.igtbl_Office2007BlackDropDown
{
	background-color:WhiteSmoke;
	font-size:xx-small;
	font-family: Verdana;
	border:solid 1px LightGrey;
}


.igtbl_Office2007BlackDropDownSel
{
}


.igtbl_Office2007BlackSelected
{
	background-color:#FFC875;
	background-repeat:repeat-x;
	background-image: url(images/igg_cellselected.gif);
	border-top-color:#CA9E62;
	border-bottom-color:#D0D7E5;
	color:Black;
}


.igtbl_Office2007BlackActiveBorderTopBottom
{
	border-bottom:solid 1px #D0D7E5;
}


.igtbl_Office2007BlackActiveBorderLeft
{
	border-left:solid 1px #D0D7E5;
}


.igtbl_Office2007BlackActiveBorderRight
{
	border-right:solid 1px #D0D7E5;
}

