.igspl_Office2007BlackControl
{
	border:solid 1px #CCCCCC;
}


.igspl_Office2007BlackPane
{
	background-color:White;
	background-repeat:repeat-x;
}


.igspl_Office2007BlackVSplitBar
{
	background-repeat:repeat-y;
	background-position:center ;
	background-image: url(./images/igspl_splitVert.gif);
	font-size:1px;
	cursor:e-resize;
}


.igspl_Office2007BlackHSplitBar
{
	background-color:#CCCCCC;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHoriz.gif);
	font-size:1px;
	height: 30px;
	cursor:n-resize;
}


.igspl_Office2007BlackVSplitBarHover
{
	background-image: url(./images/igspl_splitVertHover.gif);
}


.igspl_Office2007BlackHSplitBarHover
{
	background-repeat:repeat-x;
	background-image: url(./images/igspl_splitHorizHover.gif);
}


.igspl_Office2007BlackVSplitBarPressed
{

}


.igspl_Office2007BlackHSplitBarPressed
{
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(./images/igspl_splitHorizPressed.gif);
}


.igspl_Office2007BlackHSplitBarShadow
{
	background-image: url(./images/igspl_splitHorizHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_Office2007BlackVSplitBarShadow
{
	background-image: url(./images/igspl_splitVertHover.gif);
	border:dotted 1px Black;
	filter: alpha(opacity : 70);
	opacity: 0.7;
}


.igspl_Office2007BlackVSplitBarShadowLimit
{
}


.igspl_Office2007BlackHSplitBarShadowLimit
{
}


.igspl_Office2007BlackCollapseSplitBarButton
{
	cursor:pointer;
}


.igspl_Office2007BlackHSplitBarHeight
{
	height: 6px;
}


.igspl_Office2007BlackVSplitBarWidth
{
	width: 6px;
}


