.igsli_Office2007BlackControl
{
	overflow:hidden;
	border: none;
	background: transparent;
}
.igsli_Office2007BlackTicksHolderT
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-bottom:0px solid blue;
	margin-bottom:2px;
}
.igsli_Office2007BlackTicksHolderB
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-top:0px solid blue;
	margin-top:2px;
}
.igsli_Office2007BlackTickMinorT
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #333333;
	margin-top:2px;
	height:3px;
}
.igsli_Office2007BlackTickMajorT
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #333333;
	height:5px;
}
.igsli_Office2007BlackTickLastT
{
	width:1px;
	margin-left:-1px;
}
.igsli_Office2007BlackTickMinorB
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #333333;
	height:3px;
}
.igsli_Office2007BlackTickMajorB
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #333333;
	height:5px;
}
.igsli_Office2007BlackTickLastB
{
	width:1px;
	margin-left:-1px;
}
.igsli_Office2007BlackMarginH
{
	width:10px;
	font-size:1px;
	height:100%;
}
.igsli_Office2007BlackLabelsHolderH
{
	position:relative;
	width:100%;
	font-family:verdana;
	font-size:10px;
	color: #23262A;
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_Office2007BlackLabelEdgeH
{
	overflow:hidden;
	text-align:center;
	width:26px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
}
.igsli_Office2007BlackLabelT
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px;
	width:46px;
	height:14px; 
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
}
.igsli_Office2007BlackLabelB
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px;
	width:46px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
}
.igsli_Office2007BlackTrackH
{
	position:relative;
	text-align:left;
	margin-left:-1px;
	border:0px solid #CCCCCC;
	background:#252525;
	width:100%;
	font-size:1px;
	height:1px;
}
.igsli_Office2007BlackTrackValueH
{
	position:absolute;
	background:#900000;
	height:1px;
}
.igsli_Office2007BlackTrackValue2H
{
	position:absolute;
	background:#FD8C1F;
	height:1px;
}
.igsli_Office2007BlackButton
{
	margin:2px;
	cursor:pointer;
}
.igsli_Office2007BlackThumbsHolderH
{
	position:relative;
	z-index:1;
	font-size:1px;
	width:100%;
}
.igsli_Office2007BlackThumbH
{
	position:absolute;
	margin-left:-4px;
	margin-top:-8px;
	cursor: hand;
	z-index:2;
}
.igsli_Office2007BlackValueLabel
{
	white-space:nowrap;
	overflow:hidden;
	font-family:verdana;
	font-size:10px;
	text-align:center;
	width:46px;
	color: #808080;
}
.igsli_Office2007BlackValueLabelFloatT
{
	position:absolute;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	overflow:visible;
	width: auto;
	min-width: 28px;
	margin-left:-23px;
	margin-top:-28px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}
.igsli_Office2007BlackValueLabelFloatB
{
	position:absolute;
	overflow:visible;
	width: auto;
	min-width: 28px;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	margin-left:-23px;
	margin-top:10px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}

.igsli_Office2007BlackTicksHolderL
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-right:0px solid blue;
	text-align:left;
	margin-right:2px;
}
.igsli_Office2007BlackTicksHolderR
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-left:0px solid blue;
	text-align:left;
	margin-left:2px;
}
.igsli_Office2007BlackTickMinorL
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #333333;
	margin-left:2px;
	width:3px;
}
.igsli_Office2007BlackTickMajorL
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #333333;
	width:5px;
}
.igsli_Office2007BlackTickLastL
{
	height:1px;
	margin-top:-1px;
}
.igsli_Office2007BlackTickMinorR
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #333333;
	width:3px;
}
.igsli_Office2007BlackTickMajorR
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #333333;
	width:5px;
}
.igsli_Office2007BlackTickLastR
{
	height:1px;
	margin-top:-1px;
}
.igsli_Office2007BlackMarginV
{
	height:10px;
	font-size:1px;
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_Office2007BlackLabelEdgeV
{
	overflow:hidden;
	white-space:nowrap;
	width:20px;
	height:14px;
	font-family:verdana;
	font-size:10px;
	text-align:center;
}
.igsli_Office2007BlackLabelL
{
	position:absolute;
	overflow:hidden;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	margin-left: -25px;
	font-family:verdana;
	font-size:10px;
	text-align:right;
	color: #808080
}
.igsli_Office2007BlackLabelR
{
	position:absolute;
	overflow:visible;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	margin-left: 5px;
	font-family:verdana;
	font-size:10px;
	color: #808080
}

.igsli_Office2007BlackLabelsHolderV
{
	position:relative;
	text-align:left;
	height:100%;
	font-family:verdana;
	font-size:10px;
	width:20px;
}
.igsli_Office2007BlackTrackV
{
	position:relative;
	text-align:left;
	margin-top:-1px;
	border:0px solid blue;
	background:#252525;
	height:100%;
	font-size:1px;
	width:1px;
}
.igsli_Office2007BlackTrackValueV
{
	position:absolute;
	background:#900000;
	width:100%;
}
.igsli_Office2007BlackTrackValue2V
{
	position:absolute;
	background:#FD8C1F;
	width:100%;
}
.igsli_Office2007BlackThumbsHolderV
{
	position:relative;
	z-index:1;
	font-size:1px;
	height:100%;
}
.igsli_Office2007BlackThumbV
{
	position:absolute;
	margin-left:-8px;
	margin-top:-4px;
	z-index:2;
}
.igsli_Office2007BlackValueLabelFloatL
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:right;
	margin-top:-7px;	
	margin-left:-46px;
	width:auto;
	min-width: 28px;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}
.igsli_Office2007BlackValueLabelFloatR
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:left;
	margin-left:8px;
	margin-top:-7px;
	min-width: 28px;
	width: auto;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}

.igsli_Office2007BlackValueLabelFloatHover
{
	filter:alpha(opacity:100);
	opacity:1;
}
/* applied to control when it has focus and when rounded corners are disabled */
.igsli_Office2007BlackFocus
{
}
/* applied to control when mouse moved over it and when rounded corners are disabled */
.igsli_Office2007BlackHover
{
}
/* applied to control when it is disabled and when rounded corners are disabled */
.igsli_Office2007BlackDisabled
{
	background:#C0C0C0;
}
/* applied to track bar when control focus and when rounded corners of track are disabled */
.igsli_Office2007BlackTrackFocus
{
}
/* applied to track bar when mouse is moved over control and when rounded corners of track are disabled */
.igsli_Office2007BlackTrackHover
{
}
/* applied to track bar when control is disabled and when rounded corners of track are disabled */
.igsli_Office2007BlackTrackDisabled
{
	background:#A0A0A0;
}
/* applied to left edge of horizontal track bar */
.igsli_Office2007BlackTrackEdgeL
{
	position:absolute;
	width:6px;
	height:100%;
	top:0px;
	left:-5px;
	background:url(none);
}
/* applied to right edge of horizontal track bar */
.igsli_Office2007BlackTrackEdgeR
{
	position:absolute;
	width:7px;
	height:100%;
	top:0px;
	left:100%; 
	background:url(none) top right;
}
/* applied to top edge of vertical track bar */
.igsli_Office2007BlackTrackEdgeT
{
	position:absolute;
	width:100%;
	height:0px;
	top:-0px;
	left:0px;
	background:url(none);
}
/* applied to left edge of vertical track bar */
.igsli_Office2007BlackTrackEdgeB
{
	position:absolute;
	width:100%;
	height:0px;
	top:100%;
	left:0px;
	background:url(none) left bottom;
}
/* applied to left edge of horizontal track bar when TrackValue is enabled */
.igsli_Office2007BlackTrackValueEdgeL
{
	background:url(none);
}
/* applied to bottom edge of vertical track bar when TrackValue is enabled */
.igsli_Office2007BlackTrackValueEdgeB
{
	background:url(none);
}
