.igte_Office2007BlackEditWithButtons
{
	font-size: 10px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #E8E8E8;
	line-height:1px;
	height:20px;
	width: 130px;
	outline:0;
	border:solid 1px #898989;
}

.igte_Office2007BlackEdit::-ms-clear, .igte_Office2007BlackEditInContainer::-ms-clear
{
	display: none;
}

.igte_Office2007BlackEdit
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #E8E8E8;
	border:solid 1px #898989;
	outline:0;
}

.igte_Office2007BlackTextArea
{
	font-size: 12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: #E8E8E8;
	border:solid 1px #898989;
	outline:0;
	resize:none;
}

.igte_Office2007BlackEditInContainer
{
	font-size:12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	background-color: Transparent;
	border-width:0px;
	outline:0;
}

.igte_Office2007BlackFocus
{
	background-color: #FFFFFF;
	border-color:#A4A4A4;
}

.igte_Office2007BlackHover
{
	background-color: #FFFFFF;
}

.igte_Office2007BlackInner
{
}

.igte_Office2007BlackInnerFocus
{
}

.igte_Office2007BlackInnerHover
{
}

.igte_Office2007BlackButtonSize
{
	width:15px;
	height:100%;
}

.igte_Office2007BlackButton
{
	background-color: #E8E8E8;
	line-height:normal;
	border:solid 1px #E8E8E8;
	cursor: pointer;
}

.igte_Office2007BlackButtonFocus
{
}

.igte_Office2007BlackNullText
{
	color: #808080;
}

.igte_Office2007BlackButtonHover
{
	background-color: #FFE7A5;
	background-image: url(images/igte_spinbuttonbghover.gif);
	background-repeat: repeat-x;
	border:solid 1px #DBCE99;
}


.igte_Office2007BlackButtonPressed
{
	background-color: #FFD456;
	background-image: url(images/igte_spinbuttonbgpressed.gif);
	background-repeat: repeat-x;
	border:solid 1px #9A8F63;
}


.igte_Office2007BlackButtonDisabled
{
	background-image: none;
	background-color: #CCCCCC;
}

.igte_Office2007BlackButtonImg
{
}