﻿A
{
    font-weight: normal;
    font-size: 8pt;
    font-family: Helvatica,Verdana,Tahoma,Arial;
}

A:Hover
{
    color: Blue; /*changed*/ /*color:Blue;*/
    font-family: Helvatica,Verdana,Tahoma,Arial;
    text-decoration: underline;
}

BODY
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: normal;
    font-size: 8pt;
    text-transform: none;
    color: black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
}

TABLE
{
    font-weight: normal;
    font-size: 8pt;
    text-transform: none;
    color: black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
}

TD
{
    font-weight: normal;
    font-size: 8pt;
    text-transform: none;
    color: black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
}

.LeftPane
{
    vertical-align: top;
    text-align: left;
    width: 220px;
    background-color: #E4DFD4;
}

.RightPane
{
    vertical-align: top;
    text-align: left;
    background-color: #FFFFFF;
}

.GeneralTableHeading
{
    background-image: url(../../Images/Tan/bg-menu-main.jpg);
    color: Black;
}

.MasterPageTable
{
    width: 100%;
}

.MasterPageTable_TopTD
{
    text-align: left;
    vertical-align: top;
    width: 100%;
}

.MenuBarDIV
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    width: 100%;
}

.MenuBarLinkHover
{
    background-color: Gray;
    width: 100%;
    color: Black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 9px;
    height: 17px;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    cursor: pointer;
    text-decoration: none;
}

.MenuBarLink
{
    background-image: url(../../Images/Tan/bg-menu-main.jpg);
    width: 100%;
    color: Black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 9px;
    height: 17px;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    cursor: pointer;
    text-decoration: none;
}

.BorderedContainer
{
    border: 0px solid Gray;
    padding: 1px 1px 5px 1px;
    background-color: White;
}

.DraggablePanelHeader
{
    background-image: url(../../Images/Tan/bg-menu-main.jpg);
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
    color: Black;
    height: 17px;
    font-size: 8pt;
    padding-top: 3px;
    padding-left: 3px;
    cursor: move;
}

.SimplePanelFixedWidthDIV
{
    border: 0px solid Gray;
    padding: 1px 1px 5px 1px;
    width: 220px;
    background-color:#E4DFD4;
}

.SimplePanelFullWidthDIV
{
    border: 0px solid Gray;
    padding: 1px 1px 5px 1px;
}

.SimplePanelDIV
{
    border: 0px solid Gray;
    padding: 1px 1px 5px 1px;
}

.SimplePanelHeader
{
    background-image: url(../../Images/Tan/bg-menu-main.jpg);
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
    color: Black;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.SimplePanelHeaderNoBGSmall
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
    color: Black;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.SimplePanelHeaderNoBG
{
    /*background-image: url(../../Images/Tan/bg-menu-main.jpg);*/
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
    font-size: 14px;
    color: Black;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.SimplePanelHeaderNoBGwithBorder
{
    /*background-image: url(../../Images/Tan/bg-menu-main.jpg);*/
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
    font-size: 14px;
    color: Black;
    height: 20px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 2px solid #B1A491;
}

.DarkBottomBorder
{
    border-bottom: 2px solid #B1A491;
}

.SimplePanelTable
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 0px;
}

.SimplePanelBody
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    
}

.SimplePanelBody2
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#E4DFD4;
}
.SimplePanelBodyAdvancedSearch
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
   border:none !important;
   outline:none !important;
}

.SearchPanelBody
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.TopBorder
{
    border: 1px solid #6699FF;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.MasterPageLogoPanel
{
    height: 60px;
}

.MasterPageTable_BottomTD
{
    text-align: center;
    vertical-align: middle;
}

.MasterPageBottomPanel
{
    border: 1px solid Gray;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 8pt;
}

.MasterPageTable_FooterTD
{
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: Black;
}

.Field
{
    font-weight: normal;
    font-size: 8pt;
    text-transform: none;
    color: black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
    overflow: hidden;
}

.FieldLabel
{
    font-weight: bold;
    font-size: 8pt;
    text-transform: none;
    color: black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
}

.TextBoxLabel
{
    font-weight: bold;
    font-size: 8pt;
    text-transform: none;
    color: black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
    text-align: center;
}
.CaptionText
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 8pt;
    color: black;
}
.ErrorTextBlack
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 8pt;
    color: Black;
}
.ErrorTextRed
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 8pt;
    color: Red;
}
.FieldSmall
{
    font-weight: normal;
    font-size: 6pt;
    text-transform: none;
    color: black;
    font-family: Helvatica,Verdana,Tahoma,Arial;
}

.Login
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    background-color: white;
}

.LoginHeader
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    background-color: black;
}

.LoginText
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 8pt;
    text-align: center;
}

.LoginTextBold
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
    font-size: 8pt;
}

.GridViewTitleDIV
{
    text-align: center;
    border: 0px solid Gray;
    padding-bottom: 5px;
}

.HeaderGridView
{
    background-image: url(../../Images/Tan/bg-menu-main.jpg);
    height: 10px;
    color: Black;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}
.GridViewBackground
{
    background-image: url(../../Images/Tan/bg-menu-main.jpg);
}

.GridViewRowMouseHover
{
    background-image: url(../../Images/Tan/bg-hover.jpg);
}

.InventoryGridViewRowMouseHover
{
    background-image: url(../../Images/Tan/bg-hover-large.jpg);
}

.GridViewRowMouseOut
{
    background-image: none;
}

.CollapsibleHeaderPanelHover
{
    background-color: Gray;
    font-style: normal;
    font-weight: bold;
    color: Black;
    height: 20px;
}

.CollapsibleHeaderPanel
{
    background-image: url(../../Images/Tan/bg-menu-main.jpg);
    font-style: normal;
    font-weight: bold;
    color: Black;
    height: 20px;
}

.CollapsibleHeaderPanelNoBG
{
    font-style: normal;
    font-weight: bold;
    color: Black;
    height: 20px;
}


.CollapsibleAdvSearchPanel
{
    font-style: normal;
    color: Blue;
    text-decoration: underline;
    height: 16px;
}

.CollapsibleHeaderDIV
{
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    height: 20px;
}

.NonCollapsibleHeaderDIV
{
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
    height: 16px;
}

.PagerGridView
{
    font-style: normal;
    font-weight: normal;
    background-color: Gray;
    color: Black;
    height: 10px;
}

.FooterGridView
{
    font-style: normal;
    font-weight: normal;
    color: Black;
    height: 10px;
}

#WelcomeUserCell
{
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-weight: bold;
}

.HomeCompanyDescLabel
{
    height: auto;
    font-family: Helvatica,Verdana,Tahoma,Arial;
    font-size: 10pt;
}
.CalendarDIV
{
    z-index: 1000;
}
.ModalBackground
{
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.ItemTable
{
    border: 1px;
    border-color: Gray;
}
.LightColor
{
   background-color: #E4DFD4;
  
}
.MediumColor
{
    background-color: #D1C9B8;
}
.DarkColor
{
    background-color: #B1A491;
}

.treelinkHover:Hover
{
    text-decoration: underline !important;
    font-size: 12px;
    color: Black !important;
}


.MenuLink
{
    text-decoration: none;
    cursor: pointer;
    color: Blue;
        
    white-space: nowrap;
    margin-right: 4px;
    margin-left: 2px;
    font-size: 11px;
}

.Custom .ajax__tab_body
{
    padding-bottom: 2px;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 2px;
    background-color: #E4DFD4;
    border:0 !important;
}
   
 /* newly implemented */
.ajax__tab_default .ajax__tab_header
{
  border-bottom: solid 2px #B1A491 !important; 
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
  height:35px !important;
}

.Custom .ajax__tab_outer
{
    padding: 5px 19px !important;
    background: #D1C9B8;
    margin-right: 3px;
    outline:none;
    color:Black;
}

.Custom ajax__tab_active .ajax__tab_outer
{
    background:#B1A491 !important;
}
.Custom ajax__tab_tab
{
    color:Black;
    outline: none;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    background-image:none !important;
    padding:0px !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_inner {
    background-image:none !important;
    padding-left:0px !important;
}

.ajax__tab_xp .ajax__tab_body {
    border: 0px !important;
}

.ajax__tab_xp .ajax__tab_header {
    font-weight: normal !important;
    font-size: 8pt !important;
    text-transform: none !important;
    font-family: Helvatica,Verdana,Tahoma,Arial !important;
    height:39px !important;
    background-image:none !important;
}

.ajax__tab_xp .ajax__tab_body {
    font-weight: normal !important;
    font-size: 8pt !important;
    text-transform: none !important;
    font-family: Helvatica,Verdana,Tahoma,Arial !important;
}

.ClearMe {
    clear:both;
}

.HellowWorldPopup
{
    float:left !important;
}


.productlistdetails .igdm_MenuItemHorizontalRootActive > a
{
	color:blue;
}
.productlistdetails .igdm_MenuItemHorizontalRootSelected > a
{
	color:blue !important;
}
.productlistdetails .igdm_MenuScrollContainerRootHorizontal
{
    overflow:visible !important;
    height:26px !important;
    width:100% !important;
   
}
.treelink
    {
        color: Black;
        font-size: 12px;
    }
    .treelinkHover:hover
    {
        text-decoration: underline !important;
        font-size: 12px;
        color: Black;
    }